@import normalize
@import settings

@import bourbon/bourbon
@import base/base
@import neat/neat

@import custom/dropdown

@import custom/navigation
@import custom/hero
@import custom/cards
@import custom/maps
@import custom/flashes
@import custom/forms
@import custom/footer
@import custom/modal
@import custom/search_bar
@import custom/search_tools
@import custom/label_switch
@import custom/accordion_tabs
@import custom/expander

// General
a:hover
  cursor: pointer


// Structure
.messages
  margin: 0 2.5em 0.25em

section.content
  @include outer-container
  padding-top: 3.5em
  padding-bottom: 3.5em

  @include media($large-screen-up)
    margin-bottom: 95px

  @import custom/contact_us

  div.container-narrow
    @include shift(1)
    @include span-columns(10)

    @include media($large-screen-up)
      @include shift(2)
      @include span-columns(8)

section.mail
  @include outer-container
  aside
    @include span-columns(12)
    @include media($large-screen-up)
      @include span-columns(4)
  article
    @include span-columns(12)
    @include media($large-screen-up)
      @include span-columns(8)
    

// Message
.big-message
  font-size: 2em
  text-align: center
  font-weight: 300
  margin-top: 1em
  margin-bottom: 2em

// Helpers
.text-center
  text-align: center

.text-right
  text-align: right

.smaller
  font-size: smaller

.give-me-space-top
  margin-top: 3.5em

.give-me-some-space-top
  margin-top: 2.5em

.title
  font-weight: 300
  text-align: center
  font-size: 2em
  padding-right: 1.5em
  padding-left: 1.5em
  padding-bottom: 0.75em
  color: black

.left
  float: left

.right
  float: right

.hide
  display: none !important

// Panel
.panel-map-title
  margin-top: 1.25em

.panel-map
  margin: 1.75em -1.875em -1.875em
  display: block
  position: relative

.panel-map
  .button-top-left, .button-top-right
    position: absolute
    z-index: 99

  .button-top-left
    top: 0
    left: 0

  .button-top-right
    top: 0
    right: 0

// Button colors
button.gray
  $gray: #444
  background-color: $gray

  &:hover,
  &:focus
    background-color: darken($gray, 15%)


button.small
  font-size: $base-font-size * 0.8


.create-panel-button
  display: none

  @include media($medium-screen-up)
    margin-right: 1em
    float: right
    display: block

.create-panel-button-small-screen
  display: block
  text-align: center
  margin-top: -2em
  margin-bottom: 3em

  @include media($medium-screen-up)
    display: none


// Panel search
.advance-search-button-2
  margin-top: 1em

.search-panel
  @include outer-container

  .map
    @include span-columns(12)

    @include media($medium-screen-up)
      @include span-columns(9)

  .search-results
    @include span-columns(12)
    margin-top: 2em

    @include media($medium-screen-up)
      @include span-columns(3)
      margin-top: 0
      overflow-y: scroll
      height: 500px


    .search-result-item
      @include outer-container
      padding-bottom: 0.5em
      margin-bottom: 1em
      border-bottom: 1px dotted #F5F5F5

      .search-image
        @include span-columns(12)

      .search-content
        @include span-columns(12)
        padding-top: 0.5em

        span.name
          display: block
          font-weight: bold

        span.description
          display: block
          font-size: smaller
          color: #666

        span.contact
          font-size: smaller
.multi-check
  display: inline-block
  min-width: 90px
  min-height: 70px

.user_task
  background-color: #FCFCFC
  .date
    color: #A9A9A9
    margin-right: 15px
  .resume
    margin-left: 10px
    margin-bottom: 20px
    hr
      margin: 0
  &:hover
    //background-color: #f1f1f1
    a
      span
        font-weight: 600

.postpone_menu
  display: none
  input
    display: inline
    width: 174px

.person_information
  @include outer-container
  .card
    @include span-columns(6)
    @include media($medium-screen-up)
      @include span-columns(4)
  .attendance
    @include span-columns(6)
    @include media($medium-screen-up)
      @include span-columns(7)

.gray
  $gray: #9b9b9b
  background-color: $gray

  &:hover,
  &:focus
    background-color: darken($gray, 15%)