{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% load main_extras %}
{% block breadcrumb %}
    {% if member %}
        <li>
            <a href="{% url 'members:person_details' member.id %}">{% trans "person detail"|capfirst %}: {{ member.name }} {{ member.surname }}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {% trans title|capfirst %}
        </li>
    {% else %}
        <li>
            <a href="{% url 'members:home' %}">{% trans "people"|capfirst %}</a>
            <i class="fa fa-angle-right"></i>
        </li>
        <li>
            {% trans title|capfirst %}
        </li>
    {% endif %}
{% endblock %}

{% block content %}
    {% include 'hock/form.html' with form=form title=title %}
{% endblock %}
{% block javascripts_custom %}

    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/inputmask.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/inputmask.date.extensions.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/jquery.inputmask.js' %}"
            type="text/javascript"></script>
{% endblock %}
{% block scripts %}

    $('.date-picker').each(function () {
    $(this).inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
    });

    {% for field in fields %}
        if ($('#id_{{ field.slug }}').val() == ''){
        if ($('#id_{{ field.slug }}').hasClass('date-picker')){
        {% if field|get_value_from_items:entries %}
            $('#id_{{ field.slug }}').datepicker('setDate', new Date('{{ field|get_value_from_items:entries }}'));
        {% endif %}
        {#                $('#id_{{ field.slug }}').val('{{ field|get_value_from_items_in_date_format:entries }}');#}
        }else{
        $('#id_{{ field.slug }}').val('{{ field|get_value_from_items:entries }}');
        }
        $('#id_{{ field.slug }}').addClass('edited');
        }
    {% endfor %}
{% endblock %}