{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'members:person_details' person.id %}">{% trans "person detail"|capfirst %}: {{ person.name }} {{ person.surname }}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        {% trans title|capfirst %}
    </li>
{% endblock %}
{% block content %}
    {% include 'hock/form.html' with form=form title=title %}
{% endblock %}
{% block javascripts_custom %}
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/inputmask.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/inputmask.date.extensions.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/jquery.inputmask.js' %}"
            type="text/javascript"></script>
{% endblock %}
{% block scripts %}
    $('.date-picker').each(function () {
        $(this).inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
    });
{% endblock %}