{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% block stylesheets %}
    {{ block.super }}
{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'members:person_details' person.id %}">{% trans "person detail"|capfirst %}: {{ person.name }} {{ person.surname }}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        {% trans title|capfirst %}
    </li>
{% endblock %}
{% block content %}
    {% include 'hock/form.html' with form=form title=title %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-pin font-green"></i>
                {#            <span class="caption-subject bold uppercase"> {{ title }}</span>#}
                <span class="caption-subject bold uppercase"> {% trans 'others memberships of ' %} {{ person.name }}</span>
            </div>
        </div>
        <div class="portlet-body form">
            <ul>
                {% for membership_tmp in memberships %}
                    <li>{{ membership_tmp.membership.product.name }}, {% trans 'from' %} {{ membership_tmp.since }} {% trans 'to' %}  {{ membership_tmp.to }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
{% block javascripts_custom %}
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/inputmask.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/inputmask.date.extensions.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/jquery.inputmask.js' %}"
            type="text/javascript"></script>
{% endblock %}
{% block scripts %}
    $('.date-picker').each(function () {
    $(this).inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
    });


    $(".datetime-picker").each(function () {
    $(this).inputmask("d/m/y h:s", {"placeholder": "dd/mm/yyyy hh:ii"});
    });
{% endblock %}