{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% load forms_builder_tags %}
{% load main_extras %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"/>
{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'members:person_details' person.id %}">{% trans "person detail"|capfirst %}: {{ person.name }} {{ person.surname }}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        {% trans title|capfirst %}
    </li>
{% endblock %}
{% block content %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-pin font-green"></i>
                {#            <span class="caption-subject bold uppercase"> {{ title }}</span>#}
                <span class="caption-subject bold uppercase"> {% trans 'please, fill these fields' %}</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="{{ form.get_absolute_url }}" method="post"
                  {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                {% render_built_form form=form %}
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts_custom %}
    <script>
        $(document).ready(function () {
            {% for field in fields %}
                $('#id_{{ field.slug }}').val('{{ field|get_value_from_items:entries }}');
            {% endfor %}
            $('#id_{{ field_to_hide }}').val('{{ default_value }}');
            $('#id_{{ field_to_hide2 }}').val('{{ default_value2 }}');

            $('form select, textarea, input[type=text],input[type=number]').each(function () {
                $(this).addClass('form-control');
                if ($(this).val() != '') {
                    $(this).addClass('edited');
                }
            });
            $('form input[type=date]').each(function () {
                $(this).addClass('form-control edited');
            });
        })
    </script>
{% endblock %}