{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% load forms_builder_tags %}
{% load main_extras %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'members:person_details' person.id %}">{% trans "person detail"|capfirst %}: {{ person.name }} {{ person.surname }}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        {% trans title|capfirst %}
    </li>
{% endblock %}
{% block content %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-pin font-green"></i>
                {#            <span class="caption-subject bold uppercase"> {{ title }}</span>#}
                <span class="caption-subject bold uppercase"> {% trans 'please, fill these fields' %}</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form action="{{ form.get_absolute_url }}" method="post"
                  {% if form_for_form.is_multipart %}enctype="multipart/form-data"{% endif %}>
                {% include 'hock/form_horizontal.html' with form=form_person %}

                {% for field in form_person_membership %}
                    <div class="col-md-{% if width %}{{ width }}{% else %}6{% endif %}">
                        {% include 'hock/form_horizontal_field.html' with field=field %}
                    </div>
                {% endfor %}


                <div class="col-md-{% if width %}{{ width }}{% else %}6{% endif %}">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" id="id_voucher" readonly
                               value="{{ person_membership.voucher_product.total }}">
                        <label for="id_voucher">Total pagado</label>
                    </div>
                </div>
                <div class="col-md-{% if width %}{{ width }}{% else %}6{% endif %}">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" id="id_voucher" readonly
                               value="{{ person_membership.voucher_product }}">
                        <label for="id_voucher">N Boleta-Factura</label>
                    </div>
                </div>

                <div class="col-md-{% if width %}{{ width }}{% else %}6{% endif %}">
                    <div class="form-group form-md-line-input form-md-floating-label">
                        <input type="text" id="id_voucher_date" readonly
                               value="{{ person_membership.voucher_product.date_issue }}">
                        <label for="id_voucher_date">Fecha de Facturacion</label>
                    </div>
                </div>

                {% render_built_form form=form %}
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts_custom %}
    {#    <script src="{% static 'main/plugins/jquery-input-mask/dist/jquery.inputmask.bundle.js' %}" type="text/javascript"></script>#}
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/inputmask.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/inputmask.date.extensions.min.js' %}"
            type="text/javascript"></script>
    <script src="{% static 'main/plugins/jquery-input-mask/dist/inputmask/jquery.inputmask.js' %}"
            type="text/javascript"></script>

    <script>
        $(document).ready(function () {
            $('form input[type=date]').each(function () {
                $(this).addClass('form-control edited date-picker');
                $(this).attr('type', 'text');
            });

            {% for field in fields %}
                var value = '{{ field|get_value_from_items:entries }}';
                if ($('#id_{{ field.slug }}').is('ul')) {
                    var values = value.split(',');
                    $.each(values, function (index, value) {
                        values[index] = value.trim();
                    });
                    $('#id_{{ field.slug }} li').each(function (i) {
                                if ($.inArray($(this).find("label").text().trim(), values) != -1) {
                                    $(this).find('input').attr('checked', 'checked');
                                }
                            }
                    );
                } else if ($("[name={{ field.slug }}]").length > 1) {
                    $("[name={{ field.slug }}]").each(function () {
                        if ($(this).val() == value) {
                            $(this).attr('checked', 'checked')
                        }
                    });
                }
                else {
                    $('#id_{{ field.slug }}').val(value);
                }
            {% endfor %}
            $('#id_{{ field_to_hide }}').val('{{ default_value }}');
            $('#id_{{ field_to_hide2 }}').val('{{ default_value2 }}');

            $('form select, textarea, input[type=text],input[type=number]').each(function () {
                $(this).addClass('form-control');
                if ($(this).val() != '') {
                    $(this).addClass('edited');
                }
            });

            $('.date-picker').each(function () {
                $(this).inputmask("d/m/y", {"placeholder": "dd/mm/yyyy"});
            });

        })
    </script>
{% endblock %}