{% extends 'main/base_container.html' %}
{% block content %}
    <div class="container-narrow">

        <h1 class="title">{% if not member %} {{ form.form_meta.title }}{% else %} Agregando observation a {{ member.name }} {% endif %}</h1>

        <form role="form" action="." method="post" enctype="multipart/form-data" class="horizontal">
            {% csrf_token %}
            <fieldset>
                <legend>
                    Membresia
                </legend>
                {% include 'hock/form_horizontal.html' with form=form %}
            </fieldset>
            <div>
                <input type="submit" value="Guardar"/>
            </div>
        </form>
    </div>
{% endblock %}
