{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}
{% block search_page %}
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->

    <!-- END HEADER SEARCH BOX -->
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'members:home' %}">{% trans title|capfirst %}</a>
    </li>
{% endblock %}

{% block page_toolbar %}
    <a href="{% url 'members:new' %}" class="btn btn-fit-height blue pull-right">
        <span class="fa fa-plus"></span>
        {% trans 'create person'|capfirst %}
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'members:last_10_to_enter' %}" class="btn btn-circle btn-default ">
                <i class="icon-users"></i>
                {% trans 'last 10 visit'|capfirst %}
            </a>
        </div>
        <div class="col-md-6">
            <form class="" action="{% url 'members:search' %}" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{% trans 'search by name or dni' %}"
                           id="_search"
                           name="pattern" required/>
					<span class="input-group-btn">
					<button class="btn submit"><i class="icon-magnifier"></i></button>
					</span>
                </div>
            </form>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="table-actions-wrapper">
                            <span></span>
                        </div>

                        <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                            <thead>
                            <tr>
                                {% for column_title in columns_title %}
                                    <th>
                                        {{ column_title }}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            {% if total_column %}
                                <tfoot>
                                <tr>
                                    <th colspan="{{ total_column }}" style="text-align:right">Total:</th>
                                    <th></th>
                                </tr>
                                </tfoot>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts_plugins %}
    <script type="text/javascript"
            src="{% static 'main/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
    <script src="{% static 'main/scripts/datatable.js' %}"></script>
    <script>

        $(document).ready(function () {


            var oTable = new Datatable();

            oTable.init({
                src: $("#datatable_ajax"),
                onSuccess: function (grid, response) {
                    // grid:        grid object
                    // response:    json object of server side ajax response
                    // execute some code after table records loaded
                },
                onError: function (grid) {
                    // execute some code on network or other general error
                },
                onDataLoad: function (grid) {
                    // execute some code on ajax data load
                },
                loadingMessage: 'Loading...',
                dataTable: {
                    "dom": "<'row'<'col-md-4 col-sm-12'><'col-md-8 col-sm-12'<'table-group-actions pull-right'>>><'table-scrollable't><'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'>>",
                    "lengthMenu": [
                        [10, 20, 50, 100, 150, -1],
                        [10, 20, 50, 100, 150, "All"] // change per page values here
                    ],
                    "pageLength": 10, // default record count per page
                    {#                    "processing": true,#}
                    "serverSide": true,
                    "bInfo": true,
                    "order": [[1, "asc"]],
                    ajax: {
                        url: '{{ json_service }}',
                        type: 'POST'
                    },
                    {#                    "language": {"url": "{% static 'main/plugins/datatables/media/js/Spanish.json' %}"},#}
                    columns: [
                        {% for column_data in columns_data %}
                            {
                                data: "{{ column_data }}",
                                {% if column_data in columns_non_orderable %}"orderable": false,{% endif %}
                                {% if column_data in columns_hidden%}"visible": false,{% endif %}
                            }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    {% if total_column %}
                        "footerCallback": function (row, data, start, end, display) {
                            var api = this.api(), data;

                            // Remove the formatting to get integer data for summation
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '') * 1 :
                                        typeof i === 'number' ?
                                                i : 0;
                            };

                            // Total over this page
                            pageTotal = api
                                    .column({{ total_column }}, {page: 'current'})
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                            // Update footer
                            $(api.column({{ total_column }}).footer()).html(
                                    pageTotal
                            );
                        }
                    {% endif %}
                }
            });

            $('#tableFilter').on('click', function (e) {
                e.preventDefault();
                var value = $('#filterValue').val();
                oTable.setAjaxParam('query', value);
                if (value.indexOf('_in_range_') === 0) {
                    var since = $('#range_since').val();
                    var to = $('#range_to').val();
                    oTable.setAjaxParam('range_since', since);
                    oTable.setAjaxParam('range_to', to);
                }
                oTable.submitFilter();
            });

            {% if show_range_fields %}
                {% if show_timepicker %}
                    $(".form_meridian_datetime").datetimepicker({
                        isRTL: Metronic.isRTL(),
                        format: "dd/mm/yyyy HH:ii p",
                        showMeridian: true,
                        autoclose: true,
                        pickerPosition: (Metronic.isRTL() ? "bottom-left" : "bottom-right"),
                        todayBtn: true,
                        {#                        language: 'es'#}
                    });
                {% else %}
                    $('.date-picker').datepicker({
                        format: "dd/mm/yyyy",
                        rtl: Metronic.isRTL(),
                        orientation: "left",
                        autoclose: true
                    });
                {% endif %}

                var filterShowRange = [
                    {% for fr in filter_to_show_range_fields  %}
                        "{{ fr }}",
                    {% endfor %}
                ];

                function isInArray(value, array) {
                    return array.indexOf(value) > -1;
                }

                $('#filterValue').on('change', function () {
                    if (isInArray($(this).val(), filterShowRange)) {
                        $('#range_date').show();
                    } else {
                        $('#range_date').hide();
                    }
                });
            {% endif %}

            $('#_search').focus();
        });


    </script>
{% endblock %}
