{% extends 'main/layout.html' %}

{% load thumbnail %}
{% load i18n %}
{% load main_extras %}

{% block search_page %}
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
<form class="search-form search-form-expanded" action="{% url 'members:search' %}" method="GET">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="{% trans 'search by name or dni' %}"
                           id="_search"
                           name="pattern" required/>
					<span class="input-group-btn">
					<button class="btn submit"><i class="icon-magnifier"></i></button>
					</span>
                </div>
            </form>
    <!-- END HEADER SEARCH BOX -->
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'members:home' %}">{% trans title|capfirst %}</a>
    </li>
{% endblock %}

{% block page_toolbar %}
    <a href="{% url 'members:new' %}" class="btn btn-fit-height blue pull-right">
        <span class="fa fa-plus"></span>
        {% trans 'create person'|capfirst %}
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-6">
            <a href="{% url 'members:last_10_to_enter' %}" class="btn btn-circle btn-default ">
                <i class="icon-users"></i>
                {% trans 'last 10 visit'|capfirst %}
            </a>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <br>
    <div class="row">
        {% for member in members %}
            {% with person_membership=member.person.get_active_membership_of_person %}
                <div class="col-md-4">
                <!-- START widget-->
                  <div class="panel widget">
                     <div class="panel-body">
                        <div class="row row-table">
                           <div class="col-xs-6 text-center">
                               {% thumbnail member.person.image "96x96" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="Image" class="img-circle thumb96"/>
                                {% endthumbnail %}
                           </div>
                           <div class="col-xs-6">
                              <h3 class="mt0">
                                  <a href="{% url 'members:person_details' member.person.id %}">
                                    {{ member.person.name|first_word }} <br>{{ member.person.surname|first_word }}
                                  </a>
                              </h3>
                              <ul class="list-unstyled">
                                 <li class="mb-sm">
                                    <em class="fa fa-phone fa-fw"></em>{{ member.person.cellphone|default:'cel. no registrado' }}</li>
                                 <li class="mb-sm">
                                    <em class="fa fa-user fa-fw"></em>{{ member.person.nick|default:'sobrenombre no registrado' }}</li>
                                 <li class="mb-sm">
                                    <em class="fa fa-credit-card fa-fw"></em>{{ person_membership.membership.product.name }}</li>
                                 <li class="mb-sm">
                                    <em class="fa fa-calendar fa-fw"></em>{% trans 'period'|capfirst %}<br>
                                            {% trans 'from'|capfirst %}: {{ person_membership.since|date:"d-M-y" }} <br>
                                            {% trans 'to'|capfirst %}: {{ person_membership.to|date:"d-M-y" }}
                                 </li>
                                 <li class="mb-sm">
                                    <em class="fa fa-male fa-fw"></em>{{ member.person.created_by }}
                                 </li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="panel-body bg-blue-ebonyclay">
                        <div class="row row-table text-center">
                           <div class="col-xs-4">
                              <p class="m0 h3">
                                  <a href="{% url 'members:add_membership' member.person.id %}" class="btn btn-icon-only yellow-gold">
                                    <i class="fa fa-users"></i>
                                  </a>
                              </p>
                              <p class="m0 text-muted">{% trans 'add'|capfirst %} {% trans 'membership'|capfirst %}</p>
                           </div>
                           <div class="col-xs-4">
                              <p class="m0 h3">
                                  <a href="{% url 'members:add_attendance' member.person.id %}?keep_url=true" class="btn btn-icon-only green-jungle">
                                    <i class="fa fa-check"></i>
                                  </a>
                              </p>
                              <p class="m0 text-muted">{% trans 'add'|capfirst %} {% trans 'attendance'|capfirst %}</p>
                           </div>
                           <div class="col-xs-4">
                              <p class="m0 h3">
                                  {% if member.person.last_attendance %}
                                        {{ member.person.last_attendance.created_at|date:'d-b H:i' }}
                                  {% else %}
                                        00-00 00:00
                                  {% endif %}</p>
                              <p class="m0 text-muted">{% trans 'last visit'|capfirst %}</p>
                           </div>
                        </div>
                     </div>
                  </div>

                  <!-- END widget-->
                </div>

{#                <div class="col-md-4">#}
{#                    <!-- BEGIN Portlet PORTLET-->#}
{#                    <div class="portlet light {% if member.person.birthday|is_birthday %}birthday{% endif %}">#}
{#                        <div class="portlet-title">#}
{#                            <div class="caption font-green-sharp">#}
{#                                <a href="{% url 'members:person_details' member.person.id %}">#}
{#                                    <i class="icon-speech font-green-sharp"></i>#}
{#                                    <span class="caption-subject"> {{ member.person.name }} {{ member.person.surname }}</span>#}
{#                                    <span class="caption-helper">@{{ member.person.nick }}</span>#}
{#                                </a>#}
{#                            </div>#}
{#                            <div class="actions">#}
{#                                <div class="btn-group">#}
{#                                    <a class="btn btn-circle btn-default " href="javascript:;" data-toggle="dropdown">#}
{#                                        <i class="fa fa-tasks"></i> {% trans 'Options' %} <i#}
{#                                            class="fa fa-angle-down"></i>#}
{#                                    </a>#}
{#                                    <ul class="dropdown-menu pull-right">#}
{#                                        <li>#}
{#                                            <a href="{% url 'members:add_attendance' member.person.id %}?keep_url=true">#}
{#                                                <i class="fa fa-check"></i> {% trans 'add'|capfirst %} {% trans 'attendance'|capfirst %} {% trans 'for today'|capfirst %}#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="{% url 'members:add_membership' member.person.id %}">#}
{#                                                <i class="fa fa-plus"></i> {% trans 'add'|capfirst %} {% trans 'membership'|capfirst %}#}
{#                                            </a>#}
{#                                        </li>#}
{#                                        <li>#}
{#                                            <a href="{% url 'members:person_details' member.person.id %}">#}
{#                                                <i class="fa fa-gear"></i> {% trans 'details'|capfirst %} </a>#}
{#                                        </li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                                <a class="btn btn-circle btn-default"#}
{#                                   href="{% url 'members:add_attendance' member.person.id %}?keep_url=true"#}
{#                                   title="{% trans 'add'|capfirst %} {% trans 'attendance'|capfirst %} {% trans 'for today'|capfirst %}">#}
{#                                    <i class="fa fa-check"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="portlet-body">#}
{#                            <div class="scroller" style="height:400px" data-rail-visible="1" data-rail-color="yellow"#}
{#                                 data-handle-color="#a1b2bd">#}
{#                                <div class="thumbnail">#}
{#                                    {% thumbnail member.person.image "209x200" crop="center" as im %}#}
{#                                        <img src="{{ im.url }}"/>#}
{#                                    {% endthumbnail %}#}
{#                                </div>#}
{#                                <ul class="list-group">#}
{#                                    <li class="list-group-item">#}
{#                                        {% if person_membership %}#}
{#                                            <b>{% trans 'membership'|capfirst %}</b>:#}
{#                                            {{ person_membership.membership.product.name }} <br/>#}
{#                                            {% trans 'period'|capfirst %}:  {% trans 'from' %}#}
{#                                            {{ person_membership.since|date:"d-M-y" }} {% trans 'to' %}#}
{#                                            {{ person_membership.to|date:"d-M-y" }} <br/>#}
{##}
{#                                            {% if perms.main.view_who_created_member %}#}
{#                                                {% trans 'added by'|capfirst %}:#}
{#                                                {{ person_membership.created_by.first_name }} <br/>#}
{#                                            {% endif %}#}
{#                                        {% else %}#}
{#                                            {% trans 'any membserhip currently' %}#}
{#                                        {% endif %}#}
{#                                    </li>#}
{#                                    <li class="list-group-item">{% trans 'last visit'|capfirst %}:#}
{#                                        {% if member.person.last_attendance %}#}
{#                                            {{ member.person.last_attendance.created_at|date:'d-b H:i' }}#}
{#                                        {% endif %}#}
{#                                    </li>#}
{#                                    {% if member.person.birthday|is_birthday %}#}
{#                                        <li class="list-group-item">#}
{#                                            {% trans 'important'|capfirst %}:#}
{#                                            <b>#}
{#                                                {% blocktrans with name=member.person.name surname=member.person.surname years_old=member.person.birthday|years_old %}#}
{#                                                    today is the birthday of {{ name }} {{ surname }}, {{ years_old }}#}
{#                                                {% endblocktrans %} years old</b>#}
{#                                        </li>#}
{#                                    {% endif %}#}
{#                                    <li class="list-group-item">{% trans 'person added by'|capfirst %}:#}
{#                                        {{ member.person.created_by }}#}
{#                                    </li>#}
{#                                </ul>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <!-- END Portlet PORTLET-->#}
{#                </div>#}
            {% endwith %}
        {% endfor %}
    </div>

    {% if members.count == 0 %}
        <p class="text-center">
            <em>{% trans 'not found person' %}</em>
        </p>
    {% endif %}

{% endblock %}

{% block scripts %}
    Demo.init('members');
    $('.delete_link').click(function (e) {
    if (!confirm("Are you sure?")) {
    e.preventDefault();
    return false;
    }
    });

    $('#_search').focus();
{% endblock %}
