{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load main_extras %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'main/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/css/profile.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/css/tasks.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/css/todo.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'members:home' %}">{% trans 'members'|capfirst %}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        {% trans 'member'|capfirst %} : {{ person.name }} {{ person.surname }}
    </li>
{% endblock %}
{% block content %}
    <div class="row">
        {% with person_membership=person.get_active_membership_of_person %}
            <div class="col-md-12">
                <!-- BEGIN PROFILE SIDEBAR -->
                <div class="profile-sidebar" style="width: 250px;">
                    <!-- PORTLET MAIN -->
                    <div class="portlet light profile-sidebar-portlet">
                        <!-- SIDEBAR USERPIC -->
                        <div class="profile-userpic">
                            {% thumbnail person.image "250x250" crop="center" as im %}
                                <img src="{{ im.url }}" class="img-responsive"/>
                            {% endthumbnail %}
                        </div>
                        <!-- END SIDEBAR USERPIC -->
                        <!-- SIDEBAR USER TITLE -->
                        <div class="profile-usertitle">
                            <div class="profile-usertitle-name">
                                {{ person.name }} {{ person.surname }}
                            </div>
                            <div class="profile-usertitle-job">
                                {{ person.user.groups.first }}
                            </div>

                            <div class="margin-top-20 profile-desc-link">
                                <small>{% trans 'person added by'|capfirst %} {{ person.created_by.first_name }}</small>
                            </div>

                        </div>
                        <!-- END SIDEBAR USER TITLE -->
                        <!-- SIDEBAR BUTTONS -->
                        <div class="profile-userbuttons">
                            {% if perms.main.add_attendance %}
                                <a href="{% url 'members:add_attendance' person.id %}"
                                   class="btn btn-circle green-haze btn-sm">
                                    <i class="fa fa-check"></i>
                                    {% trans 'add' %} {% trans 'attendance'|capfirst %}
                                </a><br/><br/>
                            {% endif %}
                            {% if perms.main.add_personmembership %}
                                <a href="{% url 'members:add_membership' person.id %}"
                                   class="btn btn-circle btn-warning btn-sm">
                                    <i class="fa fa-plus"></i>
                                    {% trans 'add' %} {% trans 'membership'|capfirst %}
                                </a>
                            {% endif %}
                        </div>
                        <!-- END SIDEBAR BUTTONS -->
                        <!-- SIDEBAR MENU -->
                        <div class="profile-usermenu">
                            <ul class="nav">
                                {% if perms.accounts.change_person %}
                                    <li>
                                        <a href="{% url 'members:edit' person.id %}">
                                            <i class="icon-pencil"></i>
                                            {% trans 'edit'|capfirst %} {% trans 'person' %}</a>
                                    </li>
                                {% endif %}
                                {% if perms.accounts.delete_person %}
                                    <li>
                                        <a class="delete_link" href="{% url 'members:delete' person.id %}">
                                            <i class="icon-trash"></i>
                                            {% trans 'delete'|capfirst %} {% trans 'person' %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <!-- END MENU -->
                    </div>
                    <!-- END PORTLET MAIN -->
                    <!-- PORTLET MAIN -->

                    <!-- END PORTLET MAIN -->
                </div>
                <!-- END BEGIN PROFILE SIDEBAR -->
                <!-- BEGIN PROFILE CONTENT -->
                <div class="profile-content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="portlet light">
                                <div>
                                    <h4 class="profile-desc-title">{% trans 'information'|capfirst %}</h4>

                                    <div class="margin-top-20 profile-desc-link">
                                        <i class="fa fa-credit-card"></i>
                                        <strong>{% trans 'membership'|capfirst %}</strong>

                                        <p class="text-left" style="padding-left: 40px">
                                            {% if  person_membership %}
                                                {{ person_membership.membership.product.name }}<br/>
                                                {% trans 'from'|capfirst %}: {{ person_membership.since|date:"d-M-Y" }}
                                                <br/>
                                                {% trans 'to'|capfirst %}: {{ person_membership.to|date:"d-M-Y" }} <br/>
                                                {% trans 'target'|capfirst %}: {{ person_membership.observation }} <br/>

                                            {% else %}
                                                {% trans 'anyone' %}
                                            {% endif %}
                                        </p>
                                    </div>
                                    {% if  person_membership %}

                                    {% if perms.main.view_who_created_member %}
                                    <div class="margin-top-20 profile-desc-link">
                                        <i class="fa fa-child"></i>
                                        <strong>{% trans 'asociated by'|title %}</strong>

                                        <p class="text-left"
                                           style="padding-left: 40px">{{ person_membership.created_by.first_name }}</p>
                                    </div>
                                    {% endif %}

                                    <div class="margin-top-20 profile-desc-link">
                                        <i class="fa fa-calendar"></i>
                                        <strong>{% trans 'last visit'|title %}</strong>

                                        <p class="text-left" style="padding-left: 40px">
                                            {% if person.last_attendance %}
                                                {{ person.last_attendance.created_at|date:'d-b H:i' }}
                                            {% endif %}
                                        </p>

                                    </div>
                                    {% endif %}

                                </div>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <!-- BEGIN PORTLET -->
                            <div class="portlet light">
                                <div class="portlet-title tabbable-line">
                                    <div class="caption caption-md">
                                        <i class="icon-globe theme-font hide"></i>
                                        {#                                        <span class="caption-subject font-blue-madison bold uppercase">{% trans 'information' %}</span>#}
                                    </div>
                                    <ul class="nav nav-tabs">
                                        {% if perms.main.view_last_10_memberships %}
                                            <li class="active">
                                                <a href="#tab_1_1" data-toggle="tab">
                                                    {% trans 'memberships'|upper %} </a>
                                            </li>
                                        {% endif %}
                                        {% if perms.main.view_last_10_attendances %}
                                            <li class="">
                                                <a href="#tab_1_2" data-toggle="tab">
                                                    {% trans 'attendances'|upper %} </a>
                                            </li>
                                        {% endif %}
                                        <li class="">
                                            <a href="#tab_1_3" data-toggle="tab">
                                                {% trans 'prospectus'|upper %} </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="portlet-body">
                                    <!--BEGIN TABS-->
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab_1_1">
                                            <div class="scroller"
                                                 style="min-height: 220px; max-height: 620px; height: 420px"
                                                 data-always-visible="1" data-rail-visible1="0"
                                                 data-handle-color="#D7DCE2">
                                                {% for person_membership in last_10_memberships %}
                                                    <div class="todo-tasklist-item todo-tasklist-item-border-{% if not person_membership.active %}red{% else %}green{% endif %}">
                                                        <div class="todo-tasklist-item-title">
                                                                <span class="todo-tasklist-date"><i
                                                                        class="fa fa-calendar"></i>
                                                                    {{ person_membership.created_at|date:'d-M' }}
                                                                </span>
                                                            {{ person_membership.membership.product.name }} ( <i
                                                                class="fa fa-money"></i>: {{ person_membership.voucher_product }}
                                                            , <i
                                                                class="fa fa-file-text-o"></i> {{ person_membership.contract_number }}
                                                            )
                                                        </div>
                                                        <div class="expander-hidden" id="{{ user_task.id }}"
                                                             style="display: none;">
                                                            <div class="resume">
                                                                <div>
                                                                    <div class="col-md-12">

                                                                        <p>{% trans 'price' %}:
                                                                            s/.{{ person_membership.membership.product.price }}</p>

                                                                        <p>{% trans 'period' %}:
                                                                            {{ person_membership.since|date:'d-M-Y' }}
                                                                            / {{ person_membership.to|date:'d-M-Y' }}
                                                                        </p>

                                                                        <p>{% trans 'target person' %}: {{ person_membership.observation }}</p>
                                                                        {% if perms.main.view_who_created_member %}
                                                                        <p>{% trans 'membership added by' %}: {{ person_membership.created_by.first_name }}</p>
                                                                        {% endif %}
                                                                        <div>
                                                                            {% if person_membership.voucher_product %}
                                                                                <p>{% trans 'status' %}: {{ person_membership.voucher_product.get_status_display }} </p>
                                                                                <p>{% trans 'voucher' %}: {{ person_membership.voucher_product }} </p>
                                                                                <p>{% trans 'contract' %}: {{ person_membership.contract_number }} </p>
                                                                            {% else %}
                                                                                <p>{% trans 'status' %}: {% trans 'Unpaid' %} </p>
                                                                            {% endif %}
                                                                        </div>
                                                                        <div class="actions">

                                                                            <a href="{% url 'members:edit_voucher' person_membership.id %}"
                                                                               class="btn blue">
                                                                                <i class="fa fa-money"></i>
                                                                                {% if not person_membership.voucher_product %}
                                                                                    {% trans 'charge an active' %}
                                                                                {% else %}
                                                                                    ver recibo
                                                                                {% endif %}
                                                                            </a>

                                                                            {% if person_membership.voucher_product %}

                                                                                <a class="btn green"
                                                                                   title="{% trans 'contract' %}"
                                                                                   href="{% url 'members:contract' person_membership.id %}">
                                                                                    <i class="fa fa-file-text-o"></i>
                                                                                    {% trans 'contract' %}
                                                                                </a>


                                                                                {% if perms.main.add_frozenpersonmembership %}
                                                                                    <a class="btn yellow"
                                                                                       title="{% trans 'freeze' %} {% trans 'membership' %}"
                                                                                       href="{% url 'members:freeze_membership' person.id person_membership.id %}">
                                                                                        <i class="icon-ban"></i>
                                                                                        {% trans 'freeze' %}
                                                                                    </a>
                                                                                {% endif %}

                                                                            {% endif %}

                                                                            {% if perms.main.change_personmembership %}
                                                                                <a class="btn btn-circle btn-icon-only blue"
                                                                                   title="{% trans 'edit' %} {% trans 'membership' %}"
                                                                                   href="{% url 'members:edit_membership' person.id person_membership.id %}">
                                                                                    <i class="icon-pencil"></i>
                                                                                </a>
                                                                            {% endif %}

                                                                            {% if perms.main.delete_personmembership %}
                                                                                <a class="btn btn-circle btn-icon-only red"
                                                                                   title="{% trans 'delete' %} {% trans 'membership' %}"
                                                                                   href="{% url 'members:delete_membership' person.id person_membership.id %}">

                                                                                    <i class="icon-trash"></i></a>
                                                                            {% endif %}

                                                                        </div>
                                                                        {% if person_membership.freezing %}
                                                                            <hr>
                                                                            {% trans 'freeze, person cannot get into the gym during' %}
                                                                            :
                                                                            <ul>
                                                                                {% for freeze in person_membership.freezing %}
                                                                                    <li>{{ freeze.since }}
                                                                                        - {{ freeze.to }}

                                                                                        {% if perms.main.delete_frozenpersonmembership %}
                                                                                            <a class="btn btn-circle btn-icon-only red"
                                                                                               title="{% trans 'delete' %} {% trans 'freeze' %}"
                                                                                               href="{% url 'members:delete_freeze_membership' person.id freeze.id %}">
                                                                                                <i class="icon-trash"></i></a>
                                                                                        {% endif %}
                                                                                    </li>
                                                                                {% endfor %}

                                                                            </ul>
                                                                        {% endif %}
                                                                    </div>

                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_1_2">
                                            <div class="scroller"
                                                 style="min-height: 220px; max-height: 520px;height: 420px"
                                                 data-always-visible="1" data-rail-visible1="0"
                                                 data-handle-color="#D7DCE2">
                                                {% for attendance in last_10_attendances %}
                                                    <div class="todo-tasklist-item todo-tasklist-item-border-green">
                                                        <div class="todo-tasklist-item-title">
                                                                <span class="todo-tasklist-date"><i
                                                                        class="fa fa-calendar"></i>
                                                                    {{ attendance.created_at|date:'d-M H:i ' }}
                                                                </span>
                                                        </div>
                                                        <div class="expander-hidden" style="display: none;"
                                                             id="{{ attendance.id }}">
                                                            <div class="resume">
                                                                {{ person.name }}
                                                                {% if not attendance.is_past_due %}
                                                                    {% trans 'is doing' %}{% else %}
                                                                    {% trans 'did' %}{% endif %}:
                                                                {% for excercise in attendance.exercises.all %}
                                                                    {{ excercise.name }}
                                                                    , {% endfor %}
                                                            </div>
                                                            {% if perms.main.add_exercise_to_attendance %}
                                                                <div>
                                                                    {% if not attendance.exercises %}
                                                                        {% if not attendance.is_past_due %}
                                                                            {% trans 'doing' %}{% else %}
                                                                            {% trans 'done' %}
                                                                        {% endif %}
                                                                    {% endif %}
                                                                    <select class="form-control"
                                                                            style="width: 100px; display: inline">
                                                                        <option value="">{% trans 'choose one' %}</option>
                                                                        {% for exercise in exercises %}
                                                                            <option value="{{ exercise.id }}">{{ exercise.name }}</option>
                                                                        {% endfor %}
                                                                    </select>
                                                                    <a href="#"
                                                                       class="save_exercise_link btn btn-circle btn-primary">{% trans 'add' %}</a>
                                                                </div>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab_1_3">
                                            <div class="scroller"
                                                 style="min-height: 220px; max-height: 520px; height: 320px;"
                                                 data-always-visible="1" data-rail-visible1="0"
                                                 data-handle-color="#D7DCE2">
                                                <div class="table-scrollable">
                                                    <table class="table table-hover">
                                                        <tr>
                                                            <th>{% trans "question" %}</th>
                                                            <th>{% trans "answer" %}</th>
                                                        </tr>
                                                        {% for field in fields %}
                                                            <tr class="{% cycle on,off as row %}">
                                                                <td class="field">{{ field.label }}</td>
                                                                <td class="filter last">{% for answer in entries %}
                                                                    {% if answer.field_id == field.id %}
                                                                        {{ answer.value }},
                                                                    {% endif %}
                                                                {% endfor %}
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--END TABS-->
                                </div>
                            </div>
                            <!-- END PORTLET -->
                        </div>
                    </div>
                </div>
                <!-- END PROFILE CONTENT -->
            </div>
        {% endwith %}
    </div>
{% endblock %}
{% block javascripts_custom %}
    <script>
        $(document).ready(function () {
            $(document).on('click', '.todo-tasklist-item-title', function () {
                var $toToggle = $($($(this).parent()).find('.expander-hidden'));
                if ($toToggle.is(':visible')) {
                    $('.expander-hidden').hide();
                } else {
                    $('.expander-hidden').hide();
                    $toToggle.toggle();
                }


            });

            $('.accordion-tabs-minimal').each(function (index) {
                $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
            });
            $('.accordion-tabs-minimal').on('click', 'li > a.tab-link', function (event) {
                if (!$(this).hasClass('is-active')) {
                    event.preventDefault();
                    var accordionTabs = $(this).closest('.accordion-tabs-minimal');
                    accordionTabs.find('.is-open').removeClass('is-open').hide();

                    $(this).next().toggleClass('is-open').toggle();
                    accordionTabs.find('.is-active').removeClass('is-active');
                    $(this).addClass('is-active');
                } else {
                    event.preventDefault();
                }
            });

            $('.nav-tabs li:first').find('a').click();

        });


        $('.save_exercise_link').click(function (e) {
            e.preventDefault();

            var $expanderHidden = $(this).parents('.expander-hidden');
            var exerciseId = $($expanderHidden.find('select')).val();
            var attendanceId = $expanderHidden.attr('id');
            if (exerciseId != '') {
                $.post('{% url 'members:add_exercise' %}', {
                    exercise_id: exerciseId,
                    attendance_id: attendanceId
                }, function () {
                    $($expanderHidden.find('.resume')).append($($expanderHidden.find('option:selected')).text() + ",");
                });
            }

        });
    </script>
{% endblock %}
