{% extends 'main/base_container.html' %}
{# TODO delete this file#}
{% load thumbnail %}
{% load forms_builder_tags %}

{% block content %}
    {% render_built_form form=form %}


    <form role="search" id="searchForm" style="max-width: 68em" action="." method="post">
    {% csrf_token %}
        <div class="search-bar">
            <input type="search" placeholder="Buscar socio, nombre o apellido" id="_search" name="pattern" required="required"/>
            <button type="submit">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/search-icon.png"
                     alt="Search Icon">
            </button>
        </div>

        <div class="search-tools advance-search hide">
            <div class="filter">
                <label>Tipo</label>

                <div>
                    <ol id="panel_type_id">
                        {% for panel_type in panels_type %}
                            <li>
                                <input id="panel-1" type="checkbox" value="1">
                                <label for="panel-1">panel-1</label>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
            <div class="filter">
                <label>Empresa</label>

                <div>
                    <ol id="company_id">
                            <li>
                                <input id="company-1" type="checkbox" value="company 1">
                                <label for="company-1">company 1</label>
                            </li>
                    </ol>
                </div>
            </div>

            <p class="text-right smaller advance-search-button advance-search-button-1 hide">
                <a>Búsqueda avanzada</a>
            </p>
        </div>

        <p class="text-right smaller advance-search-button advance-search-button-2">
            <a>Búsqueda avanzada</a>
        </p>
    </form>



    <p class="create-panel-button">
        <a href="{% url 'members:new' %}" class="button">
            Crear socio
        </a>
    </p>

    <h1 class="title">Mis socios</h1>
    <p class="create-panel-button-small-screen">
        <a href="{% url 'members:new' %}" class="button">
            Crear socio
        </a>
    </p>

    {% if members %}

        <div class="cards">
            {% for member in members %}
                {% if member.person %}
                    {% with person_membership=member.person.get_active_membership_of_person %}
                        <div class="outer-card">
                            <div class="card">
                                <div class="card-image">
                                    {% thumbnail member.person.image "600x450" crop="center" as im %}
                                        <img src="{{ im.url }}"/>
                                    {% endthumbnail %}
                                </div>
                                <div class="card-header">
                                    {{ member.person.nick }} - {{ member.person.name }} {{ member.person.surname }}
                                </div>
                                <div class="card-copy">

                                    <p>Membresía: {% if person_membership %}<b>{{ person_membership.membership.product.name }}</b>, del {{ person_membership.since|date:"d-M" }} al {{ person_membership.to|date:"d-M" }}, asociado por {{ person_membership.created_by.person.name }}{% else %}
                                        ninguna{% endif %}
                                    </p>

                                    <p>{{ panel.district }}</p>

                                    <p>{{ panel.street }}</p>
                                    {% if perms.main.view_who_created_member %}
                                        <p>
                                            <small>persona inscrita
                                                por: {{ member.person.created_by.person.name }} {{ member.person.created_by.person.surname }}</small>
                                        </p>
                                    {% endif %}
                                    {% if not person_membership %}
                                        <a href="{% url 'members:add_membership' member.person.id %}">Agregar
                                            Membresia</a> |
                                    {% endif %}
                                    <a href="{% url 'members:edit' member.person.id %}">editar</a> |
                                    <a class="delete_link" href="{% url 'members:delete' member.id %}">eliminar</a>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endif %}
            {% endfor %}
        </div>
        <p class="text-center give-me-space-top">
            <a href="{% url 'members:new' %}" class="button">Crear socio</a>
        </p>

    {% else %}
        <p class="text-center">
            <em>No tienes socios aún. <a href="{% url 'members:new' %}">Puedes crear un socio aquí</a></em>
        </p>
    {% endif %}
{% endblock %}

{% block footer_scripts %}
    <script>
        $('.delete_link').click(function (e) {
            if (!confirm("Are you sure?")) {
                e.preventDefault();
                return false;
            }
        });
    </script>
{% endblock %}
