{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% load main_extras %}
{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"/>

{% endblock %}
{% block breadcrumb %}
    <li>
        <a href="{% url 'members:person_details' person.id %}">{% trans "person detail"|capfirst %}: {{ person.name }} {{ person.surname }}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        {% trans title|capfirst %}
    </li>
{% endblock %}
{% block content %}
    <div class="portlet light bordered" ng-controller="VoucherCtrl"
         ng-init="discount={{ voucher.discount|coma_to_point }}; subtotal={{ voucher.subtotal|coma_to_point }};
         total={% if voucher.total == 0 %}{{ voucher.subtotal|coma_to_point }}{% else %}{{ voucher.total|coma_to_point }}{% endif %};
         payed={% if voucher.payed == 0 %}{{ voucher.subtotal|coma_to_point }}{% else %}{{ voucher.payed|coma_to_point }}{% endif %};
         debt={{ voucher.debt|coma_to_point }}; showPrintButton=false ">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-pin font-green"></i>
                {#            <span class="caption-subject bold uppercase"> {{ title }}</span>#}
                <span class="caption-subject bold uppercase"> {% trans 'please, fill these fields' %}</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" action="." method="post" enctype="multipart/form-data" class="horizontal">
                <br>
                <h1>{% trans 'total' %}: {% verbatim %}{{ total }}{% endverbatim %}</h1>
                <br>
                <hr>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" id="form_control_1" placeholder="Enter your name"
                               value="{{ person.name }} {{ person.surname }}" readonly>
                        <label for="form_control_1">{% trans 'person'|capfirst %}</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <input type="text" class="form-control" id="form_control_1" placeholder="Enter your name"
                               value="{{ voucher.description }}" readonly>
                        <label for="form_control_1">{% trans 'concept'|capfirst %}</label>
                        <span class="help-block"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-group left-addon right-addon">
                            <span class="input-group-addon">s/.</span>
                            <input type="text" class="form-control" ng-model="subtotal" readonly>
                            <label for="form_control_1">{% trans 'subtotal'|capfirst %}</label>
                        </div>
                    </div>
                </div>

                {% csrf_token %}
                {% include 'hock/form_horizontal.html' with form=form %}
                <div class="col-md-6">
                    <div class="form-group form-md-line-input">
                        <div class="input-group left-addon right-addon">
                            <span class="input-group-addon">s/.</span>
                            <input type="text" class="form-control" ng-model="debt" readonly>
                            <label for="form_control_1">{% trans 'debt'|capfirst %}</label>
                        </div>
                    </div>
                </div>

                {#                <div class="col-md-6">#}
                {#                    <div class="form-group form-md-line-input">#}
                {#                        <div class="input-group left-addon right-addon">#}
                {#                            <span class="input-group-addon">s/.</span>#}
                {#                            <input type="text" class="form-control" ng-model="total" readonly>#}
                {#                            <label for="form_control_1">{% trans 'total'|capfirst %}</label>#}
                {#                        </div>#}
                {#                    </div>#}
                {#                </div>#}

                <input type="submit" class="btn btn-lg blue" value="{% if form.initial %}{% trans 'save' %}{% else %}{% trans 'update' %}{% endif %}"/>
                <input type="button" class="btn btn-lg" value="{% trans 'print voucher' %}" {% verbatim %} ng-show="showPrintButton" {% endverbatim %}/>
            </form>
        </div>
    </div>
{% endblock %}
{% block javascripts_custom %}
    <script type="text/javascript"
            src="{% static 'main/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/angular/angular.min.js' %}"></script>
    <script>
        var app = angular.module('AppGymi', []);
        app.controller('VoucherCtrl', function ($scope) {
            console.log($scope.total);

            if ($scope.total == 0.0 ) {
                $scope.total = $scope.subtotal;
            }

            var observationLabel = $('#id_observation').parent().find('label').text();

            $scope.changeDiscount = function () {
                var discount = ($scope.discount != null && $scope.discount > -1) ? $scope.discount : 0;

                $scope.total = $scope.subtotal - discount;
                $scope.payed = $scope.total;


                if (discount > 0) {
                    $('#id_observation').attr('required', 'required');
                    $('#id_observation').parent().find('label').text(observationLabel+ ' {% trans 'required' %}')
                } else {
                    $scope.total = $scope.subtotal;
                    $('#id_observation').removeAttr('required');
                    $('#id_observation').parent().find('label').text(observationLabel)
                }

                if( $scope.discount < 0){$scope.discount=0;}
                $scope.showPrintButton = $scope.debt==0;

            };

            $scope.changePayed = function () {
                $scope.debt = $scope.total - $scope.payed;
                $scope.showPrintButton = $scope.debt==0;
            };

        });
    </script>
{% endblock %}