{% extends 'main/base_container.html' %}
{% load i18n %}
{% block content %}
    <div class="container-narrow">
        <h1 class="title">{% if not member %} {{ form.form_meta.title }}{% else %} Actualizando Persona {% endif %}</h1>

        <form role="form" action="." method="post" enctype="multipart/form-data" class="horizontal">
            {% csrf_token %}
            <fieldset>
                <legend>
                    {% trans 'person ' %}
                </legend>
                {% include 'hock/form_horizontal.html' with form=form %}
            </fieldset>
            <div style="float: right;display: inline-flex;">
                <input type="submit" value="{% trans 'save' %}" style="margin:1.75em auto 1.25em 10px"/>
                <input type="submit" value="{% trans 'save' %} {% trans 'and add membership'%}" name="_add_membership" style="margin:1.75em auto 1.25em 10px"/>
                <input type="submit" value="{% trans 'save' %} {% trans 'and add prospectus' %}" name="_add_prospectus" style="margin:1.75em auto 1.25em 10px"/>
            </div>
        </form>
    </div>
{% endblock %}
