{% extends 'main/layout.html' %}
{% load static %}

{% load thumbnail %}
{% block more_styles %}
    <link rel="stylesheet" href="{% static 'main/angular/calendar.css' %}" media="screen"/>
{% endblock %}

{% block content %}
    <div ng-controller="calendarDemo">
        <p class="create-panel-button">
            <a href="{% url 'memberships:new' %}" class="button">
                crear tarea
            </a>
        </p>
        {% verbatim %}
        <h1 class="title">Agenda <br/>
            <small style="font-size: 60%">{{ day.format('dddd')}}, {{ day.format('L')}}</small>
        </h1>

        {% endverbatim %}
        <p class="create-panel-button-small-screen">
            <a href="{% url 'memberships:new' %}" class="button">
                crear tarea
            </a>
        </p>

        <section class="mail">

            <aside>
                <calendar selected="day"></calendar>
            </aside>
            <article>
                <ul class="accordion-tabs-minimal">
                    <li class="tab-header-and-content">
                        <a href="#" class="tab-link is-active">Por Hacer</a>

                        <div class="tab-content">
                            <p>
                                {% verbatim %}

                            <div class="expander user_task" ng-repeat="userTask in userTasksAtDate">
                                <a href="javascript:void(0)"
                                   class="js-expander-trigger expander-trigger expander-hidden">
                                    {{ $index+1 }}. <span>{{ userTask.action }} a {{ userTask.name }}</span>

                                </a>

                                <div id="js-expander-content" class="expander-content">
                                    <p>{{userTask.description}}</p>

                                    <div class="resume" ng-bind-html="userTask.resume"></div>
                                    <textarea ng-model="userTask.resumeToday"
                                              placeholder="resumen de lo realizado en la tarea"></textarea>
                                    <small>esta tarea fue creada "{{ userTask.event }}"</small>
                                    <div class="right">
                                        <a ng-click="checkAsDone(userTask, $index)" href="#" class="done_link">hecho</a>
                                        | <a>posponer</a>
                                    </div>
                                    <hr/>
                                </div>
                            </div>

                            {% endverbatim %}

                            </p>
                        </div>
                    </li>
                    <li class="tab-header-and-content">
                        <a href="#" class="tab-link">Pospuesto</a>

                        <div class="tab-content">
                            <p>
                                Tareas Pospuestas
                            <ul>
                                <li>Tarea 1</li>
                                <li>Tarea 2</li>
                                <li>Tarea 3</li>
                                <li>Tarea 4</li>
                            </ul>
                            </p>
                        </div>
                    </li>
                    <li class="tab-header-and-content">
                        <a href="#" class="tab-link">Hecho</a>

                        <div class="tab-content">
                            <p>
                                {% verbatim %}

                            <div class="expander user_task" ng-repeat="userTask in userTasksDoneAtDate">
                                <a href="javascript:void(0)"
                                   class="js-expander-trigger expander-trigger expander-hidden">
                                    {{ $index+1 }}. <span>{{ userTask.action }} a {{ userTask.name }}</span>

                                </a>

                                <div id="js-expander-content" class="expander-content">
                                    <p>{{userTask.description}}</p>

                                    <div class="resume" ng-bind-html="userTask.resume"></div>

                                    <textarea ng-model="userTask.resumeToday"
                                              placeholder="resumen de lo realizado en la tarea"></textarea>
                                    <small>esta tarea fue creada "{{ userTask.event }}"</small>
                                    <div class="right">
                                        <a ng-click="checkAsDone(userTask)" href="#" class="done_link">hecho</a> | <a>posponer</a>
                                    </div>
                                    <hr/>
                                </div>
                            </div>

                            {% endverbatim %}

                            </p>
                        </div>
                    </li>
                </ul>
            </article>
        </section>
    </div>
{% endblock %}

{% block footer_scripts %}
    <script type="text/javascript" src="{% static 'main/angular/angular.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/angular/angular-sanitize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/angular/moment-with-locales.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.accordion-tabs-minimal').each(function (index) {
                $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
            });
            $('.accordion-tabs-minimal').on('click', 'li > a.tab-link', function (event) {
                if (!$(this).hasClass('is-active')) {
                    event.preventDefault();
                    var accordionTabs = $(this).closest('.accordion-tabs-minimal');
                    accordionTabs.find('.is-open').removeClass('is-open').hide();

                    $(this).next().toggleClass('is-open').toggle();
                    accordionTabs.find('.is-active').removeClass('is-active');
                    $(this).addClass('is-active');
                } else {
                    event.preventDefault();
                }
            });

            $(document).on('click', '.js-expander-trigger', function () {
                $(this).toggleClass("expander-hidden");
            });
        });
        moment.locale('es');
    </script>
    <script type="text/javascript" src="{% static 'main/angular/app.js' %}"></script>
{% endblock %}