{% extends 'main/layout.html' %}
{% load static %}
{% load i18n %}
{% block breadcrumb %}
    <li>
        <a>{% trans 'tasks'|capfirst %}</a>
    </li>
{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'main/css/todo.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN TODO SIDEBAR -->
            <div class="todo-sidebar">
                <div class="portlet light">
                    <div class="portlet-title">
                        <div class="caption" data-toggle="collapse" data-target=".todo-project-list-content">
                            <span class="caption-subject font-green-sharp bold uppercase">{% trans 'tasks'|upper %} </span>
                            <span class="caption-helper visible-sm-inline-block visible-xs-inline-block">click to view project list</span>
                        </div>
                    </div>
                    <div class="portlet-body todo-project-list-content" style="height: auto;">
                        <div class="todo-project-list">
                            <ul class="nav nav-pills nav-stacked">
                                <li class="{% if user_tasks_type == 'todo' %}active{% endif %}">
                                    <a href="{% if user_tasks_type == 'todo' %}#{% else %}{% url 'diary:tasks_todo' %}{% endif %}">
{#                                        <span class="badge badge-success"> 6 </span> #}
                                        {% trans 'to do' %} </a>
                                </li>
                                <li class="{% if user_tasks_type == 'postpone' %}active{% endif %}">
                                    <a href="{% if user_tasks_type == 'postpone' %}#{% else %}{% url 'diary:tasks_postpone' %}{% endif %}">
{#                                        <span class="badge badge-success"> 2 </span> #}
                                        {% trans 'postpone' %} </a>
                                </li>
                                <li class="{% if user_tasks_type == 'done' %}active{% endif %}">
                                    <a href="{% if user_tasks_type == 'done' %}#{% else %}{% url 'diary:tasks_done' %}{% endif %}">
{#                                        <span class="badge badge-success badge-active"> 3 </span> #}
                                        {% trans 'done' %}
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END TODO SIDEBAR -->
            <!-- BEGIN TODO CONTENT -->
            <div class="todo-content">
                <div class="portlet light">
                    <!-- PROJECT HEAD -->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-bar-chart font-green-sharp hide"></i>
                            <span class="caption-helper">Tasks:</span> &nbsp; <span
                                class="caption-subject font-green-sharp bold uppercase">{{ title }}</span>
                        </div>
                        <div class="actions">
                            <div class="btn-group">
                                <ul class="dropdown-menu pull-right">
                                    <li>
                                        <a href="javascript:;">
                                            <i class="i"></i> New Task </a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Pending <span class="badge badge-danger">
													4 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Completed <span class="badge badge-success">
													12 </span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            Overdue <span class="badge badge-warning">
													9 </span>
                                        </a>
                                    </li>
                                    <li class="divider">
                                    </li>
                                    <li>
                                        <a href="javascript:;">
                                            <i class="i"></i> Delete Project </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- end PROJECT HEAD -->
                    <div class="portlet-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slimScrollDiv"
                                     style="position: relative; overflow: hidden; width: auto; height: 800px;">
                                    <div class="scroller"
                                         style="max-height: 800px; overflow: hidden; width: auto; height: 800px;"
                                         data-always-visible="0" data-rail-visible="0" data-handle-color="#dae3e7"
                                         data-initialized="1">
                                        <div class="todo-tasklist">
                                            {% include 'diary/tasks_in_tab.html' %}
                                        </div>
                                    </div>
                                    <div class="slimScrollBar"
                                         style="width: 7px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 551.248923341947px; background: rgb(218, 227, 231);">

                                    </div>
                                    <div class="slimScrollRail"
                                         style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; opacity: 0.2; z-index: 90; right: 1px; background: rgb(234, 234, 234);"></div>
                                </div>
                            </div>
                            <div class="todo-tasklist-devider">
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- END TODO CONTENT -->
        </div>
    </div>
{% endblock %}

{% block javascripts_custom %}
    <script>
        $(document).ready(function () {
            $(document).on('click', '.todo-tasklist-item-title', function () {
                var $toToggle = $($($(this).parent()).find('.expander-hidden'));
                if ($toToggle.is(':visible')) {
                    $('.expander-hidden').hide();
                } else {
                    $('.expander-hidden').hide();
                    $toToggle.toggle();
                }

            });
        });

        $('.done_link, .done_link_and_close').click(function (e) {
            e.preventDefault();
            var $userTask = $($(this).parents('.expander-hidden'));
            var userTaskId = $userTask.attr('id');
            var resume = $userTask.find('textarea').val();
            var close_relative_tasks = undefined;
            if ($(this).hasClass('done_link_and_close')) {
                close_relative_tasks = true;
            }

            $.post('/diary/check_as_done/', {
                userTaskId: userTaskId,
                resume: resume,
                close_relative_tasks: close_relative_tasks
            }, function (response) {
                $userTask.toggle();
                $userTask.parents('.todo-tasklist-item').toggle({
                            complete: function () {
                                $userTask.parents('.todo-tasklist-item').remove();
                            }
                        },
                        500);
            });
        });

        $('.postpone_link_show_menu').click(function (e) {
            e.preventDefault();

            var $userTask = $($(this).parents('.expander-hidden'));
            var userTaskId = $userTask.attr('id');
            var resume = $userTask.find('textarea').val();

            $userTask.find('.postpone_menu').show();
            $userTask.find('.menu').hide();
        });

        $('.postpone_cancel').click(function (e) {
            e.preventDefault();

            var $userTask = $($(this).parents('.expander-hidden'));
            $userTask.find('.postpone_menu').hide();
            $userTask.find('.menu').show();
        });

        $('.postpone_link').click(function (e) {
            e.preventDefault();
            var $userTask = $($(this).parents('.expander-hidden'));
            var userTaskId = $userTask.attr('id');
            var resume = $userTask.find('textarea').val();
            var date = $userTask.find('input').val();
            if (date == '') {
                alert('debes seleccionar una fecha de postegacion');
            } else {
                $.post('/diary/check_as_postpone/', {
                    userTaskId: userTaskId,
                    resume: resume,
                    date: date
                }, function (response) {
                    $userTask.toggle();
                    $userTask.parents('.todo-tasklist-item').toggle(
                            {
                                complete: function () {
                                    $userTask.remove();
                                }
                            },
                            500);
                });
            }
        });
    </script>
{% endblock %}