{% for user_task in user_tasks %}
    <div class="todo-tasklist-item todo-tasklist-item-border-green">
        <div class="todo-tasklist-item-title">
            <span class="todo-tasklist-date"><i class="fa fa-calendar"></i>
                {% if show_date_postpone %}
                    {{ user_task.date_postpone|date:'d-M' }} /
                {% endif %}
                {% if show_date_done %}
                    {{ user_task.date_done|date:'d-M' }} /
                {% endif %}
                {{ user_task.date|date:'d-M' }}
            </span> {{ user_task.task.action }} a {{ user_task.object_repr }}
        </div>
        <div class="expander-hidden"  id="{{ user_task.id }}" style="display: none;">
            <div class="todo-tasklist-item-text">
                {{ user_task.task.description }}
            </div>

            <div class="resume">
                {{ user_task.resume|safe }}
            </div>
            <textarea class="form-control" placeholder="resumen de lo realizado en la tarea"></textarea>
            {% if  user_task.event %}
                <small>esta tarea fue creada "{{ user_task.event }}"</small>
            {% endif %}
            <br>
            <div class="right" style="z-index: 100">
                <span class="menu">
                    {% if not hide_done_link %}
                        <a href="#" class="done_link_and_close btn">hecho y cerrar tareas relacionadas</a>
                        <a href="#" class="done_link btn">hecho</a>
                    {% endif %}
                    <a href="#" class="postpone_link_show_menu btn">posponer</a></span>
                <span class="postpone_menu">dia: <input type="date" class="form-control">
                    <a class="postpone_link btn">posponer</a>
                    <a class="postpone_cancel btn">cancelar</a></span>
            </div>
        </div>
    </div>
{% endfor %}