{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% load thumbnail %}
{% load main_extras %}
{% block breadcrumb_principal %}
{% endblock %}
{% block page-content-wrapper_class %}
{% endblock %}
{% block main_menu %}
{% endblock %}
{% block stylesheets %}
    {{ block.super }}
    <link href="{% static 'main/plugins/bootstrap-fileinput/bootstrap-fileinput.css' %}" rel="stylesheet"
          type="text/css"/>
    <link href="{% static 'main/css/profile.css' %}" rel="stylesheet" type="text/css"/>
    <style>
        .page-header{
            display: none;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            toc toc
        </div>
        <div class="col-md-9">
            <!-- BEGIN PROFILE SIDEBAR -->
            <!-- PORTLET MAIN -->
            <div class="portlet light">
                    <!-- SIDEBAR USERPIC -->
                    <div class="profile-usertitle">
                        <h1>¿ Como califica la atención de <b>{{ person.name }}</b> ?</h1>
                        {% thumbnail person.image "400x400" crop="center" as im %}
                            <img src="{{ im.url }}" class="img-rounded"/>
                        {% endthumbnail %}
                        <br>
                        <br>
                    </div>
                    <!-- END SIDEBAR USER TITLE -->
                    <!-- SIDEBAR BUTTONS -->
                    <div class="profile-userbuttons">
                        <form action="." method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="user" value="{{ user.pk }}">
                            <input type="hidden" name="point" value="1">
                            <button type="submit" class="btn btn-circle red btn-sm">
                                <img src="{% static 'qualification/img/unhappy.png' %}" alt="">
                                <br>
                                {% trans 'bad'|capfirst %}
                            </button>
                        </form>
                        <form action="." method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="user" value="{{ user.pk }}">
                            <input type="hidden" name="point" value="2">
                            <button type="submit" class="btn btn-circle default btn-sm">
                                <img src="{% static 'qualification/img/regular.png' %}" alt="">
                                <br>
                                {% trans 'regular'|capfirst %}
                            </button>
                        </form>
                        <form action="." method="post" style="display: inline;">
                            {% csrf_token %}
                            <input type="hidden" name="user" value="{{ user.pk }}">
                            <input type="hidden" name="point" value="3">
                            <button type="submit" class="btn btn-circle green btn-sm">
                                <img src="{% static 'qualification/img/happy.png' %}" alt="">
                                <br>
                                {% trans 'good'|capfirst %}
                            </button>
                        </form>

                    </div>
                    <br>
                    <br>
                </div>

            <!-- END BEGIN PROFILE SIDEBAR -->
            <!-- BEGIN PROFILE CONTENT -->

            <!-- END PROFILE CONTENT -->
        </div>
    </div>
{% endblock %}
