{% extends 'main/base_container.html' %}

{% load static %}
{% load main_extras %}
{% block content %}
    <div style="width:100%">
        <div>
            <canvas id="canvas" height="350" width="900"></canvas>
        </div>
    </div>
    <br/>
    <br/>
    <br/>
    <div style="width:100%">
        <div>
            <canvas id="canvas2" height="350" width="900"></canvas>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <script src="{% static 'main/js/Chart.js' %}"></script>
    <script>

        var labels = [];
        var data = [];
        {% for r in report %}
            labels.push('{{ r.month|to_date|date:'M-Y' }}');
            data.push({{ r.pk__count }});{% endfor %}

        var lineChartData = {
            labels: labels,
            datasets: [
                {
                    label: "My First dataset",
                    fillColor: "rgba(220,220,220,0.2)",
                    strokeColor: "rgba(220,220,220,1)",
                    pointColor: "rgba(220,220,220,1)",
                    pointStrokeColor: "#fff",
                    pointHighlightFill: "#fff",
                    pointHighlightStroke: "rgba(220,220,220,1)",
                    data: data
                }
            ]

        };


        {% for hour_in_time in hours_in_time %}
{#            {% if hour_in_time == '00' or hour_in_time == '01' %}#}
            var data{{ hour_in_time }} = {{ hours_in_time|to_js:hour_in_time }};
{#            {% endif %}#}
        {% endfor %}

        var lineChartData2 = {
            labels: labels,
            datasets: [
                {% for hour_in_time in hours_in_time %}
{#                    {% if hour_in_time == '00' or hour_in_time == '01' %}#}
                    {
                        label: "hora {{ hour_in_time }}",
                        fillColor: "rgba(220,220,220,0.2)",
                        strokeColor: "rgba(220,220,220,1)",
                        pointColor: "rgba(220,220,220,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: data{{ hour_in_time }}
                    }
                    {% if not forloop.last %},{% endif %}
{#                    {% endif %}#}
                {% endfor %}
            ]
        };

        window.onload = function () {

            var ctx = document.getElementById("canvas").getContext("2d");
            window.myLine = new Chart(ctx).Line(lineChartData, {
                responsive: true
            });

            var ctx2 = document.getElementById("canvas2").getContext("2d");
            window.myLine = new Chart(ctx2).Line(lineChartData2, {
                responsive: true,
                legendTemplate : "<ul class='te-legend'>"
                +"<li><span></span>0</li>"
                +"<li><span></span>1</li>"
                +"<li><span></span>2</li>"
                +"<li><span></span>3</li>"
                +"<li><span></span>4</li>"
                +"<li><span></span>5</li>"
                +"<li><span></span>6</li>"
                +"<li><span></span>7</li>"
                +"<li><span></span>8</li>"
                +"<li><span></span>9</li>"
                +"<li><span></span>10</li>"
                +"<li><span></span>11</li>"
                +"<li><span></span>12</li>"
                +"<li><span></span>13</li>"
                +"<li><span></span>14</li>"
                +"<li><span></span>15</li>"
                +"<li><span></span>16</li>"
                +"<li><span></span>17</li>"
                +"<li><span></span>18</li>"
                +"<li><span></span>19</li>"
                +"<li><span></span>20</li>"
                +"<li><span></span>21</li>"
                +"<li><span></span>22</li>"
                +"<li><span></span>23</li></ul>"
            });
        }


    </script>
{% endblock %}
