{% extends 'main/base_container.html' %}

{% load static %}
{% load main_extras %}
{% block content %}
    <div ng-controller="LineCtrl" style="width:100%">
        {#        <canvas id="bar" class="chart chart-bar" data="data"#}
        {#                labels="labels" legend="true" series="series"#}
        {#                click="onClick">#}
        {#        </canvas>#}

        <canvas id="bar" class="chart chart-bar" data="data"
                labels="labels"></canvas>

    </div>
    <br/>
    <br/>
    <br/>
    <div style="width:100%">
        <div>
            <canvas id="canvas" height="450" width="600"></canvas>
        </div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <link href="{% static 'main/angular/chart/angular-chart.css' %}">


    <script src="{% static 'main/angular/angular.min.js' %}"></script>
    <script src="http://jtblin.github.io/angular-chart.js/bower_components/Chart.js/Chart.min.js"></script>
    <script src="{% static 'main/angular/chart/angular-chart.js' %}"></script>

    <script src="{% static 'main/angular/app_lines.js' %}"></script>

    <script>
        var data = [];
        {% for hour_in_time in hours_in_time %}
            data.push({{ hours_in_time|to_js:hour_in_time }});
        {% endfor %}


        var barChartData = {
            labels: ["January", "February", "March", "April", "May", "June", "July"],
            datasets: [
                {
                    fillColor: "rgba(220,220,220,0.5)",
                    strokeColor: "rgba(220,220,220,1)",
                    data: [65, 59, 90, 81, 56, 55, 40]
                },
                {
                    fillColor: "rgba(151,187,205,0.5)",
                    strokeColor: "rgba(151,187,205,1)",
                    data: [28, 48, 40, 19, 96, 27, 100]
                },
                {
                    fillColor: "rgba(51,87,255,0.5)",
                    strokeColor: "rgba(51,87,255,1)",
                    data: [42, 12, 10, 36, 15, 27, 21]
                }
            ]
        }
        {#        var myLine = new Chart(document.getElementById("canvas").getContext("2d")).StackedBar(barChartData);#}

    </script>
{% endblock %}
