{% extends 'main/base_container.html' %}

{% load static %}
{% load main_extras %}
{% block content %}
    <div style="width: 80%">
        <div id="chart"></div>
    </div>
{% endblock %}
{% block footer_scripts %}
    <link href="{% static 'main/c3/c3.css' %}" rel="stylesheet" type="text/css">

    <!-- Load d3.js and c3.js -->
    {#    <script src="{% static 'main/d3.v3.min.js' %}" charset="utf-8"></script>#}
    <!--<script src="{% static 'main/c3/d3.min.js' %}" type="text/javascript"></script>-->
    <script src="{% static 'main/c3/c3.js' %}" type="text/javascript"></script>

    <script>


        var chart = c3.generate({
            bindto: '#chart',
            data: {
                columns: [{% for hour_in_time in hours_in_time %}{% if hour_in_time > 7 and hour_in_time < 20 %}
                    ['{{ hour_in_time }}', {{ hours_in_time|to_js:hour_in_time }}]{% if not forloop.last %}, {% endif %}{% endif %}{% endfor %}
                ],
                type: 'bar',
                groups: [
                    [{% for hour_in_time in hours_in_time %}{% if hour_in_time > 7 and hour_in_time < 20 %}'{{ hour_in_time }}' {% endif %}{% if not forloop.last %}, {% endif %}{% endfor %}]
                ]
            },
            grid: {
                y: {
                    lines: [{value: 0}]
                }
            }
        });

        {#        setTimeout(function () {#}
        {#            chart.groups([['data1', 'data2', 'data3']])#}
        {#        }, 1000);#}
        {##}
        {#        setTimeout(function () {#}
        {#            chart.load({#}
        {#                columns: [['data4', 100, -50, 150, 200, -300, -100]]#}
        {#            });#}
        {#        }, 1500);#}
        {##}
        {#        setTimeout(function () {#}
        {#            chart.groups([['data1', 'data2', 'data3', 'data4']])#}
        {#        }, 2000);#}

    </script>
{% endblock %}
