{% load static %}

<html>
<head>
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body>
{% if not hide_nav %}
    {% include 'main/navigation.html' %}
{% endif %}

{% block outer_content %}{% endblock %}

{% if not hide_footer %}
    {% include 'main/footer.html' %}
{% endif %}


<script src="{% static 'main/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'main/js/script.js' %}"></script>
{% block footer_scripts %}{% endblock %}
</body>
</html>
