{% extends 'main/base_without_footer.html' %}

{% block outer_content %}
<section class="content" role="main">
  {% if messages %}
  <div class="messages">
    {% for message in messages %}
    <div{% if message.tags %} class="flash-{{ message.tags }}"{% endif %}>
        <span>{{ message|safe }}</span>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  {% block content %}{% endblock %}
</section>
{% endblock %}
