{% extends 'main/layout.html' %}
{% load i18n %}
{% load main_extras %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        {% include 'hock/form.html' %}
    </div>
</div>
{% endblock %}