{% load static %}

<html ng-app="Gym">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}" media="screen"/>
    <link href='http://fonts.googleapis.com/css?family=Lato:200,300,400,600,700,800' rel='stylesheet' type='text/css'>
    {% block more_styles %}{% endblock %}
</head>
<body>
{% include 'main/navigation.html' %}

{% block outer_content %}{% endblock %}

<script src="{% static 'main/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'main/js/script.js' %}"></script>
{% block footer_scripts %}{% endblock %}
</body>
</html>
