{% extends 'main/base_container.html' %}

{% block content %}

<section class="contact-us">
  <h2>Contáctate con nosotros para ingresar tu panel</h2>


  <form action="{% url 'main:contact_us' %}" method="post">
    {% csrf_token %}

    <div class="contact-form-inner">
      {{ form.non_field_errors }}
      <div class="contact-meta">
          {{ form.name.errors }}
          {{ form.name }}

          {{ form.email.errors }}
          {{ form.email }}

          {{ form.subject.errors }}
          {{ form.subject }}
      </div>
      <div class="contact-message">
        {{ form.message.errors }}
        {{ form.message }}
      </div>
    </div>

    <div class="contact-button">
      <input type="submit" value="Enviar mensaje" />
    </div>
  </form>

</section>
{% endblock %}
