{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% block search_page %}
    <!-- BEGIN HEADER SEARCH BOX -->
    <!-- DOC: Apply "search-form-expanded" right after the "search-form" class to have half expanded search box -->
    {% if perms.accounts.view_members %}
        <form class="search-form search-form-expanded" action="{% url 'members:search' %}" method="GET">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="{% trans 'search by name or dni' %}"
                       id="_search"
                       name="pattern" required/>
                <span class="input-group-btn">
					<button class="btn submit"><i class="icon-magnifier"></i></button>
					</span>
            </div>
        </form>
    {% endif %}
    <!-- END HEADER SEARCH BOX -->
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-light blue-soft" href="javascript:;">
                <div class="visual">
                    <i class="fa fa-file-text"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ person_count_today }} / {{ person_count }}
                    </div>
                    <div class="desc">
                        {% trans 'prospectus created'|capfirst %}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-light yellow-gold" href="javascript:;">
                <div class="visual">
                    <i class="fa fa-trophy"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ membership_spent_count_today }} / {{ membership_spent_count }}
                    </div>
                    <div class="desc">
                        {% trans 'memberships sold'|capfirst %}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-light green-jungle" href="javascript:;">
                <div class="visual">
                    <i class="fa fa-clock-o"></i>
                </div>
                <div class="details">
                    <div class="number">
                        {{ attendances_today_count }} / {{ attendances_count }}
                    </div>
                    <div class="desc">
                        {% trans 'attendances'|capfirst %}
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
            <a class="dashboard-stat dashboard-stat-light purple-seance" href="javascript:;">
                <div class="visual">
                    <i class="fa fa-shopping-cart"></i>
                </div>
                <div class="details">
                    <div class="number">
                        0
                    </div>
                    <div class="desc">
                        {% trans 'sales products'|capfirst %}
                    </div>
                </div>
            </a>
        </div>
    </div>
    {#    <div class="row">#}
    {#        <div class="col-md-6 col-sm-6">#}
    {#            <!-- BEGIN PORTLET-->#}
    {#            <div class="portlet light ">#}
    {#                <div class="portlet-title">#}
    {#                    <div class="caption">#}
    {#                        <i class="icon-bar-chart font-green-sharp hide"></i>#}
    {#                        <span class="caption-subject font-green-sharp bold uppercase">{% trans 'memberships sold' %}</span>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="portlet-body">#}
    {#                    <div id="site_statistics_loading">#}
    {#                        <img src="{% static 'main/img/loading.gif' %}" alt="loading"/>#}
    {#                    </div>#}
    {#                    <div id="site_statistics_content" class="display-none">#}
    {#                        <div id="site_statistics" class="chart">#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <!-- END PORTLET-->#}
    {#        </div>#}
    {#        <div class="col-md-6 col-sm-6">#}
    {#            <!-- BEGIN PORTLET-->#}
    {#            <div class="portlet light ">#}
    {#                <div class="portlet-title">#}
    {#                    <div class="caption">#}
    {#                        <i class="icon-bar-chart font-green-sharp hide"></i>#}
    {#                        <span class="caption-subject font-purple-seance bold uppercase">{% trans 'sales products' %}</span>#}
    {#                    </div>#}
    {#                </div>#}
    {#                <div class="portlet-body">#}
    {#                    <div id="site_statistics_loading">#}
    {#                        <img src="{% static 'main/img/loading.gif' %}" alt="loading"/>#}
    {#                    </div>#}
    {#                    <div id="site_statistics_content" class="display-none">#}
    {#                        <div id="site_statistics" class="chart">#}
    {#                        </div>#}
    {#                    </div>#}
    {#                </div>#}
    {#            </div>#}
    {#            <!-- END PORTLET-->#}
    {#        </div>#}
    {#    </div>#}
{% endblock %}

{% block javascripts_plugins %}
    <script src="{% static 'main/plugins/flot/jquery.flot.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/plugins/flot/jquery.flot.resize.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/plugins/flot/jquery.flot.categories.min.js' %}" type="text/javascript"></script>
{% endblock %}