{% load static %}

<footer class="footer-2" role="contentinfo">
  <div class="footer-logo">
    <img src="{% static 'main/img/logo/imperium.png' %}" alt="Logo image">
  </div>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Terms and Conditions</a></li>
        <li><a href="javascript:void(0)">Privacy Policy</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/activatupunto?fref=ts">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a>
        </li>
      </ul>
    </div>
</footer>
