{% extends 'main/base.html' %}

{% load static %}

{% block outer_content %}

    <div class="hero" {% if home_background != '' %} style="background-image: url('{{ home_background }}')"{% endif %}>
        <div class="hero-menu">
            {% if user.is_authenticated %}
                <a href="{% url 'main:dashboard' %}">Ir a panel</a> | <a href="{% url 'accounts:logout' %}">Salir</a>
            {% else %}
                <a href="{% url 'accounts:login' %}">Login</a>
            {% endif %}
        </div>
        <div class="hero-inner">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png
" alt="Logo Image">

            <div class="hero-copy">
                <h1>PLAN GYM</h1>

                <p>planeamiento y seguimiento para gimnasios</p>
            </div>
        </div>
    </div>
{% endblock %}
