<html>
<head>
    <title>Hello from Planner Gym</title>
</head>
<body>
<div>we just configure needed data on your database with the following setting:
    <br>
    groups
    <ul>
        <li>{{ member_group }}</li>
        <li>{{ sales_group }}</li>
    </ul>
    <br>
    forms
    <ul>
        <li>{{ prospectus_form }}</li>
        <li>{{ contract_form }}</li>
    </ul>
    <br>
    events
    <ul>
        <li>{{ person_created_event }}</li>
        <li>{{ membership_added_to_person_event }}</li>
        <li>{{ prospectus_added_but_not_membership_event }}</li>
    </ul>
    type_voucher_type : {{ type_voucher_type.name }}
</div>
</body>
</html>