{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"/>
    {% if show_range_fields %}
        {% if show_timepicker %}
            <link rel="stylesheet" type="text/css"
                  href="{% static 'main/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css' %}"/>
        {% else %}
            <link rel="stylesheet" type="text/css"
                  href="{% static 'main/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}"/>
        {% endif %}
    {% endif %}

{% endblock %}

{% block breadcrumb %}
    <li>
        <a>{% trans 'reports'|capfirst %}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a>{% trans title %}</a>
    </li>
{% endblock %}


{% block page_toolbar %}
    {% if button %}
    <a href="{{ button.route }}" class="btn blue pull-right btn-fit-height">
        <i class="fa fa-plus"></i>
        {{ button.text }}
    </a>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-container">
                        <div class="table-actions-wrapper">
                            <span></span>

                            <select id="filterValue"
                                    class="table-group-action-input form-control input-inline input-small input-sm">
                                {% for filter_option in filter_options %}
                                    <option value="{{ filter_option.0 }}">{{ filter_option.1 }}</option>
                                {% endfor %}
                            </select>
                            {% if show_range_fields %}
                                <div id="range_date"
                                     style="display: none">
                                    <input type="text"
                                           class="table-group-action-input form-control input-inline input-small input-sm{% if show_timepicker %} form_meridian_datetime {% else %} date-picker {% endif %}"
                                           id="range_since" placeholder="{% trans 'date begin' %}">
                                    <input type="text"
                                           class="table-group-action-input form-control input-inline input-small input-sm{% if show_timepicker %} form_meridian_datetime {% else %} date-picker {% endif %}"
                                           id="range_to" placeholder="{% trans 'date end' %}">
                                </div>
                            {% endif %}
                            <button class="btn green" id="tableFilter"><i
                                    class="fa fa-check"></i> Filtrar
                            </button>
                        </div>

                        <table class="table table-striped table-bordered table-hover" id="datatable_ajax">
                            <thead>
                            <tr>
                                {% for column_title in columns_title %}
                                    <th>
                                        {{ column_title }}
                                    </th>
                                {% endfor %}
                            </tr>
                            </thead>
                            {% if total_column %}
                            <tfoot>
                                <tr>
                                    <th colspan="{{ total_column }}" style="text-align:right">Total:</th>
                                    {% for x in range_cols %}
                                    <th></th>
                                    {% endfor %}
                                </tr>
                            </tfoot>
                            {% endif %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
    <script type="text/javascript"
            src="{% static 'main/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>

    {% if show_range_fields %}
        {% if show_timepicker %}
            <script type="text/javascript"
                    src="{% static 'main/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js' %}"></script>
            <script type="text/javascript"
                    src="{% static 'main/plugins/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.es.js' %}"></script>
        {% else %}
            <script type="text/javascript"
                    src="{% static 'main/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
        {% endif %}
    {% endif %}
    <script src="{% static 'main/scripts/datatable.js' %}"></script>
    {#    <script type="text/javascript" src="{% static 'main/js/table-ajax.js' %}"></script>#}
    <script>

        $(document).ready(function () {


            var oTable = new Datatable();

            oTable.init({
                src: $("#datatable_ajax"),
                onSuccess: function (grid, response) {
                    // grid:        grid object
                    // response:    json object of server side ajax response
                    // execute some code after table records loaded
                },
                onError: function (grid) {
                    // execute some code on network or other general error
                },
                onDataLoad: function (grid) {
                    // execute some code on ajax data load
                },
                loadingMessage: 'Loading...',
                dataTable: {
                    "dom": "<'row'<'col-md-4 col-sm-12'><'col-md-8 col-sm-12'<'table-group-actions pull-right'>>><'table-scrollable't><'row'<'col-md-8 col-sm-12'pli><'col-md-4 col-sm-12'T>>",
                    "lengthMenu": [
                        [10, 20, 50, 100, 150, -1],
                        [10, 20, 50, 100, 150, "All"] // change per page values here
                    ],
                    "pageLength": 10, // default record count per page
                    {#                    "processing": true,#}
                    "serverSide": true,
                    "bInfo": true,
                    "order": [[ 1, "asc" ]],
                    ajax: {
                        url: '{{ json_service }}',
                        type: 'POST'
                    },
{#                    "language": {"url": "{% static 'main/plugins/datatables/media/js/Spanish.json' %}"},#}
                    "tableTools": {
                        "sSwfPath": "{% static 'main/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf' %}"
                    },
                    columns: [
                        {% for column_data in columns_data %}
                            {data: "{{ column_data }}", {% if column_data in columns_non_orderable %}"orderable": false,{% endif %} {% if column_data in columns_hidden%}"visible": false,{% endif %} }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    {% if total_column %}
                    "footerCallback": function ( row, data, start, end, display ) {
                        var api = this.api(), data;

                        // Remove the formatting to get integer data for summation
                        var intVal = function ( i ) {
                            return typeof i === 'string' ?
                                i.replace(/[\$,]/g, '')*1 :
                                typeof i === 'number' ?
                                    i : 0;
                        };
                        var sum_cols = [];
                        sum_cols = {{ sum_colums }};
                        for (var i=0; i < sum_cols.length; i++) {
                            var col = sum_cols[i];
                            var pageTotal = api
                                .column( col, { page: 'current'} )
                                .data()
                                .reduce( function (a, b) {
                                    return intVal(a) + intVal(b);
                                }, 0 );

                            // Update footer
                            $( api.column( col ).footer() ).html(
                                pageTotal
                            );
                        }
                        // Total over this page
                        /*pageTotal = api
                            .column( {{ total_column }}, { page: 'current'} )
                            .data()
                            .reduce( function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0 );

                        // Update footer
                        $( api.column( {{ total_column }} ).footer() ).html(
                            pageTotal
                        );*/
                    }
                    {% endif %}
                }
            });

            $('#tableFilter').on('click', function (e) {
                e.preventDefault();
                var value = $('#filterValue').val();
                oTable.setAjaxParam('query', value);
                if (value.indexOf('_in_range_') != -1 ) {
                    var since = $('#range_since').val();
                    var to = $('#range_to').val();
                    oTable.setAjaxParam('range_since', since);
                    oTable.setAjaxParam('range_to', to);
                }
                oTable.submitFilter();
            });

            {% if show_range_fields %}
                {% if show_timepicker %}
                    $(".form_meridian_datetime").datetimepicker({
                        isRTL: Metronic.isRTL(),
                        format: "dd/mm/yyyy HH:ii p",
                        showMeridian: true,
                        autoclose: true,
                        pickerPosition: (Metronic.isRTL() ? "bottom-left" : "bottom-right"),
                        todayBtn: true,
{#                        language: 'es'#}
                    });
                {% else %}
                    $('.date-picker').datepicker({
                        format: "dd/mm/yyyy",
                        rtl: Metronic.isRTL(),
                        orientation: "left",
                        autoclose: true
                    });
                {% endif %}

                var filterShowRange = [
                {% for fr in filter_to_show_range_fields  %}
                    "{{ fr }}",
                {% endfor %}
                ];

                function isInArray(value, array) {
                    return array.indexOf(value) > -1;
                }

                $('#filterValue').on('change', function () {
                    if (isInArray($(this).val(), filterShowRange)) {
                        $('#range_date').show();
                    } else {
                        $('#range_date').hide();
                    }
                });
            {% endif %}

        });


    </script>
{% endblock %}

{% block scripts %}
    {#    TableAjax.init({% url 'main:report_members_json' %});#}
{% endblock %}