{% load static %}
{% load i18n %}
{% load main_extras %}

<!DOCTYPE html>
<!--[if IE 8]>
<html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]>
<html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" ng-app="AppGymi">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="utf-8"/>
    <title>Fitgram - {% trans title|capfirst %}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <meta content="" name="description"/>
    <meta content="" name="author"/>

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css">
    <link href="{% static 'main/plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/plugins/simple-line-icons/simple-line-icons.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="{% static 'main/plugins/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/plugins/uniform/css/uniform.default.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'main/plugins/bootstrap-switch/css/bootstrap-switch.min.css' %}" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/plugins/bootstrap-toastr/toastr.min.css' %}"/>
    <!-- END GLOBAL MANDATORY STYLES -->
    {% block stylesheets %}
    {% endblock %}
    <!-- BEGIN THEME STYLES -->
    <link href="{% static 'main/css/components-md.css' %}" id="style_components" rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/css/plugins-md.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/css/layout.min.css' %}" rel="stylesheet" type="text/css"/>
    <link id="style_color" href="{% static 'main/css/themes/dark.min.css' %}" rel="stylesheet" type="text/css"/>
    <link href="{% static 'main/css/custom.css' %}" rel="stylesheet" type="text/css"/>
    <!-- END THEME STYLES -->
    <style>
        .birthday {
            background-image: url('{% static 'main/img/fondo-con-globos.jpg' %}');
            background-repeat: no-repeat;
        }

        table a {
            text-decoration: underline;
        }

        .page-header-fixed .page-container {
            margin-top: 0px;
        }


    </style>
    {# <link rel="shortcut icon" href="favicon.ico"/> #}
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-md page-header-fixed page-container-bg-solid page-sidebar-closed-hide-logo">
<!-- BEGIN HEADER -->
<div class="page-header md-shadow-z-1-i navbar navbar-top">
    <!-- BEGIN HEADER INNER -->
    <div class="page-header-inner">
        <!-- BEGIN LOGO -->
        <div class="page-logo">
            <a href="{% url 'main:dashboard' %}">
                <img src="{% static 'main/img/logo/fitgram_logo.png' %}" alt="logo" class="logo-default"/> </a>
            <div class="menu-toggler sidebar-toggler">
                <!-- DOC: Remove the above "hide" to enable the sidebar toggler button on header -->
            </div>
        </div>

        <!-- END LOGO -->
        <!-- BEGIN RESPONSIVE MENU TOGGLER -->
        <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse"
           data-target=".navbar-collapse">
        </a>
        <!-- END RESPONSIVE MENU TOGGLER -->
        {% block page_actions %}
        {% endblock %}
        <!-- BEGIN PAGE TOP -->
        <div class="page-actions">
            <!--<h2>{{title|capfirst}}</h2>-->
            {% block breadcrumb_principal %}
                <ul class="page-breadcrumb">
                    <li>
                        <i class="fa fa-home"></i>
                        <a href="{% url 'main:dashboard' %}">{% trans 'dashboard'|capfirst %}</a>
                        <i class="fa fa-angle-right"></i>
                    </li>
                    {% block breadcrumb %}
                        {% for bc in breadcrumb %}
                            <li>
                                <a href="{{ bc.1 }}">{{ bc.0 }}</a>
                                <i class="fa fa-angle-right"></i>
                            </li>
                        {% endfor %}

                    {% endblock %}
                </ul>
            {% endblock %}

        </div>
        <div class="page-top">
            {% block search_page %}
            {% endblock %}
            <!-- BEGIN TOP NAVIGATION MENU -->
            <!--<div class="top-menu">-->
            <!--<ul class="nav navbar-nav pull-right">-->
            <!--&lt;!&ndash; BEGIN USER LOGIN DROPDOWN &ndash;&gt;-->
            <!--{% if perms.main.add_personmembership %}-->
                <!--<li class="dropdown dropdown-extended dropdown-tasks" id="header_task_bar">-->
                <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"-->
                <!--data-hover="dropdown" data-close-others="true">-->
                <!--<i class="icon-bell"></i>-->
                <!--<span class="badge badge-default"> {{ user.count_sales_in_month }} </span>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu extended tasks">-->
                <!--<li class="external">-->
                <!--{% blocktrans with count_sales_in_month=user.count_sales_in_month %}-->
                    <!--<h3>You have done <span class="bold">{{ count_sales_in_month }} sales</span>-->
                    <!--during the day</h3>-->
                    <!--{% endblocktrans %}-->
                <!--</li>-->
                <!--<li>-->
                <!--<ul class="dropdown-menu-list scroller" style="height: 100px;"-->
                <!--data-handle-color="#637283">-->
                <!--<li>-->
                <!--<a href="javascript:;">-->
                <!--<span class="task">-->
                <!--<span class="desc">{% trans 'total sold in month' %}: s/.{{ user.total_sales_in_month }}</span>-->
                <!--{#										<span class="percent">30%</span>#}-->
                <!--{#										</span>#}-->
                <!--{#										<span class="progress">#}-->
                <!--{#										<span style="width: 40%;" class="progress-bar progress-bar-success" #}-->
                <!--{# aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"><span#}-->
                <!--{#                                                class="sr-only">40% Complete</span></span>#}-->
                <!--{#                                        </span>#}-->
                <!--</a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</li>-->
                <!--{% endif %}-->

            <!--<li class="dropdown dropdown-user">-->
            <!--{% if user.is_authenticated %}-->
                <!--<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"-->
                <!--data-close-others="true">-->

                <!--<span class="username username-hide-on-mobile">-->
                <!--{% if user.get_full_name != "" %}-->
                    <!--{{ user.get_full_name }} | {{ user|primary_group }}-->
                    <!--{% else %}-->
                    <!--{{ user.get_full_name }} | {{ user|primary_group }}-->
                    <!--{% endif %}-->
                <!--</span>-->
                <!--<i class="fa fa-angle-down"></i>-->
                <!--</a>-->
                <!--<ul class="dropdown-menu dropdown-menu-default">-->
                <!--<li>-->
                <!--<a href="{% url 'accounts:logout' %}">-->
                <!--<i class="icon-key"></i> {% trans 'close session' %} </a>-->
                <!--</li>-->
                <!--</ul>-->
                <!--{% else %}-->
                <!--<a href="{% url 'accounts:login' %}">{% trans 'login' %}</a>-->
                <!--{% endif %}-->
            <!--</li>-->
            <!--&lt;!&ndash; END USER LOGIN DROPDOWN &ndash;&gt;-->
            <!--</ul>-->
            <!--</div>-->
            <!-- END TOP NAVIGATION MENU -->
        </div>
        <!-- END PAGE TOP -->
    </div>
    <!-- END HEADER INNER -->
</div>
<!-- END HEADER -->
<div class="clearfix">
</div>
<!-- BEGIN CONTAINER -->
<div class="page-container">
    <!-- BEGIN SIDEBAR -->
    {% block main_menu %}
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <!-- BEGIN SIDEBAR MENU -->
                <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu " data-keep-expanded="false"
                    data-auto-scroll="true" data-slide-speed="200">
                    {% if perms.accounts.view_members %}
                        <li class="start menu-opt members">
                            <a href="{% url 'members:home' %}">
                                <i class="icon-star"></i>
                                <span class="title">{% trans 'members'|capfirst %}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.accounts.view_members %}
                        <li class="menu-opt prospectus">
                            <a href="{% url 'members:prospectus' %}">
                                <i class="icon-users"></i>
                                <span class="title">{% trans 'prospectus'|capfirst %}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.main.view_memberships %}
                        <li class="menu-opt memberships">
                            <a href="{% url 'memberships:home' %}">
                                <i class="icon-credit-card"></i>
                                <span class="title">{% trans 'memberships'|capfirst %}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.main.views_tasks %}
                        <li class="menu-opt tasks">
                            <a href="{% url 'diary:tasks_todo' %}">
                                <i class="icon-note"></i>
                                <span class="title">{% trans 'tasks'|capfirst %}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.fullcalendar.view_calendars %}
                        <li class="menu-opt calendar">
                            <a href="javascript:void(0);">
                                <i class="icon-calendar"></i>
                                <span class="title">{% trans 'calendar'|capfirst %}</span>
                            </a>

                            <ul class="sub-menu">
                                <li>
                                    <a href="{% url 'calendar:new_calendar' %}">
                                        {% trans 'new calendar'|capfirst %}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                {% for calendar in calendars_by_user %}
                                    <li>
                                        <a href="{% url 'calendar:view_calendar' calendar.slug calendar.id %}">
                                            {{ calendar.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.store.view_cashbox %}
                        <li class="menu-opt sales">
                            <a href="javascript:void(0);">
                                <i class="icon-basket"></i>
                                <span class="title">{% trans 'sales' %}</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="{% url 'store:products' %}">
                                        {% trans 'products'|capfirst %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'store:incoming' %}">
                                        {% trans 'incoming'|capfirst %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'store:expenses' %}">
                                        {% trans 'expenses'|capfirst %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'store:inventory' %}">
                                        {% trans 'inventory'|capfirst %}</a>
                                </li>
                                <li>
                                    <a href="{% url 'store:settings' %}">
                                        {% trans 'settings'|capfirst %}</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="menu-opt tasks">
                            <a href="{% url 'qualification:personal_list' %}">
                                <i class="icon-star"></i>
                                <span class="title">{% trans 'qualification'|capfirst %}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li class="menu-opt tasks">
                            <a href="{% url 'accounts:list' %}">
                                <i class="icon-users"></i>
                                <span class="title">{% trans 'users'|capfirst %}</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.accounts.view_summaries %}
                        <li class="menu-opt reports">
                            <a href="javascript:void(0)">
                                <i class="icon-bar-chart"></i>
                                <span class="title">{% trans 'reports'|capfirst %}</span>
                            </a>
                            <ul class="sub-menu">
                                {% if perms.accounts.view_summary_sales_simple %}
                                    <li>
                                        <a href="{% url 'main:report_sales' %}">{% trans 'sales resume'|capfirst %}</a>
                                    </li>
                                {% endif %}

                                {#                            {% if perms.accounts.view_summary_memberships_sold %}#}
                                {#                                <li>#}
                                {#                                    <a href="{% url 'main:report_memberships_sold' %}">{% trans 'memberships sold'|capfirst %}</a>#}
                                {#                                </li>#}
                                {#                            {% endif %}#}

                                {% if perms.accounts.view_summary_memberships_sold %}
                                    <li>
                                        <a href="{% url 'main:report_memberships_sold_by_seller' %}">{% trans 'memberships sold'|capfirst %}</a>
                                    </li>
                                {% endif %}
                                {% if perms.accounts.view_summary_sales_graphic %}
                                    <li>
                                        <a href="{% url 'main:report_sales_graphic' %}">{% trans 'memberships sold'|capfirst %} {% trans 'in graphic' %}</a>
                                    </li>
                                {% endif %}
                                {% if perms.accounts.view_summary_members %}
                                    <li>
                                        <a href="{% url 'main:report_members' %}">{% trans 'members'|capfirst %}</a>
                                    </li>
                                {% endif %}
                                {% if perms.accounts.view_summary_attendances %}
                                    <li>
                                        <a href="{% url 'main:report_attendees' %}">{% trans 'attendances'|capfirst %}</a>
                                    </li>
                                {% endif %}
                                {% if perms.accounts.view_summary_absences %}
                                    <li>
                                        <a href="{% url 'main:report_absentees' %}">{% trans 'absentes'|capfirst %}</a>
                                    </li>
                                {% endif %}
                                {% if perms.accounts.view_summary_memberships %}
                                    <li>
                                        <a href="{% url 'main:report_memberships' %}">{% trans 'memberships'|capfirst %}</a>
                                    </li>
                                {% endif %}
                                {% if perms.accounts.view_summary_team_performance %}
                                    <li>
                                        <a href="{% url 'main:report_performance' %}">{% trans 'sales team performance'|capfirst %}</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}

                    <li class="menu-opt">
                        <a href="{% url 'accounts:logout' %}">
                            <i class="icon-note"></i>
                            <span class="title">{% trans 'exit'|capfirst %}</span>
                        </a>
                    </li>
                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
    {% endblock %}
    <!-- END SIDEBAR -->
    <!-- BEGIN CONTENT -->
    <div class="{% block page-content-wrapper_class %}page-content-wrapper{% endblock %}">
        <div class="page-content">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    <!-- END CONTENT -->
</div>
<!-- END CONTAINER -->
<!-- BEGIN FOOTER -->
<div class="page-footer">
    <div class="page-footer-inner">
        2017 <a href="atixplus.com">&copy;atixplus</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<!-- END FOOTER -->

<!-- BEGIN JAVASCRIPTS-->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="{% static 'main/plugins/respond.min.js' %}"></script>
<script src="{% static 'main/plugins/excanvas.min.js' %}"></script>
<![endif]-->
<script src="{% static 'main/plugins/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/jquery-migrate.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/jquery-ui/jquery-ui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/bootstrap/js/bootstrap.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js' %}"
        type="text/javascript"></script>
<script src="{% static 'main/plugins/jquery-slimscroll/jquery.slimscroll.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/jquery.blockui.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/jquery.cokie.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/uniform/jquery.uniform.min.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
{% block javascripts_plugins %}
{% endblock %}
<script src="{% static 'main/scripts/metronic.js' %}" type="text/javascript"></script>
<script src="{% static 'main/plugins/bootstrap-toastr/toastr.min.js' %}"></script>
<script src="{% static 'main/scripts/layout.js' %}" type="text/javascript"></script>
<script src="{% static 'main/scripts/demo.js' %}" type="text/javascript"></script>

{% block javascripts_custom %}
{% endblock %}
<script>
    jQuery(document).ready(function () {
        Metronic.init(); // init metronic core components
        Layout.init(); // init current layout
        $(window).keydown(function (event) {
            if (event.keyCode == 13 && $(event.target).attr('type') != 'submit' &&
                $(event.target).attr('id') != '_search') {
                event.preventDefault();
                return false;
            }
        });
        {% block scripts %}
            Demo.init('dashboard'); // init demo features
        {% endblock %}

        {% if messages %}
            {% for message in messages %}
                var msg = '{{ message|safe }}';
                {% if message.tags == 'success' %}
                    toastr.success(msg);
                {% elif message.tags == 'warning' %}
                    toastr.warning(msg);
                {% elif message.tags == 'error' %}
                    toastr.error(msg);
                {% else %}
                    toastr.info(msg);
                {% endif %}
            {% endfor %}
        {% endif %}

        $('input,textarea').focusout(function () {
            if (!$(this).hasClass('date-picker') && !$(this).hasClass('datetime-picker')) {
                this.value = this.value.toLocaleUpperCase();
            }
        });
    });

</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>