{% load static %}
{% load i18n %}
{% load main_extras %}

<header class="navigation" role="banner">
    <div class="navigation-wrapper">
        <a href="{% url 'main:dashboard' %}" class="logo">
            <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo Image">
        </a>
        <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">MENU</a>

        {% if user.is_authenticated %}
            <nav role="navigation">
                <ul id="js-navigation-menu" class="navigation-menu show">
                    {% if perms.accounts.view_members %}
                        <li class="nav-link"><a href="{% url 'members:home' %}">{% trans 'people' %}</a></li>
                    {% endif %}
                    {% if perms.accounts.view_members %}
{#                        <li class="nav-link"><a href="{% url 'members:prospectus' %}">{% trans 'prospectus' %}</a></li>#}
                    {% endif %}
                    {% if perms.main.view_memberships %}
                        <li class="nav-link"><a href="{% url 'memberships:home' %}">{% trans 'memberships' %}</a></li>
                    {% endif %}
                    {% if perms.accounts.view_members %}
                        <li class="nav-link"><a href="{% url 'diary:tasks_todo' %}">{% trans 'tasks' %}</a></li>
                    {% endif %}
                    {% if perms.main.view_cashbox %}
                        <li class="nav-link"><a href="javascript:void(0)">{% trans 'sales' %}</a></li>
                    {% endif %}
                    {#                    <li class="nav-link"><a href="{% url 'accounts:list' %}">Personal</a></li>#}

                    <li class="nav-link more"><a href="javascript:void(0)">reports</a>
                        <ul class="submenu">
                            <li><a href="{% url 'main:attendances' %}">{% trans 'Attendances' %}</a></li>
                            <li><a href="javascript:void(0)">{% trans 'Sales' %}</a></li>
                            <li><a href="{% url 'main:report_person_added' %}">{% trans 'Person Added' %}</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        {% endif %}


        <div class="navigation-tools">
            <ul id="js-navigation-menu" class="navigation-menu show">
                {# <li class="nav-link"><a href="{% url 'main:contact_us' %}">Contáctanos</a></li> #}


                {% if user.is_authenticated %}
                    <li class="nav-link more"><a href="javascript:void(0)">{% trans 'welcome' %} &nbsp;
                        <strong>{{ user.get_full_name }} {{ user|primary_group }}</strong></a>
                        <ul class="submenu">
                            <li class="nav-link"><a href="{% url 'accounts:logout' %}">{% trans 'close session' %}</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-link"><a href="{% url 'accounts:login' %}">{% trans 'login' %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</header>
