{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}
{% load main_extras %}

{% block breadcrumb %}
    <li>
        <a>{% trans 'reports'|capfirst %}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a>{% trans title %}</a>
    </li>
{% endblock %}


{% block content %}
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>{% trans 'memberships sold' %}
            </div>
        </div>
        <div class="portlet-body">
            <div class="pull-right">
                <form action="." method="post">
                    {% csrf_token %}
                    <label for="filter">{% trans 'see this report with' %}:</label>
                    <select name="filter" id="filter" onchange="this.form.submit()">
                        <option value="active" {% if filter == "active" %}selected{% endif %}>{% trans 'actives memberships' %}</option>
                        <option value="inactive" {% if filter == "inactive" %}selected{% endif %}>{% trans 'inactives memberships' %}</option>
                        <option value="all" {% if filter == "all" %}selected{% endif %}>{% trans 'all' %}</option>
                    </select>
                </form>
            </div>
            <br>

            <div id="chartdiv" style="width:100%; height:700px;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
    <script src="{% static 'main/amcharts/amcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/amcharts/serial.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/amcharts/themes/light.js' %}" type="text/javascript"></script>
    {#    <script src="{% static 'main/amcharts/themes/chalk.js' %}" type="text/javascript"></script>#}

    <script>
        var chartData = generateChartData();

        var linesColors = [
            "#992600",
            "#994c00",
            "#997300",
            "#999900",
            "#739900",
            "#4d9900",
            "#269900",
            "#009900",
            "#009926",
            "#00994d",
            "#009973",
            "#009999",
            "#007399",
            "#004c99",
            "#002699",
            "#000099",
            "#260099",
            "#4c0099",
            "#730099",
            "#990099",
            "#990073",
            "#99004d",
            "#990026",
            "#990000"
        ];


        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "chalk",
            "legend": {
                "useGraphSettings": true
            },
            "dataProvider": chartData,
            "valueAxes": [{
                "id": "v1",
                "axisColor": "#FCD202",
                "axisThickness": 2,
                "gridAlpha": 0,
                "axisAlpha": 1,
                "position": "right"
            }],
            "graphs": [
                {% for membership in memberships %}
                    {
                        "valueAxis": "v1",
                        "lineColor": linesColors[Math.floor(Math.random() * 23)],
                        "bullet": "round",
                        "bulletBorderThickness": 1,
                        "hideBulletsCount": 30,
                        "title": "{{ membership.product.name }}",
                        "valueField": "{{ membership.product.name }}",
                        "fillAlphas": 0
                    }, {% endfor %}
            ],
            "chartScrollbar": {},
            "chartCursor": {
                "cursorPosition": "mouse"
            },
            "categoryField": "date",
            "categoryAxis": {
                "parseDates": true,
                "axisColor": "#DADADA",
                "minorGridEnabled": true
            },
            "export": {
                "enabled": true,
                "position": "bottom-right"
            }
        });

        chart.addListener("dataUpdated", zoomChart);
        zoomChart();


        // generate some random data, quite different range
        function generateChartData() {
            var chartData = [];
            {% for ddd in dates %}
                chartData.push({{ ddd|safe }});
            {% endfor %}
            for (i = 0; i < chartData.length; i++) {
                chartData[i].date = toDate(chartData[i].date);
            }
            console.log(chartData);
            return chartData;
        }

        function toDate(dateStr) {
            var parts = dateStr.split("/");
            return new Date(parts[2], parts[1] - 1, parts[0]);
        }

        function zoomChart() {
            chart.zoomToIndexes(chart.dataProvider.length - 20, chart.dataProvider.length - 1);
        }
    </script>
{% endblock %}