{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}"/>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a>{% trans 'reports'|capfirst %}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a>{% trans title %}</a>
    </li>
{% endblock %}


{% block content %}
    <div id="chartdiv" style="width:100%; height:400px;"></div>
{% endblock %}



{% block javascripts_plugins %}
    <script src="{% static 'main/amcharts/amcharts.js'  %}" type="text/javascript"></script>
    <script src="{% static 'main/amcharts/serial.js'  %}" type="text/javascript"></script>
    <script>
    var chart;
        var chartdata = [
        {% for data in objts %}
            {
            {% for k in keys %}
                {% if k not in data %} "{{ k }}": 0, {% endif %}
            {% endfor %}
            {% for key, value in data.items %}
                "{{ key }}":"{{ value }}",
            {% endfor %}
            },
        {% endfor %}
        ];

        AmCharts.ready(
                function() {
                    chart = new AmCharts.AmSerialChart();

                    chart.dataProvider = chartdata;
                    chart.marginTop = 10;
                    chart.categoryField = "date";

                    var categoryAxis = chart.categoryAxis;
                    categoryAxis.gridAlpha = 0.07;
                    categoryAxis.axisColor = "#DADADA";

                    var valueAxis = new AmCharts.ValueAxis();
                    valueAxis.stackType = "regular"; // this line makes the chart "stacked"
                    valueAxis.gridAlpha = 0.07;
                    valueAxis.title = "Personas Registradas";
                    chart.addValueAxis(valueAxis);

                    {% for key in keys %}
                        {% if key != 'date' %}
                            var graph = new AmCharts.AmGraph();
                            graph.type = "line"; // it's simple line graph
                            graph.title = "{{ key }}";
                            graph.valueField = "{{ key }}";
                            graph.lineAlpha = 0;
                            graph.fillAlphas = 0.6; // setting fillAlphas to > 0 value makes it area graph
                            graph.balloonText = "<span style='font-size:14px; color:#000000;'><b>[[value]]</b></span>";
                            chart.addGraph(graph);
                        {% endif %}
                    {% endfor %}

                    var legend = new AmCharts.AmLegend();
                    legend.position = "top";
                    legend.valueText = "[[value]]";
                    legend.valueWidth = 100;
                    legend.valueAlign = "left";
                    legend.equalWidths = false;
                    legend.periodValueText = "total: [[value.sum]]"; // this is displayed when mouse is not over the chart.
                    chart.addLegend(legend);

                    // CURSOR
                    var chartCursor = new AmCharts.ChartCursor();
                    chartCursor.cursorAlpha = 0;
                    chart.addChartCursor(chartCursor);

                    // SCROLLBAR
                    var chartScrollbar = new AmCharts.ChartScrollbar();
                    chartScrollbar.color = "#FFFFFF";
                    chart.addChartScrollbar(chartScrollbar);

                    // WRITE
                    chart.write("chartdiv");
                }
        );
    </script>
{% endblock %}