{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}
{% load main_extras %}

{% block breadcrumb %}
    <li>
        <a>{% trans 'reports'|capfirst %}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a>{% trans title %}</a>
    </li>
{% endblock %}


{% block content %}
    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>{% trans 'people / membership registered by seller' %}
            </div>
        </div>
        <div class="portlet-body">
            <div class="pull-right">
                <form action="." method="post">
                    {% csrf_token %}
                    <label for="filter">{% trans 'see this report with information during:' %}</label>
                    <select name="filter" id="filter" onchange="this.form.submit()">
                        <option value="today" {% if filter == "today" %}selected{% endif %}>{% trans 'today' %}</option>
                        <option value="yesterday" {% if filter == "yesterday" %}selected{% endif %}>{% trans 'yesterday' %}</option>
                        <option value="last_5_days" {% if filter == "last_5_days" %}selected{% endif %}>{% trans 'last 5 days' %}</option>
                        <option value="the_month" {% if filter == "the_month" %}selected{% endif %}>{% trans 'the month' %}</option>
                    </select>
                </form>
            </div>
            <br>
            <div id="chartdiv0" style="width:100%; height:400px;"></div>
        </div>
    </div>

    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>{% trans 'Quantity of memberships sold by seller' %}
            </div>
        </div>
        <div class="portlet-body">
            <div class="pull-right">
                <form action="." method="post">
                    {% csrf_token %}
                    <label for="filter">{% trans 'see this report with information during:' %}</label>
                    <select name="filter" id="filter" onchange="this.form.submit()">
                        <option value="today" {% if filter == "today" %}selected{% endif %}>{% trans 'today' %}</option>
                        <option value="yesterday" {% if filter == "yesterday" %}selected{% endif %}>{% trans 'yesterday' %}</option>
                        <option value="last_5_days" {% if filter == "last_5_days" %}selected{% endif %}>{% trans 'last 5 days' %}</option>
                        <option value="the_month" {% if filter == "the_month" %}selected{% endif %}>{% trans 'the month' %}</option>
                    </select>
                </form>
            </div>
            <div id="chartdiv" style="width:100%; height:400px;"></div>
        </div>
    </div>

    <div class="portlet box yellow">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>{% trans 'Amount of memberships sold by seller' %}
            </div>
        </div>
        <div class="portlet-body">
            <div class="pull-right">
                <form action="." method="post">
                    {% csrf_token %}
                    <label for="filter">{% trans 'see this report with information during:' %}</label>
                    <select name="filter" id="filter" onchange="this.form.submit()">
                        <option value="today" {% if filter == "today" %}selected{% endif %}>{% trans 'today' %}</option>
                        <option value="yesterday" {% if filter == "yesterday" %}selected{% endif %}>{% trans 'yesterday' %}</option>
                        <option value="last_5_days" {% if filter == "last_5_days" %}selected{% endif %}>{% trans 'last 5 days' %}</option>
                        <option value="the_month" {% if filter == "the_month" %}selected{% endif %}>{% trans 'the month' %}</option>
                    </select>
                </form>
            </div>
            <div id="chartdiv2" style="width:100%; height:400px;"></div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
    <script src="{% static 'main/amcharts/amcharts.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/amcharts/serial.js' %}" type="text/javascript"></script>
    <script src="{% static 'main/amcharts/themes/light.js' %}" type="text/javascript"></script>

    <script>
        var chart0 = AmCharts.makeChart("chartdiv0", {
            "type": "serial",
            "theme": "light",
            "categoryField": "seller",
            "startDuration": 1,
            "categoryAxis": {
                "gridPosition": "start",
                "position": "left"
            },
            "trendLines": [],
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 2,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "graphs": [
                 {
                    "balloonText": "<b>[[value]]</b> [[title]] {% trans 'by' %} [[category]]",
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "title": "{% trans 'people registered' %}",
                    "type": "column",
                    "valueField": "{% trans 'people registered' %}"
                },
                {
                    "balloonText": "<b>[[value]]</b> [[title]] {% trans 'by' %} [[category]]",
                    "fillAlphas": 0.8,
                    "lineAlpha": 0.2,
                    "title": "{% trans 'memberships sold' %}",
                    "type": "column",
                    "valueField": "{% trans 'memberships sold' %}"
                }
            ],
            "guides": [],
            "valueAxes": [
                {
                    "id": "ValueAxis-1",
                    "axisAlpha": 0,
                    "totalText": "[[total]]"
                }
            ],
            "allLabels": [],
            "balloon": {},
            "titles": [],
            "dataProvider": [
                {% for seller in sellers %}
                    {
                        "seller": '{{ seller.first_name }}',
                        "{% trans 'memberships sold' %}":{{ seller.count_memberships_sold }},
                        "{% trans 'people registered' %}":{{ seller.count_people_registered }}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            "export": {
                "enabled": true
            }

        });

        var chart = AmCharts.makeChart("chartdiv", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [
                {% for seller in sellers %}
                    {
                        "seller": '{{ seller.first_name }}',
                        {% for person_membership in seller.person_memberships %}
                            {% for membership in memberships %}
                                {% if person_membership.membership == membership.membership %}
                                    "{{ membership.membership__product__name }}":{{ person_membership.membership__count }},
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
            ],
            "valueAxes": [{
                "stackType": "regular",
                "axisAlpha": 0.3,
                "gridAlpha": 0,
                "totalText": "[[total]]"
            }],
            "graphs": [
                {% for membership in memberships %}
                    {
                        "balloonText": "<b>[[value]]</b> {% trans 'membership' %} [[title]] {% trans 'sold' %} {% trans 'by' %} [[category]]",
                        "fillAlphas": 0.8,
                        "labelText": "[[value]]",
                        "lineAlpha": 0.3,
                        "title": "{{ membership.membership__product__name }}",
                        "type": "column",
                        "color": "#000000",
                        "valueField": "{{ membership.membership__product__name }}"
                    }{% if not forloop.last %}, {% endif %}
                {% endfor%}
            ],
            "categoryField": "seller",
            "categoryAxis": {
                "gridPosition": "start",
                "axisAlpha": 0,
                "gridAlpha": 0,
                "position": "left"
            },
            "export": {
                "enabled": true
            }

        });

        var chart2 = AmCharts.makeChart("chartdiv2", {
            "type": "serial",
            "theme": "light",
            "legend": {
                "horizontalGap": 10,
                "maxColumns": 1,
                "position": "right",
                "useGraphSettings": true,
                "markerSize": 10
            },
            "dataProvider": [
                {% for seller in sellers %}
                    {
                        "seller": '{{ seller.first_name }}',
                        {% for person_membership in seller.person_memberships %}
                            {% for membership in memberships %}
                                {% if person_membership.membership == membership.membership %}
                                    "{{ membership.membership__product__name }}":{{ person_membership.membership__count }} * {{ membership.membership__product__price|coma_to_point }} ,
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    }{% if not forloop.last %},{% endif %}
                {% endfor %}
        ],
        "valueAxes":[{
            "stackType": "regular",
            "axisAlpha": 0.3,
            "gridAlpha": 0,
            "totalText": "s/.[[total]]"
        }],
        "graphs":[
            {% for membership in memberships %}
                {
                    "balloonText": "<b>s./[[value]]</b> {% trans 'sold' %} of {% trans 'membership' %} {{ membership.membership__product__name }} {% trans 'by' %} [[category]]",
                    "fillAlphas": 0.8,
                    "labelText": "[[value]]",
                    "lineAlpha": 0.3,
                    "title": "{{ membership.membership__product__name }} (s/.{{ membership.membership__product__price }})",
                    "type": "column",
                    "color": "#000000",
                    "valueField": "{{ membership.membership__product__name }}"
                }{% if not forloop.last %}, {% endif %}
            {% endfor%}
        ],
                "categoryField"
        :
        "seller",
                "categoryAxis"
        :
        {
            "gridPosition"
        :
            "start",
                    "axisAlpha"
        :
            0,
                    "gridAlpha"
        :
            0,
                    "position"
        :
            "left"
        }
        ,
        "export"
        :
        {
            "enabled"
        :
            true
        }

        })
        ;
    </script>
{% endblock %}