{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheets %}
    {{ block.super }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/plugins/bootstrap-toastr/toastr.min.css' %}"/>


{% endblock %}

{% block content %}
    <div class="row" ng-controller="Taking"
         ng-init="routeSearchClient='{% url 'store:search_client' %}'; routeCreateHeader='{% url 'store:create_header' %}'">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-pin font-green"></i>
                        <span class="caption-subject bold uppercase"> {% trans 'Sale/Shop' %} </span>
                    </div>

                </div>
                <div class="portlet-body form">
                    <form role="form" ng-submit="submit()">
                        {% csrf_token %}
                        <h4>{% trans 'document'|capfirst %}</h4>
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>

                                        <div class="input-group-control">
                                            <select class="form-control" id="my_company"
                                                    ng-model="document.company"
                                                    ng-change="updateInformation(document.company.id)"
                                                    ng-options="company.name for company in listCompanies track by company.id"
                                                    ng-disabled="save">
                                            </select>
                                            <label for="my_company">{% trans 'company'|capfirst %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% verbatim %}
                            <div class="col-md-3">
                                RUC
                                <h4>{{ ruc }}</h4>
                            </div>
                            <div class="col-md-2">
                                Current
                                <h4>{{ current|currency:"S/.":2 }}</h4>
                            </div>
                            <div class="col-md-2">
                                Max
                                <h4>{{ max_income|currency:"S/.":2 }}</h4>
                            </div>
                            {% endverbatim %}
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>

                                        <div class="input-group-control">
                                            <!--<input type="text" class="form-control input-sm">-->
                                            <select class="form-control" id="document_type"
                                                    ng-model="document.voucherType"
                                                    ng-disabled="save"
                                                    ng-change="updateValues(document.voucherType.id)"
                                                    ng-options="voucher.name for voucher in listVouchers track by voucher.id">
                                            </select>
                                            <label for="document_type">{% trans 'document type'|capfirst %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group input-group-sm">
                                        <div class="input-group-control">
                                            <input type="text" class="form-control input-sm" id="form_control_1"
                                                   ng-model="document.series"
                                                   ng-disabled="save">
                                            <label for="form_control_1">{% trans 'series'|capfirst %}</label>
                                        </div>
                                        <span class="input-group-btn btn-right">
                                            <span class="fa fa-minus"></span>
                                        </span>

                                        <div class="input-group-control">
                                            <input type="text" class="form-control input-sm" id="form_control_2"
                                                   ng-model="document.number"
                                                   ng-disabled="save">
                                            <label for="form_control_2">{% trans 'number'|capfirst %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-icon">
                                        <input type="text" class="form-control input-sm datepicker" id="form_control_1"
                                               ng-model="document.date"
                                                ng-disabled="save">
                                        <label for="form_control_1">{% trans 'date issue'|capfirst %}</label>
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>{% trans 'customer'|capfirst %}</h4>

                        <div class="row" ng-controller="ClientController">
                            <div class="col-md-3">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-search"></i>
                                        </span>

                                        <div class="input-group-control">
                                            <input type="text" class="form-control input-sm" id="objective-document"
                                                   ng-model="$parent.document.objectiveDocument"
                                                    ng-disabled="save">
                                            <label for="objective-document">{% trans 'Search by DNI/RUC' %}</label>
                                        </div>
                                        <span class="input-group-btn btn-right">
                                            <button class="btn green-haze" type="button"
                                                    ng-click="searchClient()"
                                                    ng-disabled="save">
                                                <span class="fa fa-search"></span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group form-md-line-input has-success"
                                     ng-class="{ 'form-md-floating-label': floating }">
                                    <div class="input-icon">
                                        <input type="text" class="form-control input-sm" id="objective-name"
                                               ng-model="$parent.document.objectiveName"
                                               input-mask=""
                                               ng-disabled="!enable || save"
                                               ng-class="{ edited: enable}" placeholder="">
                                        <label for="objective-name">{% trans 'Name person or company' %}</label>
                                        <i class="fa fa-user"></i>
                                        <span class="help-block">
                                            {% verbatim %}
                                            {{ placeholder }}
                                            {% endverbatim %}
                                        </span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-5">
                                <div class="form-group form-md-line-input has-success"
                                     ng-class="{ 'form-md-floating-label': floating }">
                                    <div class="input-icon">
                                        <input type="text" class="form-control input-sm" id="objective-address"
                                               ng-model="$parent.document.objectiveAddress"
                                               ng-disabled="!enable || save"
                                               ng-class="{ edited: enable }">
                                        <label for="objective-address">{% trans 'address'|capfirst %}</label>
                                        <i class="fa fa-tag"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h4>Details</h4>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-group input-group-sm">
                                        <span class="input-group-addon">
                                            <i class="fa fa-cubes"></i>
                                        </span>

                                        <div class="input-group-control">
                                            <input type="hidden" ng-model="itemId">
                                            <input type="text" id="item_id" ng-model="itemName"
                                                   class="form-control input-sm" auto-complete
                                                   callback-on-select="selectItemName()"
                                                    ng-disabled="save">
                                            <label for="item_id">{% trans 'Search product by code or name' %}</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-icon">
                                        <input type="text" class="form-control input-sm" id="item_quantity"
                                               ng-model="itemQuantity"
                                                ng-disabled="save">
                                        <label for="item_quantity">{% trans 'quantity'|capfirst %}</label>

                                        <i class="fa fa-truck"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-icon">
                                        <input type="text" id="item_unitary_price" class="form-control input-sm"
                                               ng-model="itemUnitaryPrice" readonly>
                                        <label for="item_unitary_price">{% trans 'unitary price'|capfirst %}</label>
                                        <i class="fa fa-money"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group form-md-line-input has-info form-md-floating-label">
                                    <div class="input-icon">
                                        <input type="text" class="form-control input-sm" id="item_discount"
                                               ng-model="itemDiscount"
                                                ng-disabled="save">
                                        <label for="item_discount">{% trans 'discount'|capfirst %}</label>
                                        <i class="fa fa-usd"></i>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn green" ng-click="addItem()"
                                        ng-disabled="addItemButtonDisabled||save">
                                    <i class="fa fa-shopping-cart"></i>
                                    {% trans 'add'|capfirst %}
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-scrollable">
                                    <table class="table table-striped table-bordered table-advance table-hover">
                                        <thead>
                                        <tr>
                                            <th style="text-align: center">
                                                <i class="fa fa-shopping-cart"></i> {% trans 'product'|capfirst %}
                                            </th>
                                            <th style="text-align: center">
                                                <i class="fa fa-truck"></i> {% trans 'quantity'|capfirst %}
                                            </th>
                                            <th style="text-align: center">
                                                <i class="fa fa-usd"></i> {% trans 'unitary price'|capfirst %}
                                            </th>
                                            <th style="text-align: center">
                                                <i class="fa fa-money"></i> {% trans 'subtotal'|capfirst %}
                                            </th>
                                            <th style="text-align: center">
                                                <i class="fa fa-tag"></i> {% trans 'discount'|capfirst %}
                                            </th>
                                            <th style="text-align: center">
                                                <i class="fa fa-money"></i> {% trans 'total'|capfirst %}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% verbatim %}
                                        <tr ng-repeat="row in rows">
                                            <td>{{ row.itemName }}</td>
                                            <td style="text-align: center">{{ row.itemQuantity }}</td>
                                            <td style="text-align: right">{{ row.itemPriceUnitary|currency:"S/.":2 }}</td>
                                            <td style="text-align: right">{{ row.itemSubtotal|currency:"S/.":2 }}</td>
                                            <td style="text-align: right">{{ row.itemDiscount|currency:"S/.":2 }}</td>
                                            <td style="text-align: right">{{ row.itemTotal|currency:"S/.":2 }}
                                                <span class="pull-right">
                                           <a ng-click="removeItem($index)" class="btn default btn-xs black" ng-hide="save">
											<i class="fa fa-trash-o"></i>{% endverbatim %} {% trans 'delete'|capfirst %} {% verbatim %}</a>
                                                    </span>
                                            </td>
                                        </tr>
                                        {% endverbatim %}
                                        </tbody>
                                        <tfoot>

                                        <tr>
                                            <td colspan="4" rowspan="6" >
                                                {% trans "the sum is"|capfirst %}:
                                                {% verbatim %}
                                                {{ amountString|uppercase }}
                                                {% endverbatim %}
                                            </td>
                                            <td style="text-align: right">{% trans "subtotal"|capfirst %}:</td>
                                            {% verbatim %}
                                            <td style="text-align: right">{{ subtotal|currency:"S/.":2 }}</td>
                                            {% endverbatim %}
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">{% trans "discount"|capfirst %}:</td>
                                            {% verbatim %}
                                            <td style="text-align: right">{{ discount|currency:"S/.":2 }}</td>
                                            {% endverbatim %}
                                        </tr>
                                        {% verbatim %}
                                        <tr ng-show="haveTax">
                                            <td style="text-align: right">IGV({{ taxPercent }}%):</td>
                                            <td style="text-align: right">{{ tax|currency:"S/.":2 }}</td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">Total:</td>
                                            <td style="text-align: right">{{ total|currency:"S/.":2 }}</td>
                                        </tr>
                                        {% endverbatim %}
                                        <tr>
                                            <td style="text-align: right">
                                                {% trans "partial pay"|capfirst %}:
                                            </td>
                                            <td style="text-align: right">
                                                {% verbatim %}
                                                <input type="number" ng-model="part_payment" style="text-align: right" min="0" max="{{ total }}">
                                                {% endverbatim %}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="text-align: right">
                                                {% trans "difference"|capfirst %}:
                                            </td>
                                            <td style="text-align: right">
                                                {% verbatim %}
                                                {{ (total - part_payment)|currency:"S/.":2 }}
                                                {% endverbatim %}
                                            </td>
                                        </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions noborder" ng-hide="save">
                            <button type="submit" class="btn blue" ng-disabled="sending">{% trans "save"|capfirst %}</button>
                            <button type="button" class="btn default">{% trans "cancel"|capfirst %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
    <script type="text/javascript"
            src="{% static 'main/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/plugins/jquery-input-mask/dist/jquery.inputmask.bundle.min.js' %}"></script>
    <script src="{% static 'main/plugins/bootstrap-toastr/toastr.min.js' %}"></script>
    <script>
        toastr.options = {
            "closeButton": true,
            "preventDuplicates": true,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeout": "6000",
            "extendedTimeout": "10000",
            "positionClass": "toast-top-center"
        };
        var routes = {
                createHeader: "{% url 'store:create_header' %}",
                addProduct: "{% url 'store:add_product' %}",
                searchClient: "{% url 'store:search_client' %}",
                saveVoucher: "{% url 'store:save_voucher' %}",
                delProduct: "{% url 'store:del_product' %}"
                };
        var my_companies = {{ my_companies|jsonify|safe }};
    </script>
{% endblock %}

{% block javascripts_custom %}
    <script src="{% static 'main/angular/angular.min.js' %}"></script>
    <script src="{% static 'store/js/app/takings.js' %}"></script>
{% endblock %}

{% block scripts %}

    $('.datepicker').datepicker({
        format: 'dd/mm/yyyy',
        autoclose: true
    }).on('hide', function(e){
        $(this).addClass('edited');
    });
{% endblock %}
