{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'main/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}"/>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'store:inventory' %}">{% trans title|capfirst %}</a>
    </li>
{% endblock %}

{% block page_toolbar %}
    <a href="{% url 'store:new_product' %}" class="btn blue pull-right btn-fit-height">
        <i class="fa fa-plus"></i>
        {% trans 'new product'|capfirst %}
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>{% trans 'products'|capfirst %}
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="inventory">
                    <thead>
                    <tr>
                        <th>
                            {% trans 'product'|capfirst %}
                        </th>
                        <th>
                            {% trans 'voucher'|capfirst %}
                        </th>
                        <th>
                            {% trans 'observation'|capfirst %}
                        </th>
                        <th>
                            {% trans 'amount'|capfirst %}
                        </th>
                        <th>
                            {% trans 'unitary price'|capfirst %}
                        </th>
                        <th>
                            {% trans 'type'|capfirst %}
                        </th>
                        <th>
                            {% trans 'balance amount'|capfirst %}
                        </th>
                        <th>
                            {% trans 'balance price'|capfirst %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    {% if inventory %}
                    {% for register in inventory %}
                    <tr>
                        <td>{{ register.product.name }}</td>
                        <td>{{ register.voucher_product.series }}-{{ register.voucher_product.number }}</td>
                        <td>{{ register.observation }}</td>
                        {% if register.input_amount == 0 %}
                            <td>{{ register.output_amount }}</td>
                            <td>{{ register.output_unitary_price }}</td>
                            <td>
                                 <a href="javascript:;" class="btn default btn-xs red-flamingo">
                                    <i class="glyphicon glyphicon-log-out"></i>
                                    {% trans 'Output' %}
                                </a>
                            </td>
                        {% else %}
                            <td>{{ register.input_amount }}</td>
                            <td>{{ register.input_unitary_price }}</td>
                            <td>
                                <a href="javascript:;" class="btn default btn-xs green-jungle">
                                    <i class="glyphicon glyphicon-log-in"></i>
                                    {% trans 'Input' %}
                                </a>
                            </td>
                        {% endif %}
                        <td>{{ register.balance_amount }}</td>
                        <td>{{ register.balance_unitary_price }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
<script type="text/javascript" src="{% static 'main/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
{% endblock %}

{% block scripts %}
        var table = $('#inventory');

        /* Table tools samples: https://www.datatables.net/release-datatables/extras/TableTools/ */

        /* Set tabletools buttons and button container */

        $.extend(true, $.fn.DataTable.TableTools.classes, {
            "container": "btn-group tabletools-dropdown-on-portlet",
            "buttons": {
                "normal": "btn btn-sm default",
                "disabled": "btn btn-sm default disabled"
            },
            "collection": {
                "container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
            }
        });

        var oTable = table.dataTable({
            "order": [
                [0, 'asc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,

            "dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            "tableTools": {
                "sSwfPath": "{% static 'main/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf' %}",
                "aButtons": [{
                    "sExtends": "pdf",
                    "sButtonText": "PDF"
                }, {
                    "sExtends": "csv",
                    "sButtonText": "CSV"
                }, {
                    "sExtends": "xls",
                    "sButtonText": "Excel"
                }, {
                    "sExtends": "print",
                    "sButtonText": "Print",
                    "sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
                    "sMessage": "Generated by DataTables"
                }]
            }
        });
{% endblock %}%}