{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'main/plugins/bootstrap-gtreetable/bootstrap-gtreetable.min.css' %}"/>

{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'store:home' %}">{% trans 'store'|capfirst %}</a>
         <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{% url 'store:settings' %}">{% trans title|capfirst %}</a>
    </li>
{% endblock %}

{% block page_toolbar %}
<div class="btn-group pull-right">
    <button type="button" class="btn btn-fit-height green-jungle dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
    {% trans "new"|capfirst %}<i class="fa fa-angle-down"></i>
    </button>
    <ul class="dropdown-menu pull-right" role="menu">
        <li>
            <a href="#type-voucher" data-toggle="modal" id="voucher-type-modal">{% trans "voucher type"|capfirst %}</a>
        </li>
        <li>
            <a href="#company-voucher" data-toggle="modal" id="company-voucher-modal">{% trans "company voucher type"|capfirst %}</a>
        </li>

    </ul>
</div>
{% endblock %}

{% block content %}
    <div class="row" ng-controller="SettingsController">
        <div class="col-md-12">
            <div class="portlet light tabbable">
                <div class="portlet-body">
                    <div class="portlet-tabs">
                        <ul class="nav nav-tabs">
                            <li class="active">
                                <a href="#tab_categories" data-toggle="tab" aria-expanded="true">{% trans "categories"|capfirst %}</a>
                            </li>
                            <li class="">
                                <a href="#tab_vouchers" data-toggle="tab" aria-expanded="false">{% trans "vouchers"|capfirst %}</a>
                            </li>
                            <li class="">
                                <a href="#business" data-toggle="tab" aria-expanded="false">{% trans "business"|capfirst %}</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab_categories" ng-controller="CategoriesController">
                                <table class="table table-hover table-light gtreetable" id="gtreetable">
								<thead>
								<tr>
									<th>
										 {% trans 'Products Categories' %}
									</th>
								</tr>
								</thead>
								</table>
                            </div>
                            <div class="tab-pane" id="tab_vouchers" ng-controller="VoucherTypeController">
                               <div class="table-scrollable">
									<table class="table table-striped table-bordered table-advance table-hover">
									<thead>
									<tr>
										<th align="center">
											<i class="fa fa-briefcase"></i> {% trans 'name' %}
										</th>
										<th align="center">
											<i class="fa fa-question"></i> {% trans 'have' %} {% trans 'tax' %}
										</th>
										<th align="center">
                                            <i class="fa fa-asterisk"></i> {% trans 'tax' %}
										</th>
                                        <th align="center">
                                            <i class="fa fa-tag"></i>{% trans 'have' %} {% trans 'series' %}
                                        </th>
                                        <th>
                                            {% trans 'name' %} {% trans 'required' %}
                                        </th>
                                        <th align="center">
                                        </th>
									</tr>
									</thead>
									<tbody>
                                    {% verbatim %}
                                    <tr ng-repeat="vt in listVoucherTypes">
                                        <td>
                                            {{ vt.name }}
                                        </td>
                                        <td align="center">
                                            <span class="glyphicon " ng-class="vt.have_tax ? 'glyphicon-ok font-green' : 'glyphicon-remove font-red'"></span>
                                        </td>
                                        <td>
                                            {{ vt.percent }}
                                        </td>
                                        <td align="center">
                                            <span class="glyphicon " ng-class="vt.have_series ? 'glyphicon-ok font-green' : 'glyphicon-remove font-red'"></span>
                                        </td>
                                        <td align="center">
                                            <span class="glyphicon " ng-class="vt.name_required ? 'glyphicon-ok font-green' : 'glyphicon-remove font-red'"></span>
                                        </td>
                                        <td>
                                            <a href="javascript:;" class="btn default btn-xs green-stripe" ng-click="edit($index)">Edit</a>
											<a href="javascript:;" class="btn default btn-xs green-stripe" ng-click="delete($index)">
											Delete </a>
										</td>
                                    </tr>
                                    {% endverbatim %}
									</tbody>
									</table>
								</div>
                            </div>
                            <div class="tab-pane" id="business" ng-controller="BusinessController">
                               <div class="">
                                   {% verbatim %}
                                    <div class="row">
                                        <div class="col-md-5">
                                            <div class="form-group form-md-line-input form-md-floating-label has-info">
                                                <select class="form-control" id="form_control_1"
                                                        ng-model="company"
                                                        ng-change="updateInformation(company)"
                                                        ng-options="company.name for company in listCompanies track by company.id">
                                                </select>
                                                <label for="form_control_1">Companies</label>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            RUC
                                            <h3>{{ ruc }}</h3>
                                        </div>
                                        <div class="col-md-2">
                                            Current Amount:
                                            <h3>{{ total|currency:"S/.":2 }}</h3>
                                        </div>
                                        <div class="col-md-2">
                                            Max Amount:
                                            <h3>{{ max|currency:"S/.":2 }}</h3>
                                        </div>
                                    </div>
                                   {% endverbatim %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table class="table table-striped table-bordered table-advance table-hover">
                                            <thead>
                                            <tr>
                                                <th align="center">
                                                    <i class="fa fa-briefcase"></i> {% trans 'name' %}
                                                </th>
                                                <th align="center">
                                                    <i class="fa fa-question"></i> {% trans 'curent' %}
                                                </th>
                                                <th align="center">
                                                    <i class="fa fa-asterisk"></i> {% trans 'max' %}
                                                </th>
                                                <th>

                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% verbatim %}
                                            <tr ng-repeat="v in vouchers">
                                                <td>
                                                    {{ v.name }}
                                                </td>
                                                <td align="center">
                                                    {{ v.current|currency:"S/.":2 }}
                                                </td>
                                                <td>
                                                    {{ v.max|currency:"S/.":2 }}
                                                </td>
                                                <td>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe" ng-click="edit($index)">Edit</a>
                                                    <a href="javascript:;" class="btn default btn-xs green-stripe" ng-click="delete($index)">
                                                    Delete </a>
                                                </td>
                                            </tr>
                                            {% endverbatim %}
                                            </tbody>
                                            </table>
                                        </div>
                                    </div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="type-voucher" class="modal fade" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">{% trans 'voucher'|capfirst %} {% trans 'type'|capfirst %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="" style="" data-always-visible="1" data-rail-visible1="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form id="form-type-voucher" action="{% url 'store:new_type_voucher' %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-body">
                                                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                                                        <div class="input-icon">
                                                            {{ voucher_type_form.name }}
                                                            <label for="{{ voucher_type_form.name.id_for_label }}">{% trans 'name'|capfirst %}</label>
                                                            <span class="help-block"></span>
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-checkboxes">
                                                        <label>{% trans 'have'|capfirst %} {% trans 'tax'|capfirst %}</label>
                                                        <div class="md-checkbox-inline">
                                                            <div class="md-checkbox">
                                                                {{ voucher_type_form.have_tax|add_class:"md-check" }}
                                                                <label for="{{ voucher_type_form.have_tax.id_for_label }}">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {% trans 'have tax'|capfirst %}
                                                                </label>
                                                                <span class="help-block"></span>
                                                            </div>
                                                            <div class="md-checkbox">
                                                                {{ voucher_type_form.have_series|add_class:"md-check" }}
                                                                <label for="{{ voucher_type_form.have_series.id_for_label }}">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {% trans 'have series number'|capfirst %}
                                                                </label>
                                                                <span class="help-block"></span>
                                                            </div>
                                                            <div class="md-checkbox">
                                                                {{ voucher_type_form.name_required|add_class:"md-check" }}
                                                                <label for="{{ voucher_type_form.name_required.id_for_label }}">
                                                                    <span></span>
                                                                    <span class="check"></span>
                                                                    <span class="box"></span>
                                                                    {% trans 'name required'|capfirst %}
                                                                </label>
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-line-input has-success form-md-floating-label" ng-show="voucherType.have_tax">
                                                        <div class="input-icon">
                                                            {{ voucher_type_form.percent }}
                                                            <label for="{{ voucher_type_form.percent.id_for_label }}">{% trans 'tax percent'|capfirst %}</label>
                                                            <span class="help-block"></span>
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn default close-modal" id="close-modal">{% trans "close"|capfirst %}</button>
                                <button type="button" class="btn green save" data-form="form-type-voucher" ng-click="saveVoucherType()">{% trans "save changes"|capfirst %}</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="company-voucher" class="modal fade" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">{% trans 'company'|capfirst %} {% trans 'voucher'|capfirst %}</h4>
                            </div>
                            <div class="modal-body">
                                <div class="" style="" data-always-visible="1" data-rail-visible1="1">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form id="form-type-voucher" action="{% url 'store:new_type_voucher' %}" method="post">
                                                {% csrf_token %}
                                                <div class="form-body">
                                                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                                                        <div class="input-icon">
                                                            {{ company_type_voucher.company }}
                                                            <label for="{{ company_type_voucher.company.id_for_label }}">{% trans 'company'|capfirst %}</label>
                                                            <span class="help-block"></span>
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                                                        <div class="input-icon">
                                                            {{ company_type_voucher.type_voucher }}
                                                            <label for="{{ company_type_voucher.type_voucher.id_for_label }}">{% trans 'voucher type'|capfirst %}</label>
                                                            <span class="help-block"></span>
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                                                        <div class="input-icon">
                                                            {{ company_type_voucher.max_income}}
                                                            <label for="{{ company_type_voucher.max_income.id_for_label }}">{% trans 'max income'|capfirst %}</label>
                                                            <span class="help-block"></span>
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn default close-modal" id="close-modal">{% trans "close"|capfirst %}</button>
                                <button type="button" class="btn green save" data-form="form-type-voucher" ng-click="saveCompanyVoucherType()">{% trans "save changes"|capfirst %}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
<script type="text/javascript" src="{% static 'main/plugins/bootstrap-gtreetable/bootstrap-gtreetable.js' %}"></script>

{% endblock %}


{% block javascripts_custom %}
    <script src="{% static 'main/angular/angular.min.js' %}"></script>
    <script>
        var typeVouchersList = [
        {% for vt in voucher_type %}
            {
                id: {{ vt.id }},
                name: "{{ vt.name }}",
                have_tax: {{ vt.have_tax|yesno:"true,false" }},
                percent: {{ vt.percent|safe }},
                have_series: {{ vt.have_series|yesno:"true,false" }},
                name_required: {{ vt.name_required|yesno:"true,false" }}
            },
        {% endfor %}

        ];
        var companies = {{ my_companies|jsonify|safe }};
        var tvr_delete = "{% url 'store:delete_type_voucher' %}";
        var tvr_edit = "{% url 'store:edit_type_voucher' %}";
        var tvr_new = "{% url 'store:new_type_voucher' %}";

        var ctv_routes = {
            delete: "{% url 'store:delete_company_type_voucher' %}",
            edit: "{% url 'store:edit_company_type_voucher' %}",
            new: "{% url 'store:new_company_type_voucher' %}"
        };
        var csrf = "{{ csrf_token }}";
    </script>
    <script src="{% static 'store/js/app/settings.js' %}"></script>

{% endblock %}

{% block scripts %}

    jQuery('#gtreetable').gtreetable({
            'draggable': false,
            'source': function(id) {
                return {
                    type: 'GET',
                    url: '{% url 'store:categories'  %}',
                    data: {
                        'csrfmiddlewaretoken': '{{ csrf_token }}',
                        'id': id
                    },
                    dataType: 'json',
                    error: function(XMLHttpRequest) {
                        alert(XMLHttpRequest.status + ': ' + XMLHttpRequest.responseText);
                    }
                }
            },
            'onSave':function (oNode) {
                return {
                  type: 'POST',
                  url: !oNode.isSaved() ? '{% url 'store:new_category' %}' : '{% url 'store:edit_category' %}?id='+oNode.getId(),
                  data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    id: oNode.getId(),
                    parent: oNode.getParent(),
                    name: oNode.getName(),
                    position: oNode.getInsertPosition(),
                    related: oNode.getRelatedNodeId()
                  },
                  dataType: 'json',
                  error: function(XMLHttpRequest) {
                    alert(XMLHttpRequest.status+': '+XMLHttpRequest.responseText);
                  }
                };
              },
              'onDelete':function (oNode) {
                return {
                  type: 'POST',
                  url: '{% url 'store:delete_category' %}',
                  data: {
                    id: oNode.getId(),
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                  },
                  dataType: 'json',
                  error: function(XMLHttpRequest) {
                    alert(XMLHttpRequest.status+': '+XMLHttpRequest.responseText);
                  }
                };
              },
            'sort': function (a, b) {
                var aName = a.name.toLowerCase();
                var bName = b.name.toLowerCase();
                return ((aName < bName) ? -1 : ((aName > bName) ? 1 : 0));
            },
            'types': { default: 'glyphicon glyphicon-check', folder: 'glyphicon glyphicon-check'},
            'inputWidth': '255px',
            'manyroots': true
        });
{% endblock %}