{% extends 'main/layout.html' %}

{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block stylesheets %}
    <link href="{% static 'store/css/invoice.css' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/plugins/bootstrap-editable/bootstrap-editable/css/bootstrap-editable.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'main/plugins/bootstrap-editable/inputs-ext/address/address.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/plugins/bootstrap-toastr/toastr.min.css' %}"/>
{% endblock %}

{% block content %}
    <div class="portlet light">
        <div class="portlet-body">
            <div class="invoice">
                <div class="row invoice-logo">
{#                    <div class="col-md-3 invoice-logo-space">#}
{#                        <img src="" class="img-responsive" alt=""/>#}
{#                    </div>#}
                    <div class="col-md-6">
                        <p class="text-left">
                            {% if voucher_product.status != voucher_product.PAID %}
                            <a href="#" id="select_company" data-type="select" data-name="company"
                               data-value="{{ voucher_product.company_vouchers.company.id }}"
                               data-original-title="{% trans 'select a company' %}">
                            </a>
                            {% else %}
                                {{ voucher_product.company_vouchers.company.name }}<br>
                                {{ voucher_product.company_vouchers.company.ruc }}
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="text-center">
                            {% if voucher_product.status != voucher_product.PAID %}
                                <a id="select_voucher_type" href="#" data-type="select"
                                   data-name="voucher_type"
                                   data-value="{{ voucher_product.type_voucher_product.id }}"
                                   data-original-title="{% trans 'select a voucher type' %}">
                                </a>
                                <br>

                                <a href="#" class="editable" data-type="text" data-name="series"
                                   data-original-title="Ingrese la serie" data-emptytext="serie">
                                    {{ voucher_product.series|default:'' }}
                                </a>-<a href="#" class="editable" data-type="text" data-name="number"
                                        data-original-title="Ingrese el numero" data-emptytext="numero">
                                {{ voucher_product.number|default:'' }}
                            </a>
                            {% else %}
                                {{ voucher_product.type_voucher_product.name }}<br>
                                {{ voucher_product.series }}-{{ voucher_product.number }}
                            {% endif %}
                            <span class="muted">
                            </span>
                        </p>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-md-12">
                        <h3>Cliente:</h3>

                        <div class="col-md-8">
                            <ul class="list-unstyled">
                                <li>
                                    <strong>{% trans "name"|capfirst %}:</strong>
                                    {% if voucher_product.customer %}
                                        {{ voucher_product.customer.company.name|upper }}{{ voucher_product.customer.person.surname|upper }}
                                        {{ voucher_product.customer.person.name|upper }}
                                    {% else %}
                                        {{ voucher_product.provider.company.name|upper }}{{ voucher_product.provider.person.surname|upper }}
                                        {{ voucher_product.provider.person.name|upper }}
                                    {% endif %}
                                </li>
                                <li>
                                    <strong>{% trans 'Address' %}:</strong>
                                    {% if voucher_product.customer %}
                                        {{ voucher_product.customer.company.address }}{{ voucher_product.customer.person.address }}
                                    {% else %}
                                        {{ voucher_product.provider.company.address }}{{ voucher_product.provider.person.address }}
                                    {% endif %}
                                </li>

                            </ul>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-unstyled">
                                <li>
                                    <strong>DNI/RUC:</strong>
                                    {% if voucher_product.customer %}
                                        {{ voucher_product.customer.company.ruc }}{{ voucher_product.customer.person.dni }}
                                    {% else %}
                                        {{ voucher_product.provider.company.ruc }}{{ voucher_product.provider.person.dni }}
                                    {% endif %}
                                </li>
                                <li>
                                    <strong>{% trans 'Date' %}:</strong>
                                    {% if voucher_product.status != voucher_product.PAID and voucher_product.type_voucher_product_id != voucher_part_payment %}
                                        <a href="#" class="editable"
                                           data-name="date_issue"
                                           data-type="combodate"
                                           data-template="D / MMM / YYYY"
                                           data-title="Date of voucher issue"
                                           data-format="YYYY-MM-DD"
                                           data-viewformat="DD/MM/YYYY">
                                            {{ voucher_product.date_issue|date:"d/m/Y" }}
                                        </a>
                                    {% else %}
                                        {{ voucher_product.date_issue|date:"d/m/y" }}
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table class="table table-striped table-hover">
                            <thead>
                            <tr>
                                <th class="hidden-480">
                                    #
                                </th>
                                <th>
                                    {% trans "item"|capfirst %}
                                </th>
                                <th>
                                    {% trans "quantity"|capfirst %}
                                </th>
                                <th class="hidden-480">
                                    {% trans "unit cost"|capfirst %}
                                </th>
                                <th>
                                    {% trans "total"|capfirst %}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for vp in voucher_details %}
                                <tr>
                                    <td class="hidden-480">
                                        {{ vp.product.code }}
                                    </td>
                                    <td>
                                        {{ vp.product.name }}
                                    </td>
                                    <td>
                                        {{ vp.quantity }}
                                    </td>
                                    <td class="hidden-480">
                                        {{ vp.unitary_price|currency }}
                                    </td>
                                    <td>
                                        {{ vp.total|currency }}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                            <tr>
                                <td class="hidden-480"></td>
                                <td class="hidden-480"></td>
                                <td colspan="2" align="right">
                                    <strong>{% trans "subtotal amount"|capfirst %}:</strong>
                                </td>
                                <td>
                                    {{ voucher_product.subtotal|currency }}
                                </td>
                            </tr>
                            <tr>
                                <td class="hidden-480"></td>
                                <td class="hidden-480"></td>
                                <td colspan="2" align="right">
                                    <strong>{% trans "discount"|capfirst %}:</strong>
                                </td>
                                <td>
                                    {% if voucher_product.status != voucher_product.PAID and voucher_product.type_voucher_product_id != voucher_part_payment %}
                                        <a href="#" class="editable" data-type="text" data-name="discount">
                                            {{ voucher_product.discount }}
                                        </a>
                                    {% else %}
                                        {{ voucher_product.discount }}
                                    {% endif %}
                                </td>
                            </tr>
                            {% if voucher_product.type_voucher_product.have_tax %}
                                <tr>
                                    <td class="hidden-480"></td>
                                    <td class="hidden-480"></td>
                                    <td colspan="2" align="right">
                                        <strong>IGV({{ voucher_product.type_voucher_product.percent }}):</strong>
                                    </td>
                                    <td>
                                        {{ voucher_product.igv }}
                                    </td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td class="hidden-480"></td>
                                <td class="hidden-480"></td>
                                <td colspan="2" align="right">
                                    <strong>{% trans "grand total"|capfirst %}:</strong>
                                </td>
                                <td>
                                    {{ voucher_product.total_cashed }}
                                </td>
                            </tr>
                            {% if part_payments.count == 0 and voucher_product.status != voucher_product.PAID and voucher_product.type_voucher_product_id != voucher_part_payment %}
                                <tr class="hidden-print">
                                    <td class="hidden-480"></td>
                                    <td class="hidden-480"></td>
                                    <td colspan="2" align="right">
                                        <strong>{% trans "part payment"|capfirst %}: </strong>
                                    </td>
                                    <td>
                                        <a id="part_payment" href="#" class="editable"
                                           data-title="{% trans "Insert amount of part payment"|capfirst %}"
                                           data-name="part_payment">0.00</a>
                                    </td>
                                </tr>
                            {% endif %}
                            </tfoot>
                        </table>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-xs-12"><h2>{% trans 'Payment Form' %}</h2></div>
                    <div class="col-xs-12"><strong>{% trans 'In cash' %}:</strong>
                        <span>
                            <a href="#" class="editable"
                               data-type="text"
                               data-name="form_pay_cash_amount">{{ voucher_product.form_pay_cash_amount }}</a></span>
                    </div>
                    <div class="col-xs-12">
                        <strong>{% trans 'With credit card' %}:</strong>
                        <span><a id="select_card" href="#" data-type="select"
                                 data-name="form_pay_card_type"
                                 {% if voucher_product.form_pay_card_type %}data-value="{{ voucher_product.form_pay_card_type.id }}"
                                 {% else %}data-value=""{% endif %}
                                 data-original-title="{% trans 'select a card' %}"></a>
                        </span>
                        , <span>{% trans 'amount' %}:
                            <a href="#" class="editable" data-type="text"
                               data-name="form_pay_card_amount" data-emptytext="0">
                                {{ voucher_product.form_pay_card_amount }}</a>
                    </span>
                        , <span>{% trans 'transaction number' %}:
                            <a href="#" class="editable" data-type="text"
                               data-name="form_pay_card_transaction_number" data-emptytext="any">
                                {{ voucher_product.form_pay_card_transaction_number|default:'ninguna' }}</a>
                    </span>
                    </div>
                </div>
                <hr>

                <div class="row">
                    <div class="col-xs-12 invoice-block">
                        {% if part_payments.count > 0 %}
                            <div class="hidden-print">
                                <h1>{% trans "last payments"|capfirst %}</h1>

                                <table class="table table-striped table-hover">
                                    <thead>
                                    <tr>
                                        <td>{% trans "series"|capfirst %}</td>
                                        <td>{% trans "date"|capfirst %}</td>
                                        <td>{% trans "amount"|capfirst %}</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for part_payment in part_payments %}
                                        <tr>
                                            <td>
                                                <a href="{% url 'store:voucher_view' part_payment.id %}">{{ part_payment.series }}-{{ part_payment.number }}</a>
                                            </td>
                                            <td>{{ part_payment.date_payed }}</td>
                                            <td>{{ part_payment.total_cashed }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        {% endif %}
                        {% if voucher_product.status != voucher_product.PAID and voucher_product.type_voucher_product_id != voucher_part_payment %}
                            <a href="{% url 'store:pay_voucher' voucher_product.id %}" id="pay"
                               class="btn btn-lg blue hidden-print margin-bottom-5">
                                {% trans "pay voucher"|capfirst %} <i class="fa fa-money"></i>
                            </a>
                        {% endif %}
                        <a class="btn btn-lg blue hidden-print margin-bottom-5" onclick="javascript:window.print();">
                            {% trans 'print' %} <i class="fa fa-print"></i>
                        </a>
                        <a class="btn btn-lg green hidden-print margin-bottom-5"
                           href="javascript:window.history.back();">
                            {% trans 'go back' %} <i class="fa fa-check"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
    <script type="text/javascript"
            src="{% static 'main/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript"
            src="{% static 'main/plugins/bootstrap-datepicker/locales/bootstrap-datepicker.es.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'main/angular/moment.min.js' %}"></script>
    {% if voucher_product.status != voucher_product.PAID %}
        <script type="text/javascript"
                src="{% static 'main/plugins/bootstrap-editable/bootstrap-editable/js/bootstrap-editable.js' %}"></script>
        <script type="text/javascript"
                src="{% static 'main/plugins/bootstrap-editable/inputs-ext/address/address.js' %}"></script>

    <script type="text/javascript"
            src="{% static 'main/plugins/bootstrap-editable/inputs-ext/wysihtml5/wysihtml5.js' %}"></script>
    {% endif %}
    <script src="{% static 'main/plugins/bootstrap-toastr/toastr.min.js' %}"></script>
{% endblock %}

{% block javascripts_custom %}
    <script>
        {#        $.fn.editable.defaults.mode = 'inline';#}

        $(document).ready(function () {
            toastr.options = {
                "closeButton": true,
                "preventDuplicates": true,
                "showDuration": "300",
                "hideDuration": "1000",
                "timeout": "6000",
                "extendedTimeout": "10000",
                "positionClass": "toast-top-center"
            };

            function editableSuccess(response, newValue) {
                if (response.status) {
                    toastr.success(response.message);
                    if (response.refresh) {
                        setTimeout(function () {
                            window.location.reload()
                        }, 500);
                    }
                } else {
                    toastr.error(response.message);
                }
            }

            function editableError(response, newValue) {
                if (response.status == 400) {
                    if (response.responseJSON.message) {
                        toastr.error(response.responseJSON.message);
                    } else {
                        toastr.error('{% trans "There is a badrequest to the server" %}');
                    }
                }
                else if (response.status == 500) {
                    toastr.error('{% trans "We have experimented an error on server" %}');
                }
                else {
                    toastr.error('{% trans "Sorry, maybe your internet connection has fallen, please try again in a few moments." %}');
                }
            }

            {% if voucher_product.status != voucher_product.PAID %}

                var companies = {{ company_voucher|jsonify|safe }};
                var company = {{ voucher_product.company_vouchers.company.id }};

                var getCompanies = function() {
                    var tmp = [];
                    for (var i=0; i < companies.length; i++) {
                        var obj = {
                            value: companies[i].id,
                            text: companies[i].name
                        };
                        tmp.push(obj);
                    }
                    return tmp;
                };

                var sourceCompanies = getCompanies();

                var getVouchers = function(company_id) {
                    var tmp = [];
                    for (var i=0; i < companies.length; i++) {
                        if (companies[i].id == company_id) {
                            tmp = companies[i].vouchers;
                        }
                    }
                    return tmp;
                };
                var vouchers = getVouchers(company);

                var getSourceVouchers = function() {
                    var tmp = [];
                    for (var i=0; i < vouchers.length; i++) {
                        var obj = {
                            value: vouchers[i].id_vt,
                            text: vouchers[i].name
                        };
                        tmp.push(obj);
                    }
                    return tmp;
                };

                var sourceVoucher = getSourceVouchers();

                $('.editable').editable({
                    pk: {{ voucher_product.pk }},
                    url: "{% url 'store:edit_voucher' %}",
                    success: editableSuccess,
                    error: editableError
                });

                $('#select_card').editable({
                    prepend: "{% trans 'any' %}",
                    pk: {{ voucher_product.pk }},
                    url: "{% url 'store:edit_voucher' %}",
                    source: [
                        {% for card in cards %}
                            {
                                value: {{ card.id }},
                                text: '{{ card.name }}'
                            }{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    ],
                    display: function (value, sourceData) {
                        var colors = {
                                    "": "gray",
                                    1: "green",
                                    2: "blue"
                                },
                                elem = $.grep(sourceData, function (o) {
                                    return o.value == value;
                                });

                        if (elem.length) {
                            $(this).text(elem[0].text).css("color", colors[value]);
                        } else {
                            $(this).empty();
                        }
                    },
                    success: editableSuccess,
                    error: editableError
                });

                $('#select_voucher_type').editable({
                    prepend: "{% trans 'any' %}",
                    pk: {{ voucher_product.pk }},
                    url: "{% url 'store:edit_voucher' %}",
                    source: sourceVoucher,
                    display: function (value, sourceData) {
                        var colors = {
                                    "": "gray",
                                    1: "green",
                                    2: "blue"
                                },
                                elem = $.grep(sourceData, function (o) {
                                    return o.value == value;
                                });

                        if (elem.length) {
                            $(this).text(elem[0].text).css("color", colors[value]);
                        } else {
                            $(this).empty();
                        }
                    },
                    success: editableSuccess,
                    error: editableError
                });


                $('#select_company').editable({
                    prepend: "{% trans 'any' %}",
                    pk: {{ voucher_product.pk }},
                    url: "{% url 'store:edit_voucher' %}",
                    source: sourceCompanies,
                    display: function (value, sourceData) {
                        var colors = {
                                    "": "gray",
                                    1: "green",
                                    2: "blue"
                                },
                                elem = $.grep(sourceData, function (o) {
                                    return o.value == value;
                                });

                        if (elem.length) {
                            $(this).text(elem[0].text).css("color", colors[value]);
                        } else {
                            $(this).empty();
                        }
                    },
                    success: editableSuccess,
                    error: editableError
                });

                $('#select_card, #select_card.editable').on('hidden', function (e, reason) {
                    if (reason === 'save' || reason === 'nochange') {
                        var $next = $(this).closest('span').next().find('.editable');
                        $next.editable('show');
                    }
                });

                $('.editable').on('hidden', function (e, reason) {
                    if (reason === 'save' || reason === 'nochange') {
                        var $next = $(this).closest('span').next().find('.editable');
                        $next.editable('show');
                    }
                });

            {% endif %}
        });
    </script>
{% endblock %}