{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'main/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}"/>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'store:incoming' %}">{% trans title|capfirst %}</a>
    </li>
{% endblock %}

{% block page_toolbar %}
    <a href="{% if voucher in "incoming" %}{% url 'store:new_incoming' %}{% else %}{% url 'store:new_expenses' %}{% endif %}" class="btn blue pull-right btn-fit-height">
        <i class="fa fa-plus"></i>
        {% trans 'new'|capfirst %} {{ voucher }}
    </a>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet box blue-hoki">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-globe"></i>{{ voucher }}
                    </div>
                    <div class="tools">
                    </div>
                </div>
                <div class="portlet-body">
                    <table class="table table-striped table-bordered table-hover" id="products">
                    <thead>
                    <tr>
                        <th>
                            {% trans 'series'|capfirst %}
                        </th>
                        <th>
                            {% trans 'voucher'|capfirst %}
                        </th>
                        <th>
                            {% trans 'date'|capfirst %}
                        </th>
                        <th>
                            {% trans 'customer'|capfirst %}
                        </th>
                        <th>
                            {% trans 'total'|capfirst %}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% if incoming_list %}
                    {% for incoming in incoming_list %}
                    <tr>
                        <td><a href="{% url 'store:voucher_view' incoming.id %}">{{ incoming.series }}-{{ incoming.number }}</a></td>
                        <td>{{ incoming.type_voucher_product.name }}</td>
                        <td>{{ incoming.date_issue|date:"d/m/Y" }}</td>
                        {% if incoming.customer %}
                            <td>
                            {% if incoming.customer.company %}
                                {{ incoming.customer.company.name|upper }}
                            {% else %}
                                {{ incoming.customer.person.surname|upper }}, {{ incoming.customer.person.name|upper }}
                            {% endif %}
                            </td>
                        {% else %}
                            <td>
                            {% if incoming.provider.company %}
                                {{ incoming.provider.company.name|upper }}
                            {% else %}
                                {{ incoming.provider.person.surname|upper }}, {{ incoming.provider.person.name|upper }}
                            {% endif %}
                            </td>
                        {% endif %}
                        <td>{{ incoming.total_cashed|currency }}</td>
                    </tr>
                    {% endfor %}

                    {% endif %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
<script type="text/javascript" src="{% static 'main/plugins/datatables/media/js/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/plugins/datatables/extensions/TableTools/js/dataTables.tableTools.min.js' %}"></script>
<script type="text/javascript" src="{% static 'main/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js' %}"></script>
{% endblock %}

{% block scripts %}
        var table = $('#products');

        /* Table tools samples: https://www.datatables.net/release-datatables/extras/TableTools/ */

        /* Set tabletools buttons and button container */

        $.extend(true, $.fn.DataTable.TableTools.classes, {
            "container": "btn-group tabletools-dropdown-on-portlet",
            "buttons": {
                "normal": "btn btn-sm default",
                "disabled": "btn btn-sm default disabled"
            },
            "collection": {
                "container": "DTTT_dropdown dropdown-menu tabletools-dropdown-menu"
            }
        });

        var oTable = table.dataTable({
            "order": [
                [2, 'desc']
            ],
            "lengthMenu": [
                [5, 10, 15, 20, -1],
                [5, 10, 15, 20, "All"] // change per page values here
            ],
            // set the initial value
            "pageLength": 10,

            "dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r><'table-scrollable't><'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>", // horizobtal scrollable datatable

            // Uncomment below line("dom" parameter) to fix the dropdown overflow issue in the datatable cells. The default datatable layout
            // setup uses scrollable div(table-scrollable) with overflow:auto to enable vertical scroll(see: assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.js).
            // So when dropdowns used the scrollable div should be removed.
            //"dom": "<'row' <'col-md-12'T>><'row'<'col-md-6 col-sm-12'l><'col-md-6 col-sm-12'f>r>t<'row'<'col-md-5 col-sm-12'i><'col-md-7 col-sm-12'p>>",

            "tableTools": {
                "sSwfPath": "{% static 'main/plugins/datatables/extensions/TableTools/swf/copy_csv_xls_pdf.swf' %}",
                "aButtons": [{
                    "sExtends": "pdf",
                    "sButtonText": "PDF"
                }, {
                    "sExtends": "csv",
                    "sButtonText": "CSV"
                }, {
                    "sExtends": "xls",
                    "sButtonText": "Excel"
                }, {
                    "sExtends": "print",
                    "sButtonText": "Print",
                    "sInfo": 'Please press "CTR+P" to print or "ESC" to quit',
                    "sMessage": "Generated by AQPUp"
                }]
            }
        });
{% endblock %}