{% load main_extras %}
{% load i18n %}

<div class="md-checkbox">
    <input type="checkbox" id="id_{{ field.name }}" name="{{ field.name }}"
           {% if field.value %}checked{% endif %} class="md-check">
    <label for="id_{{ field.name }}">
        <span></span>
        <span class="check"></span>
        <span class="box"></span>
        {% trans field.label %} </label>
</div>
                            