{% load main_extras %}

{% if field.field.widget|get_class_name == 'RadioSelect' %}
    <div class="form-group form-md-line-input{% if field.errors %} has-error{% endif %} form-md-floating-label form-md-radios">
        <label>{{ field.label }}</label>

        <div class="md-radio-inline">
            {% for choice in field.field.choices %}
                <div class="md-radio">
                    <input type="radio" id="id_{{ field.html_name }}_{{ forloop.counter0 }}"
                           name="{{ field.html_name }}" value="{{ choice|get_choice_value }}" class="md-radiobtn"
                            {% if field|get_value %}
                           {% if field|get_value == choice|get_choice_value %}checked{% endif %}{% endif %}>
                    <label for="id_{{ field.html_name }}_{{ forloop.counter0 }}">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        {{ choice.1 }}</label>
                </div>
            {% endfor %}
        </div>
    </div>
{% elif field.field.widget|get_class_name == 'CheckboxSelectMultiple' %}
    <div class="form-group form-md-line-input{% if field.errors %} has-error{% endif %} form-md-floating-label form-md-radios">

        <label for="{{ field.auto_id }}">
            {{ field.label }}{% if field.field.required %} <span class="special_class">*</span>{% endif %}</label>

        {{ field }}
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
{% else %}
    <div class="form-group form-md-line-input{% if field.errors %} has-error{% endif %} form-md-floating-label">


        {% if field|has_class:'is_money' %}
            <div class="input-group left-addon right-addon">
            <span class="input-group-addon">s/.</span>

        {% endif %}
        {{ field }}

        <label for="{{ field.auto_id }}">
            {{ field.label }}{% if field.field.required %} <span class="special_class">*</span>{% endif %}</label>
        {% if field.errors %}
            {% for error in field.errors %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        {% endif %}
        {% if field|has_class:'is_money' %}
            </div>
        {% endif %}
    </div>
{% endif %}