{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

{% for field in form %}
        {% if field.errors %}
            <div class="has-error">
        {% endif %}
        {{ field }}
        {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
        {% endfor %}
        {% if field.errors %}
            </div>
        {% endif %}
{% endfor %}
