{% load i18n %}
<div class="portlet light bordered">
    <div class="portlet-title">
        <div class="caption font-green">
            <i class="icon-pin font-green"></i>
{#            <span class="caption-subject bold uppercase"> {{ title }}</span>#}
            <span class="caption-subject bold uppercase"> {% trans 'please, fill these fields' %}</span>
        </div>
    </div>
    <div class="portlet-body form">
        <form role="form" action="." method="post" enctype="multipart/form-data" class="horizontal">
            {% csrf_token %}
            {% include 'hock/form_horizontal.html' with form=form %}
            <input type="submit" class="btn btn-lg blue" value="{% if form.initial %}{% trans 'update' %}{% else %}{% trans 'save' %}{% endif %}" />
        </form>
    </div>
</div>