{% load main_extras %}

{% if form.non_field_errors %}
    <div class="alert alert-danger">
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
{% endif %}

<div class="form-body">
    {% for field in form %}
        <div class="col-md-{% if width %}{{ width }}{% else %}6{% endif %}">
            {% include 'hock/form_horizontal_field.html' with field=field %}
        </div>
    {% endfor %}
</div>
