{% load i18n %}
{{ form_for_form.media }}

{% csrf_token %}
<div class="form-body">
    {% for field in form_for_form.visible_fields %}
        <div class="col-md-12">
            {% include 'hock/form_horizontal_field.html' with field=field %}
        </div>
    {% endfor %}
    {% for field in form_for_form.hidden_fields %}
        {{ field }}
        {% if field.errors %}
            {% for error in field.errors %}
                <div class="form-group has-error"><label class="control-label">{{ field.label }} - {{ error }}</label>
                </div>
            {% endfor %}
        {% endif %}
    {% endfor %}
    <input type="hidden" name="entry_id" value="{{ entry_id|default:'' }}">
</div>
<span class="text-right">
    <input type="submit" class="btn btn-lg blue"
           value="{% if form.initial %}{% trans 'update' %}{% else %}{% trans 'save' %}{% endif %}"/>
</span>