{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="portlet light">
            <div class="portlet-title">
                <div class="caption">
                    <span class="caption-subject font-red-sunglo bold uppercase">
                        {% trans "convert"|capfirst %} {{ product_parent.name }}
                    </span>
                </div>
            </div>
            <div class="portlet-body">
                {% if product_parent.stock > 0 and product_child %}
                <form role="form" method="post">
                <div class="form-body">
                    <div class="row">
                        <div class="col-md-5">
                            {% csrf_token %}
                            <input type="hidden" name="id_product" value="{{ product_parent.id }}">
                            <div class="note highlight">
                                <h2 class="block">{{ product_parent.name }}</h2>
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <div class="input-icon">
                                        <input type="number" min="0" max="{{ product_parent.stock }}"  name="quantity" id="quantity-parent" class="form-control" value="{{ product_parent.stock }}" />
                                        <label for="">{% trans 'quantity'|capfirst %}</label>
                                        <span class="help-block"></span>
                                        <i class="glyphicon glyphicon-barcode"></i>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-2">
                            <h1><p class="text-center"><strong>=</strong></p></h1>
                        </div>
                        <div class="col-md-5">
                            <div class="note highlight">
                                <h2 class="block">{{ product_child.name }}</h2>
                                <div class="form-group form-md-line-input form-md-floating-label">
                                    <div class="input-icon">
                                        <input type="number" min="0" name="quantity-child" id="quantity-child" class="form-control edited" readonly />
                                        <label for="">{% trans 'New Total'|capfirst %}</label>
                                        <span class="help-block"></span>
                                        <i class="glyphicon glyphicon-barcode"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-fit">
                    <button class="btn red-flamingo" type="submit">{% trans "convert"|capfirst %}</button>
                    <a href="{% url 'store:products' %}" class="btn grey-gallery">{% trans "go back to products"|capfirst %}</a>
                </div>
                </form>
                {% else %}
                    <div class="note note-danger">
                        <h4 class="block">{% trans "stock insufficient"|capfirst %}</h4>
                        <p>
                             {% trans "Sorry, but the stock of" %} <strong>{{ product_parent.name }}</strong> {% trans "is insufficient or isn't has reference transform." %}
                        </p>
                        <a href="{% url 'store:products' %}" class="btn grey-gallery">{% trans "go back to products"|capfirst %}</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts_custom %}
<script>
    $(document).ready(function(){
        var q_s = parseFloat({{ product_parent.stock }});
        var q_p = parseFloat({{ product_parent.quantity }});
        var q_c = parseFloat({{ product_child.stock }});
        $('#quantity-child').val(q_p * q_s + q_c);
       $('#quantity-parent').on('change', function(){
           var val = $(this).val();
           $('#quantity-child').val(q_p * val + q_c);
       });
    });
</script>
{% endblock %}