{% extends 'main/layout.html' %}

{% load i18n %}
{% load static %}
{% load widget_tweaks %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'main/plugins/bootstrap-toastr/toastr.min.css' %}"/>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'store:products' %}">{% trans 'products'|capfirst %}</a>
        <i class="fa fa-angle-right"></i>
    </li>
    <li>
        <a href="{% url 'store:new_product' %}">{% trans title|capfirst %}</a>
    </li>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="portlet light">
                <div class="portlet-body">
                    <form method="post" action="." role="form">
                        {% csrf_token %}
                        <div class="form-body">
                            <div class="form-group form-md-line-input {% if product_form.code.errors %}has-error{% else %}has-success{% endif %} form-md-floating-label">
                                <div class="input-icon">
                                    {% if product_form.code.errors %}{{ product_form.code|add_class:"edited" }}{% else %}{{ product_form.code }}{% endif %}
                                    <label for="{{ product_form.code.id_for_label }}">{% trans 'code'|capfirst %}</label>
                                    <span class="help-block">{{ product_form.code.errors }}</span>
                                    <i class="glyphicon glyphicon-barcode"></i>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input {% if product_form.name.errors %}has-error{% else %}has-success{% endif %} form-md-floating-label">
                                <div class="input-icon">
                                    {% if product_form.name.errors %}{{ product_form.name|add_class:"edited" }}{% else %}{{ product_form.name }}{% endif %}
                                    <label for="{{ product_form.name.id_for_label }}">{% trans 'name'|capfirst %}</label>
                                    <span class="help-block">{{ product_form.name.errors }}</span>
                                    <i class="glyphicon glyphicon-shopping-cart"></i>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input {% if product_form.price.errors %}has-error{% else %}has-success{% endif %} form-md-floating-label">
                                <div class="input-icon">
                                    {% if product_form.price.errors %}{{ product_form.price|add_class:"edited" }}{% else %}{{ product_form.price }}{% endif %}
                                    <label for="{{ product_form.price.id_for_label }}">{% trans 'price'|capfirst %}</label>
                                    <span class="help-block">{{ product_form.price.errors }}</span>
                                    <i class="glyphicon glyphicon-tag"></i>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input {% if product_form.unit_type.errors %}has-error{% else %}has-success{% endif %} form-md-floating-label">
                                <div class="input-icon">
                                    {% if product_form.unit_type.errors %}{{ product_form.unit_type|add_class:"edited" }}{% else %}{{ product_form.unit_type }}{% endif %}
                                    <label for="{{ product_form.unit_type.id_for_label }}">{% trans 'unit type'|capfirst %}</label>
                                    <span class="help-block">{{ product_form.unit_type.errors }}</span>
                                    <i class="glyphicon glyphicon-th-list"></i>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input {% if product_form.category.errors %}has-error{% else %}has-success{% endif %}  form-md-floating-label">
                                <div class="input-group">
                                    <div class="input-group-control">
                                        {% if product_form.category.errors %}{{ product_form.category|add_class:"edited" }}{% else %}{{ product_form.category }}{% endif %}
                                        <label for="{{ product_form.category.id_for_label }}">{% trans 'category'|capfirst %}</label>
                                        <span class="help-block">{{ product_form.category.errors }}</span>
                                    </div>
                                    <span class="input-group-btn btn-right">
                                        <a data-toggle="modal" href="#responsive" class="btn green">{% trans "new category"|capfirst %}</a>
                                    </span>
                                </div>
                            </div>
                            <div class="form-group form-md-line-input {% if product_form.is_pack.errors %}has-error{% else %}has-success{% endif %}  form-md-floating-label">
                                <div class="input-group">
                                    <div class="md-checkbox">
                                        {% if product_form.is_pack.errors %}{{ product_form.is_pack|add_class:"edited md-check" }}{% else %}{{ product_form.is_pack|add_class:"md-check" }}{% endif %}
                                        <label for="{{ product_form.is_pack.id_for_label }}">
                                            <span></span>
                                            <span class="check"></span>
                                            <span class="box"></span>
                                            {% trans 'is pack?'|capfirst %}
                                        </label>
                                        <span class="help-block">{{ product_form.is_pack.errors }}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="is-pack {% if product_form.initial.is_pack %}show{% else %}hide{% endif %}">
                            <div class="form-group form-md-line-input {% if product_form.reference.errors %}has-error{% else %}has-success{% endif %}  form-md-floating-label">

                                <div class="input-group">
                                    <div class="input-group-control">
                                        {% if product_form.reference.errors %}{{ product_form.reference|add_class:"edited" }}{% else %}{{ product_form.reference }}{% endif %}
                                        <label for="{{ product_form.reference.id_for_label }}">{% trans 'reference'|capfirst %}</label>
                                        <span class="help-block">{{ product_form.reference.errors }}</span>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group form-md-line-input {% if product_form.quantity.errors %}has-error{% else %}has-success{% endif %} form-md-floating-label">
                                <div class="input-icon">
                                    {% if product_form.quantity.errors %}{{ product_form.quantity|add_class:"edited" }}{% else %}{{ product_form.quantity }}{% endif %}
                                    <label for="{{ product_form.quantity.id_for_label }}">{% trans 'quantity'|capfirst %}</label>
                                    <span class="help-block">{{ product_form.quantity.errors }}</span>
                                    <i class="glyphicon glyphicon-plus"></i>
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="form-actions noborder">
                            <button type="submit" class="btn blue">{% trans 'save' %}</button>
                            <a href="{% url 'store:products' %}" class="btn red">{% trans 'cancel' %}</a>
                        </div>
                    </form>
                    <div id="responsive" class="modal fade" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">{% trans 'new'|capfirst %} {% trans 'category'|capfirst %}</h4>
                                </div>
                                <form id="form-category" action="{% url "store:new_category" %}" method="post" role="form">
                                <div class="modal-body">
                                    <div class="" style="" data-always-visible="1" data-rail-visible1="1">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {% csrf_token %}
                                                <div class="form-body">
                                                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                                                        <div class="input-icon">
                                                            {{ category_form.name }}
                                                            <label for="{{ category_form.name.id_for_label }}">{% trans 'name'|capfirst %}</label>
                                                            <span class="help-block"></span>
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                    <div class="form-group form-md-line-input has-success form-md-floating-label">
                                                        <div class="input-icon">
                                                            {{ category_form.parent }}
                                                            <label for="{{ category_form.parent.id_for_label }}">{% trans 'parent'|capfirst %}</label>
                                                            <span class="help-block"></span>
                                                            <i class="fa fa-bell-o"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn default" id="close-modal">{% trans "close"|capfirst %}</button>
                                    <button type="submit" class="btn green" id="save-category">{% trans "save changes"|capfirst %}</button>
                                </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts_plugins %}
<script type="text/javascript" src="{% static 'main/plugins/bootstrap-toastr/toastr.min.js' %}"></script>
{% endblock %}

{% block scripts %}

        jQuery('#form-category').submit(function(e){
            e.preventDefault();
            var url = this.action;
            var type = this.method;
            var data = $(this).serialize();

            jQuery.ajax({
                url: url,
                type: type,
                data: data,
                dataType: 'json',
                success: function(response) {
                    if (response.success) {
                        $('#close-modal').click();
                        $('#'+'{{ product_form.category.id_for_label }}').append('<option value="'+response.id+'" selected>'+response.name+'</option>');
                        $('#'+'{{ product_form.category.id_for_label }}').addClass('edited');
                    } else {
                        alert("fail");
                    }
                }
            });

        });
        $('#id_is_pack').on('change', function(){
            if (this.checked) {
                $('.is-pack').removeClass('hide');
                $('.is-pack').addClass('show')
            } else {
                $('.is-pack').addClass('hide');
                $('.is-pack').removeClass('show');
            }
        });
{% endblock %}