{% extends 'app/layout.html' %}
{% load i18n %}
{% block content %}

<div class="btn-group pull-right" style="margin-top:25px;">
	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		<span class="glyphicon glyphicon-cog"></span>
	</button>

	<ul class="dropdown-menu">
		<li{% if page.code == 'profile_edit' %} class="active"{% endif %}>
			<a href="{% url 'accounts:profile_edit' %}">{% trans "Edit profile" %}</a>
		</li>
		<li{% if page.code == 'password_edit' %} class="active"{% endif %}>
			<a href="{% url 'accounts:password_change' %}">{% trans "Change password" %}</a>
		</li>
	</ul>
</div>

{% include "snippets/form_complete.html" with form=form %}

{% endblock %}
