{% extends 'panels/layout.html' %}
{% load i18n %}
{% block content %}

<div class="contenedor_form paypal_request">
	<div class="inner cover landing">
		<h3 class="home_subtitle">{{ message|safe }}</h3>
	</div>
</div>

{% endblock %}
