{% extends 'main/base_container.html' %}
{% block content %}
    <div class="container-narrow">
        <h1 class="title">{% if not member %} {{ form.form_meta.title }}{% else %} Actualizando Socio {% endif %}</h1>

        <form role="form" action="." method="post" enctype="multipart/form-data" class="horizontal">
            {% csrf_token %}
            <fieldset>
                <legend>
                    Datos del usuario
                </legend>
                {% include 'hock/form_horizontal.html' with form=user_form %}
                {% include 'hock/form_horizontal.html' with form=user_profile_form %}
            </fieldset>
            <fieldset>
                <legend>
                    Datos de la persona
                </legend>
                {% include 'hock/form_horizontal.html' with form=person_form %}
            </fieldset>
            <input type="submit" value="Guardar"/>
        </form>
    </div>
{% endblock %}
