{% extends 'main/layout.html' %}
{% load i18n %}
{% block content %}
    <div class="portlet light bordered">
        <div class="portlet-title">
            <div class="caption font-green">
                <i class="icon-pin font-green"></i>
                {#            <span class="caption-subject bold uppercase"> {{ title }}</span>#}
                <span class="caption-subject bold uppercase"> {% trans 'please, fill these fields' %}</span>
            </div>
        </div>
        <div class="portlet-body form">
            <form role="form" action="." method="post" enctype="multipart/form-data" class="horizontal">
                {% csrf_token %}
                <fieldset>
                    <legend>
                        Datos del usuario
                    </legend>
                    {% include 'hock/form_horizontal.html' with form=user_form %}
                </fieldset>
                <fieldset>
                    <legend>
                        Datos de la persona
                    </legend>
                    {% include 'hock/form_horizontal.html' with form=person_form %}
                </fieldset>
                <input type="submit" value="Guardar"/>
            </form>
        </div>
    </div>
{% endblock %}
