{% extends 'main/base_container.html' %}


{% load thumbnail %}


{% block content %}

    <p class="create-panel-button">
        <a href="{% url 'accounts:new' %}" class="button">
            Crear usuario
        </a>
    </p>

    <h1 class="title">Mis usuarios</h1>

    <p class="create-panel-button-small-screen">
        <a href="{% url 'accounts:new' %}" class="button">
            Crear usuario
        </a>
    </p>

    {% if users %}

        <div class="cards">
            {% for user in users %}
                <div class="outer-card">
                    <div class="card">
                        <div class="card-image">
                            {% thumbnail user.profile.image "600x350" crop="center" as im %}
                                <img src="{{ im.url }}"/>
                            {% endthumbnail %}
                        </div>
                        <div class="card-header">
                            {{ user.person.name }}
                        </div>
                        <div class="card-copy">
                            <p>{{ user.type }}</p>

{#                            <a href="url 'panels:reservations' panel.id %}">reservar</a> |#}
                            <a href="{% url 'accounts:edit' user.id %}">editar</a> |
                            <a class="delete_link" href="{% url 'accounts:delete' user.id %}">eliminar</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <p class="text-center give-me-space-top">
            <a href="{% url 'accounts:new' %}" class="button">Crear usuario</a>
        </p>

    {% else %}
        <p class="text-center">
            <em>No tienes usuarios aún. <a href="{% url 'accounts:new' %}">Puedes crear un usuario aquí</a></em>
        </p>
    {% endif %}
{% endblock %}

{% block footer_scripts %}
    <script>
        $('.delete_link').click(function (e) {
            if (!confirm("Are you sure?")) {
                e.preventDefault();
                return false;
            }
        });
    </script>
{% endblock %}
