{% extends 'main/layout.html' %}
{% load i18n %}
{% load static %}
{% block breadcrumb %}
<li>
    <a href="{% url 'memberships:home' %}">{% trans 'memberships'|capfirst %}</a>
    <i class="fa fa-angle-right"></i>
</li>
<li>
    <a>{% trans title|capfirst %}</a>
</li>
{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'main/plugins/jonthornton-jquery-timepicker/jquery.timepicker.css' %}">
{% endblock %}
{% block content %}
<div class="portlet light">
    <h1 class="title">{% if not member %} {{ form.form_meta.title }}{% else %} Actualizando
        Membresia {% endif %}</h1>

    <form role="form" action="." method="post" class="horizontal">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                {% include 'hock/form_horizontal_field.html' with field=form_product.name %}
            </div>

            <div class="col-md-6">
                {% include 'hock/form_horizontal_field.html' with field=form_product.price %}
            </div>

            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        {% include 'hock/form_horizontal_field.html' with field=form.duration_frequency %}
                    </div>
                    <div class="col-md-6">
                        {% include 'hock/form_horizontal_field.html' with field=form.duration_type %}
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                {% include 'hock/form_horizontal_field.html' with field=form.limit_visits_per_day %}
            </div>

            <div class="col-md-6">
                <div class="col-md-6">
                    {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_promo %}
                </div>
                <div class="col-md-6">
                    {% include 'hock/form_horizontal_field.html' with field=form.date_end %}
                </div>
            </div>

            <div class="col-md-12">
                <div class="form-group form-md-checkboxes">
                    <label>{% trans 'allowed days' %}</label>

                    <div class="md-checkbox-inline">
                        {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_on_monday %}
                        {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_on_tuesday %}
                        {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_on_wednesday %}
                        {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_on_thursday %}
                        {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_on_friday %}
                        {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_on_saturday %}
                        {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_on_sunday %}

                    </div>
                </div>
            </div>
            <br>
            <br>
            <div class="col-md-12">
                <div class="col-md-6">
                    {% include 'hock/form_horizontal_field.html' with field=form.from_time %}
                </div>
                <div class="col-md-6">
                    {% include 'hock/form_horizontal_field.html' with field=form.to_time %}
                </div>
            </div>
            <br>
            <div class="col-md-6">
                {% include 'hock/form_horizontal_field_checkbox.html' with field=form.is_active %}
            </div>
        </div>
        <br>
        <input type="submit" class="btn btn-lg blue" value="{% trans 'save' %}"/>
    </form>
</div>
{% endblock %}
{% block javascripts_custom %}
<script type="text/javascript"
        src="{% static 'main/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

<script type="text/javascript"
        src="{% static 'main/plugins/jonthornton-jquery-timepicker/jquery.timepicker.js' %}"></script>
{% endblock %}
{% block scripts %}

$('.date-picker').datepicker({
format: 'dd/mm/yyyy',
autoclose: true
}).on('hide', function(e){
$(this).addClass('edited');
});

if (!$('#id_is_promo').is(':checked')){
$('#id_date_end').parent().hide();
}

$('#id_is_promo').change(function(){
if ($('#id_is_promo').is(':checked')){
$('#id_date_end').parent().show();
}else{
$('#id_date_end').parent().hide();
}
})

$('.timepicker').timepicker({'minTime':'5:00am','maxTime':'10:00pm','timeFormat': 'h:i a' });
    Demo.init('memberships'); // init demo features
{% endblock %}