{% extends 'main/layout.html' %}

{% load i18n %}
{% load thumbnail %}

{% block breadcrumb %}
    <li>
        <a href="{% url 'memberships:home' %}">{% trans title|capfirst %}</a>
    </li>
{% endblock %}

{% block page_toolbar %}
    {% if perms.main.add_membership %}
    <a href="{% url 'memberships:new' %}" class="btn btn-fit-height blue pull-right">
        <span class="fa fa-plus"></span>
        Crear Membresia
    </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if memberships %}
        <div class="row">
            {% for membership in memberships %}
                <div class="col-md-4">
                    <div class="portlet light">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-cogs font-green-sharp"></i>
                                <span class="caption-subject font-green-sharp bold uppercase">{{ membership.product.name }}</span>
                                <span class="caption-helper"></span>
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="list-group">
                                <a class="list-group-item" href="javascript:;">
                                    {% trans 'duration' %}: {{ membership.duration_frequency }} {{ membership.get_duration_type_display }}
                                </a>
                                <a class="list-group-item" href="javascript:;">
                                    {% trans 'allowed days' %}: {{ membership.allowed_days }}
                                </a>
                                {% if membership.is_promo %}
                                <a class="list-group-item" href="javascript:;">
                                    {% trans 'promo available until' %}: {{ membership.date_end }}
                                </a>
                                {% endif %}
                                <a class="list-group-item" href="javascript:;">
                                    {% trans 'members' %}: {{ membership.get_count_members }}
                                </a>
                            </div>
                            <div class="btn-group btn-group-justified">
                                <a class="btn" href="{% url 'memberships:edit' membership.id %}">
                                    <span class="fa fa-edit"></span>
                                    Editar
                                </a>
                                <a class="btn delete_link" href="{% url 'memberships:delete' membership.id %}">
                                    <span class="fa fa-trash"></span>
                                    Eliminar
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:3 %}
                    </div>
                    <div class="row">
                {% endif %}
            {% endfor %}
            </div>

    {% else %}
        <p class="text-center">
            <em>No tienes membresias aún. <a href="{% url 'memberships:new' %}">Puedes crear un membresia aquí</a></em>
        </p>
    {% endif %}
{% endblock %}

{% block scripts %}
    $('.delete_link').click(function (e) {
    if (!confirm("Are you sure?")) {
    e.preventDefault();
    return false;
    }
    });
{% endblock %}
