/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/

.row-table > [class*="col-"] {
  display: table-cell;
  float: none;
  table-layout: fixed;
  vertical-align: middle;
}

.page-header.navbar .page-logo .logo-default{
    height: 50px;
    margin: 0;
}
.page-header.navbar .page-logo{
    background: white;
    border-right:1px #f5f0f0 solid;
}
.page-actions h2{
    margin:0;
}

.page-actions .page-breadcrumb {
    font-size: 25px;
    display: inline-block;
    float: left;
    padding: 0;
    margin: 0;
    list-style: none;
}

.page-actions .page-breadcrumb > li {
    display: inline-block;
}

.page-top .search-form-expanded {
    float: right !important;
}

.page-header.navbar .search-form.search-form-expanded{
    width: 250px;
}

.range_date, .range_date .input-icon {
    display: inline;
}

.range_date .input-icon > i{
    margin:8px 2px 4px 10px;
}