/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
}

/**
 * Remove default margin.
 */
body {
    margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
    display: inline-block;
    /* 1 */
    vertical-align: baseline;
    /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
    display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
    background-color: transparent;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
    outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
    border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
    font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
    font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

/**
 * Address styling not present in IE 8/9.
 */
mark {
    background: #ff0;
    color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
    font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
    border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
    overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
    margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
    overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
    font-family: monospace, monospace;
    font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
    overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
    line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
    border: 0;
    /* 1 */
    padding: 0;
    /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
    overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
    font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

button, input[type="button"], input[type="reset"], input[type="submit"],
.button, button {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-font-smoothing: antialiased;
    background-color: #477dca;
    border-radius: 0;
    border: none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Lato, sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    padding: 0.75em 1em;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

button:hover, button:focus, input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
.button:hover,
.button:focus, button:hover, button:focus {
    background-color: #2c5999;
    color: #fff;
}

button:disabled, input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
.button:disabled, button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

button .gray, input[type="button"] .gray, input[type="reset"] .gray, input[type="submit"] .gray,
.button .gray, button .gray {
    background-color: #ccc;
}

fieldset {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    margin: 0 0 0.9375em;
    padding: 1.875em;
}

input,
label,
select {
    display: block;
    font-family: Lato, sans-serif;
    font-size: 1em;
}

label {
    font-weight: 600;
    margin-bottom: 0.46875em;
}

label.required::after {
    content: "*";
}

label abbr {
    display: none;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], textarea,
select[multiple=multiple],
textarea {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 0;
    box-shadow: none;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
    font-size: 1em;
    margin-bottom: 0.9375em;
    padding: 0.625em;
    transition: border-color;
    width: 100%;
}

input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:hover,
select[multiple=multiple]:hover,
textarea:hover {
    border-color: #c4c4c4;
}

input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, textarea:focus,
select[multiple=multiple]:focus,
textarea:focus {
    border-color: #477dca;
    box-shadow: none;
    outline: none;
}

textarea {
    resize: vertical;
    max-height: 7.5em;
}

input[type="search"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
    display: inline;
    margin-right: 0.46875em;
    margin-top: 0.9375em;
    margin-bottom: 0.625em;
}

input[type="file"] {
    width: 100%;
    padding-top: 0.625em;
    padding-bottom: 0.625em;
}

select {
    background-color: #fff;
    font-family: Lato, sans-serif;
    font-size: 1em;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 0.9375em;
    border: 1px solid #ddd;
    padding: 0.625em;
    max-width: 100%;
    width: 100%;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

dl {
    margin-bottom: 0.9375em;
}

dl dt {
    font-weight: bold;
    margin-top: 0.9375em;
}

dl dd {
    margin: 0;
}

table {
    -webkit-font-feature-settings: "kern", "liga", "tnum";
    -moz-font-feature-settings: "kern", "liga", "tnum";
    -ms-font-feature-settings: "kern", "liga", "tnum";
    font-feature-settings: "kern", "liga", "tnum";
    border-collapse: collapse;
    margin: 0.9375em 0;
    table-layout: fixed;
    width: 100%;
}

th {
    border-bottom: 1px solid #b7b7b7;
    font-weight: 600;
    padding: 0.9375em 0;
    text-align: left;
}

td {
    border-bottom: 1px solid #ddd;
    padding: 0.9375em 0;
}

tr,
td,
th {
    vertical-align: middle;
}

body {
    -webkit-font-feature-settings: "kern", "liga", "pnum";
    -moz-font-feature-settings: "kern", "liga", "pnum";
    -ms-font-feature-settings: "kern", "liga", "pnum";
    font-feature-settings: "kern", "liga", "pnum";
    -webkit-font-smoothing: antialiased;
    color: #333;
    font-family: Lato, sans-serif;
    font-size: 1em;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Lato, sans-serif;
    font-size: 1em;
    line-height: 1.2;
    margin: 0 0 0.9375em;
}

p {
    margin: 0 0 0.9375em;
}

a {
    color: #477dca;
    text-decoration: none;
    transition: color 0.1s linear;
}

a:active, a:focus, a:hover {
    color: #2c5999;
}

a:active, a:focus {
    outline: none;
}

hr {
    border-bottom: 1px solid #ddd;
    border-left: none;
    border-right: none;
    border-top: none;
    margin: 1.875em 0;
}

img,
picture {
    margin: 0;
    max-width: 100%;
}

html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}

.dropdown {
    line-height: 1.5;
    z-index: 99;
}

.dropdown .dropdown-container {
    display: inline-block;
    position: relative;
    text-align: center;
}

.dropdown .dropdown-description {
    background: #fff;
    border-bottom-left-radius: 0;
    border-bottom: 1px solid silver;
    border-left: 1px solid silver;
    border-top-left-radius: 0;
    border-top: 1px solid silver;
    color: #999999;
    float: left;
    font-size: 0.7em;
    line-height: 40px;
    margin: 0;
    padding: 0 0.5em 0 1em;
}

@media screen and (min-width: 53.75em) {
    .dropdown .dropdown-description {
        font-size: 1em;
    }
}

.dropdown .dropdown-button {
    background: #fff;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    cursor: pointer;
    float: right;
    font-size: 0.7em;
    font-weight: 800;
    line-height: 40px;
    margin: 0;
    padding: 0 2.5em 0 0.5em;
    position: relative;
    color: #333;
}

@media screen and (min-width: 53.75em) {
    .dropdown .dropdown-button {
        font-size: 1em;
        padding: 0 2.5em 0 0.5em;
    }
}

.dropdown .dropdown-button:hover {
    background-color: #f7f7f7;
}

.dropdown .dropdown-button:after {
    color: #333;
    content: "\25BE";
    display: block;
    position: absolute;
    right: 1em;
    top: 0;
}

.dropdown .dropdown-menu {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #fff;
    border-radius: 0;
    border: 1px solid silver;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    color: #333;
    cursor: pointer;
    display: none;
    margin: 0;
    overflow: show;
    padding: 0;
    position: absolute;
    right: 0;
    top: 50px;
    width: 228px;
    z-index: 99999;
}

.dropdown .dropdown-menu:before {
    position: absolute;
    top: 0;
    right: 1em;
    bottom: 0;
    left: 0;
    color: #fff;
    content: "\25b2";
    font-size: 1.4em;
    pointer-events: none;
    text-shadow: 0 -2px 2px rgba(0, 0, 0, 0.3);
    top: -0.7em;
}

.dropdown .dropdown-menu li {
    border-bottom: 1px solid silver;
    color: #333;
    list-style: none;
    padding: 0.5em;
}

.dropdown .dropdown-menu li:hover {
    background: #f7f7f7;
}

.dropdown .dropdown-menu li:first-child {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.dropdown .dropdown-menu li:last-child {
    border: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dropdown .show-menu {
    display: block;
}

header.navigation {
    background-color: #F5F5F5;
    border-bottom: 1px solid gainsboro;
    min-height: 60px;
    width: 100%;
    z-index: 999;
}

header.navigation .navigation-wrapper {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 9999;
}

header.navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
}

header.navigation .navigation-wrapper::after {
    clear: both;
    content: "";
    display: table;
}

header.navigation .logo {
    float: left;
    max-height: 60px;
    padding-left: 1em;
    padding-right: 2em;
}

header.navigation .logo img {
    max-height: 60px;
    padding: 0.8em 0;
}

header.navigation .navigation-menu-button {
    color: rgba(51, 51, 51, 0.7);
    display: block;
    float: right;
    font-weight: 700;
    line-height: 60px;
    margin: 0;
    padding-right: 1em;
    text-transform: uppercase;
}

@media screen and (min-width: 53.75em) {
    header.navigation .navigation-menu-button {
        display: none;
    }
}

header.navigation .navigation-menu-button:focus, header.navigation .navigation-menu-button:hover {
    color: #333;
}

header.navigation nav {
    float: none;
    min-height: 60px;
    z-index: 9999999;
}

@media screen and (min-width: 53.75em) {
    header.navigation nav {
        float: left;
    }
}

header.navigation ul.navigation-menu {
    -webkit-transform-style: preserve-3d;
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 9999;
}

header.navigation ul.navigation-menu.show {
    display: block;
}

@media screen and (min-width: 53.75em) {
    header.navigation ul.navigation-menu {
        display: inline;
        margin: 0;
        padding: 0;
    }
}

header.navigation ul li.nav-link {
    background: #F5F5F5;
    display: block;
    line-height: 60px;
    overflow: hidden;
    padding-right: 0.8em;
    text-align: right;
    width: 100%;
    z-index: 9999;
}

@media screen and (min-width: 53.75em) {
    header.navigation ul li.nav-link {
        background: transparent;
        display: inline;
        line-height: 60px;
        text-decoration: none;
        width: auto;
    }
}

header.navigation ul li.nav-link a {
    color: rgba(51, 51, 51, 0.7);
    display: inline-block;
    font-weight: 400;
    text-decoration: none;
}

@media screen and (min-width: 53.75em) {
    header.navigation ul li.nav-link a {
        padding-right: 1em;
    }
}

header.navigation ul li.nav-link a:focus, header.navigation ul li.nav-link a:hover {
    color: #333;
}

header.navigation .active-nav-item a {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    padding-bottom: 3px;
}

header.navigation li.more.nav-link {
    padding-right: 0;
}

@media screen and (min-width: 53.75em) {
    header.navigation li.more.nav-link {
        padding-right: 1em;
    }
}

header.navigation li.more.nav-link > ul > li:first-child a {
    padding-top: 1em;
}

header.navigation li.more.nav-link a {
    margin-right: 1em;
}

header.navigation li.more.nav-link > a {
    padding-right: 0.6em;
}

header.navigation li.more.nav-link > a:after {
    position: absolute;
    top: auto;
    right: -0.4em;
    bottom: auto;
    left: auto;
    content: '\25BE';
    color: rgba(51, 51, 51, 0.7);
}

header.navigation li.more {
    overflow: visible;
    padding-right: 0;
}

header.navigation li.more a {
    padding-right: 0.8em;
}

header.navigation li.more > a {
    padding-right: 1.6em;
    position: relative;
}

@media screen and (min-width: 53.75em) {
    header.navigation li.more > a {
        margin-right: 1em;
    }
}

header.navigation li.more > a:after {
    content: '>';
    font-size: 1.2em;
    position: absolute;
    right: 0.5em;
}

header.navigation li.more:focus > .submenu, header.navigation li.more:hover > .submenu {
    display: block;
}

@media screen and (min-width: 53.75em) {
    header.navigation li.more {
        padding-right: 0.8em;
        position: relative;
    }
}

header.navigation ul.submenu {
    display: none;
    padding-left: 0;
}

@media screen and (min-width: 53.75em) {
    header.navigation ul.submenu {
        left: -1em;
        position: absolute;
        top: 1.5em;
    }
}

@media screen and (min-width: 53.75em) {
    header.navigation ul.submenu .submenu {
        left: 11.8em;
        top: 0;
    }
}

header.navigation ul.submenu li {
    display: block;
    padding-right: 0;
}

@media screen and (min-width: 53.75em) {
    header.navigation ul.submenu li {
        line-height: 46.15385px;
    }

    header.navigation ul.submenu li:first-child > a {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    header.navigation ul.submenu li:last-child > a {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding-bottom: 0.7em;
    }
}

header.navigation ul.submenu li a {
    background-color: #ededed;
    display: inline-block;
    text-align: right;
    width: 100%;
}

@media screen and (min-width: 53.75em) {
    header.navigation ul.submenu li a {
        background-color: #F5F5F5;
        padding-left: 1em;
        text-align: left;
        width: 12em;
    }
}

header.navigation .navigation-tools {
    clear: both;
    display: block;
    height: 0;
    padding-left: 0.5em;
    padding-right: 1em;
}

@media screen and (min-width: 53.75em) {
    header.navigation .navigation-tools {
        background: transparent;
        clear: none;
        float: right;
    }
}

header.navigation .sign-up {
    background-color: #477dca;
    border-radius: 3px;
    border: 0;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    display: inline;
    float: right;
    font-size: 0.8em;
    margin-top: 1em;
    padding: 0.75em 1em;
    text-transform: uppercase;
}

header.navigation .sign-up:hover:not(:disabled) {
    background-color: #578ad4;
    cursor: pointer;
}

header.navigation .sign-up:active:not(:disabled), header.navigation .sign-up:focus:not(:disabled) {
    background-color: #3c71bb;
    cursor: pointer;
}

header.navigation .sign-up:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

header.navigation .search-bar {
    float: left;
    padding: 0.85em 0.6em 0.7em 0.6em;
    width: 60%;
}

header.navigation .search-bar form {
    position: relative;
}

header.navigation .search-bar form input[type=search] {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: white;
    border-radius: 0;
    border: 1px solid #e8e8e8;
    color: rgba(51, 51, 51, 0.7);
    font-size: 0.9em;
    font-style: italic;
    margin: 0;
    padding: 0.5em 0.8em;
    width: 100%;
}

@media screen and (min-width: 53.75em) {
    header.navigation .search-bar form input[type=search] {
        width: 100%;
    }
}

header.navigation .search-bar form button[type=submit] {
    background-color: white;
    border-radius: 3px;
    border: 0;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    background-color: white;
    border-radius: 3px;
    border: 0;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    bottom: 0.3em;
    left: auto;
    outline: none;
    padding: 0 9px;
    position: absolute;
    right: 0.3em;
    top: 0.3em;
}

header.navigation .search-bar form button[type=submit]:hover:not(:disabled) {
    background-color: white;
    cursor: pointer;
}

header.navigation .search-bar form button[type=submit]:active:not(:disabled), header.navigation .search-bar form button[type=submit]:focus:not(:disabled) {
    background-color: #f2f2f2;
    cursor: pointer;
}

header.navigation .search-bar form button[type=submit]:hover:not(:disabled) {
    background-color: white;
    cursor: pointer;
}

header.navigation .search-bar form button[type=submit]:active:not(:disabled), header.navigation .search-bar form button[type=submit]:focus:not(:disabled) {
    background-color: #f2f2f2;
    cursor: pointer;
}

header.navigation .search-bar form button[type=submit]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

header.navigation .search-bar form button[type=submit] img {
    height: 12px;
    opacity: 0.7;
    padding: 1px;
}

@media screen and (min-width: 53.75em) {
    header.navigation .search-bar {
        display: inline-block;
        position: relative;
        width: 16em;
    }

    header.navigation .search-bar input {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
    }
}

.hero {
    background: url("http://quehacerpara.net/wp-content/uploads/2014/11/57720_gd.jpg"), -webkit-linear-gradient(10deg, #20392B, #7F99BE), no-repeat #7F99BE scroll;
    background: url("http://quehacerpara.net/wp-content/uploads/2014/11/57720_gd.jpg"), linear-gradient(10deg, #20392B, #7F99BE), no-repeat #7F99BE scroll;
    background-color: #324766;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 3em;
    height: 100%;
}

.hero:before {
    opacity: 0.8;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
    background-color: black !important;
}

.hero .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
}

.hero .hero-menu {
    color: #fff;
    position: relative;
    z-index: 2;
    float: right;
    right: 30px;
    top: 15px;
}

.hero .hero-menu a {
    color: #fff;
    margin-right: 10px;
    margin-left: 10px;
}

.hero .hero-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    color: white;
    margin: auto;
    padding: 4.5em;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 20%;
}

.hero .hero-inner::after {
    clear: both;
    content: "";
    display: table;
}

.hero .hero-inner::after {
    clear: both;
    content: "";
    display: table;
}

@media screen and (min-width: 53.75em) {
    .hero .hero-inner {
        top: 25%;
    }
}

.hero .hero-inner .hero-copy {
    text-align: center;
}

.hero .hero-inner .hero-copy h1 {
    font-size: 2.6em;
    margin-bottom: 0.5em;
}

@media screen and (min-width: 53.75em) {
    .hero .hero-inner .hero-copy h1 {
        font-size: 2.8em;
    }
}

.hero .hero-inner .hero-copy p {
    font-weight: 200;
    line-height: 1.4em;
    margin: 0 auto 3em auto;
    font-size: 1.5em;
}

@media screen and (min-width: 53.75em) {
    .hero .hero-inner .hero-copy p {
        font-size: 1.55em;
        max-width: 40%;
    }
}

.hero .hero-inner button {
    background-color: #477dca;
    border-radius: 3px;
    border: 0;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    padding: 0.7em 1em;
}

.hero .hero-inner button:hover:not(:disabled) {
    background-color: #578ad4;
    cursor: pointer;
}

.hero .hero-inner button:active:not(:disabled), .hero .hero-inner button:focus:not(:disabled) {
    background-color: #3c71bb;
    cursor: pointer;
}

.hero .hero-inner button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.cards {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

.cards::after {
    clear: both;
    content: "";
    display: table;
}

.outer-card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

.outer-card:last-child {
    margin-right: 0;
}

.outer-card:nth-child(1n) {
    margin-right: 0;
}

.outer-card:nth-child(1n+1) {
    clear: left;
}

@media screen and (min-width: 40em) {
    .outer-card {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
    }

    .outer-card:nth-child(1n) {
        margin-right: 2.35765%;
    }

    .outer-card:nth-child(1n+1) {
        clear: none;
    }

    .outer-card:last-child {
        margin-right: 0;
    }

    .outer-card:nth-child(2n) {
        margin-right: 0;
    }

    .outer-card:nth-child(2n+1) {
        clear: left;
    }
}

@media screen and (min-width: 53.75em) {
    .outer-card {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
    }

    .outer-card:nth-child(2n) {
        margin-right: 2.35765%;
    }

    .outer-card:nth-child(2n+1) {
        clear: none;
    }

    .outer-card:last-child {
        margin-right: 0;
    }

    .outer-card:nth-child(3n) {
        margin-right: 0;
    }

    .outer-card:nth-child(3n+1) {
        clear: left;
    }
}

.card {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-radius: 0;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px #e6e6e6;
    margin: 0 1em 1.875em 1em;
}

.card .card-image {
    overflow: hidden;
    max-height: 250px;
}

.card .card-image img {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background: #DBD199;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    width: 100%;
}

.card .card-header {
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
    border-radius: 0 0 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: 0.625em 0.9375em;
}

.card .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: 0.9375em 0.9375em;
}

.card .card-copy p {
    margin: 0 0 0.9375em;
}

.card:focus, .card:hover {
    background-color: white;
}

.card:focus .card-image img, .card:hover .card-image img {
    background: #e2daac;
}

.card:focus .card-header, .card:hover .card-header {
    background-color: white;
}

.card:active {
    background-color: #f7f7f7;
}

.card:active .card-header {
    background-color: #f7f7f7;
}

#map_canvas {
    height: 400px;
    width: 100%;
}

#map_canvas img {
    max-width: none;
}

#map_canvas .content {
    padding: 0 0.5em 1em 0.5em;
}

#map_canvas .firstHeading {
    font-size: 1em;
    line-height: 1em;
    font-weight: bold;
    margin: 0;
}

#map_canvas #bodyContent p {
    font-size: 1em;
    margin: 0;
}

.flash-alert {
    background-color: #fff6bf;
    color: #8c7800;
    display: block;
    font-weight: 600;
    margin-bottom: 0.9375em;
    padding: 0.9375em;
    text-align: center;
}

.flash-alert a {
    color: #594c00;
    text-decoration: underline;
}

.flash-alert a:focus, .flash-alert a:hover {
    color: black;
}

.flash-error {
    background-color: #fbe3e4;
    color: #96151b;
    display: block;
    font-weight: 600;
    margin-bottom: 0.9375em;
    padding: 0.9375em;
    text-align: center;
}

.flash-error a {
    color: #6a0f13;
    text-decoration: underline;
}

.flash-error a:focus, .flash-error a:hover {
    color: #110203;
}

.flash-notice {
    background-color: #e5edf8;
    color: #244e87;
    display: block;
    font-weight: 600;
    margin-bottom: 0.9375em;
    padding: 0.9375em;
    text-align: center;
}

.flash-notice a {
    color: #19375f;
    text-decoration: underline;
}

.flash-notice a:focus, .flash-notice a:hover {
    color: #04080e;
}

.flash-success {
    background-color: #e6efc2;
    color: #56651a;
    display: block;
    font-weight: 600;
    margin-bottom: 0.9375em;
    padding: 0.9375em;
    text-align: center;
}

.flash-success a {
    color: #333c10;
    text-decoration: underline;
}

.flash-success a:focus, .flash-success a:hover {
    color: black;
}

h1.form-title {
    font-weight: 300;
    text-align: center;
    font-size: 2em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 0.75em;
}

form fieldset legend {
    font-weight: 400;
    text-transform: uppercase;
}

form .help-block {
    font-size: smaller;
}

form.horizontal input[type=submit], form.narrow input[type=submit] {
    display: block;
    margin: 1.75em auto 1.25em;
}

form.horizontal div.form-group {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 9px;
}

form.horizontal div.form-group::after {
    clear: both;
    content: "";
    display: table;
}

form.horizontal div.form-group div.form-label {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

form.horizontal div.form-group div.form-label:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    form.horizontal div.form-group div.form-label {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
        text-align: left;
        padding-top: 0.5em;
    }

    form.horizontal div.form-group div.form-label:last-child {
        margin-right: 0;
    }
}

form.horizontal div.form-group div.form-field {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

form.horizontal div.form-group div.form-field:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    form.horizontal div.form-group div.form-field {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
    }

    form.horizontal div.form-group div.form-field:last-child {
        margin-right: 0;
    }
}

form.horizontal div.form-group div.form-field-2 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

form.horizontal div.form-group div.form-field-2:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    form.horizontal div.form-group div.form-field-2 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 14.70196%;
    }

    form.horizontal div.form-group div.form-field-2:last-child {
        margin-right: 0;
    }
}

form.horizontal div.form-group div.form-field-4 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

form.horizontal div.form-group div.form-field-4:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    form.horizontal div.form-group div.form-field-4 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
    }

    form.horizontal div.form-group div.form-field-4:last-child {
        margin-right: 0;
    }
}

form.horizontal div.form-group div.form-field-6 {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

form.horizontal div.form-group div.form-field-6:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    form.horizontal div.form-group div.form-field-6 {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
    }

    form.horizontal div.form-group div.form-field-6:last-child {
        margin-right: 0;
    }
}

@media screen and (min-width: 53.75em) {
    form.horizontal div.form-group span.help-block {
        margin-top: -0.625em;
        display: block;
    }
}

form.narrow {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

form.narrow:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    form.narrow {
        margin-left: 25.58941%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        padding: auto 15em;
    }

    form.narrow:last-child {
        margin-right: 0;
    }
}

form div.has-error {
    color: #96151b;
}

form div.has-error input {
    border-bottom-color: #ee898d;
}

form div.has-error input:hover {
    border-color: #c4c4c4;
}

form div.has-error input:focus {
    border-color: #477dca;
}

/*
.wrapper-for-content-outside-of-footer {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

html, body {
  height: 100%;
}

.wrapper-for-content-outside-of-footer:after {
  content: "";
  display: block;
}

.footer-2, .wrapper-for-content-outside-of-footer:after {
  height: 17em;

  @include media($large-screen) {
    height: 4em;
  }
}
*/
.footer-2 {
    background: #9E2020;
    padding: 1.875em;
    width: 100%;
    display: inline-block;
    z-index: 9;
}

@media screen and (min-width: 53.75em) {
    .footer-2 {
        position: fixed;
        bottom: 0;
    }
}

.footer-2 .footer-logo {
    margin-right: 1em;
    margin-bottom: 1em;
}

@media screen and (min-width: 53.75em) {
    .footer-2 .footer-logo {
        float: left;
        margin-bottom: 0;
    }
}

.footer-2 .footer-logo img {
    height: 1.6em;
}

.footer-2 ul {
    line-height: 1.5em;
    margin: 0 0 1em 0;
    padding: 0;
}

@media screen and (min-width: 53.75em) {
    .footer-2 ul {
        float: left;
        line-height: 1.8em;
        margin-left: 1em;
        margin-bottom: 0;
    }
}

.footer-2 ul li {
    font-weight: 800;
    list-style: none;
    padding-right: 1em;
}

@media screen and (min-width: 53.75em) {
    .footer-2 ul li {
        display: inline;
        text-align: left;
    }
}

.footer-2 ul li a {
    color: rgba(255, 255, 255, 0.65);
    text-decoration: none;
}

.footer-2 ul li a:focus, .footer-2 ul li a:hover {
    color: white;
}

@media screen and (min-width: 53.75em) {
    .footer-2 .footer-secondary-links {
        float: right;
    }
}

.footer-2 .footer-secondary-links li {
    font-size: 0.8em;
    font-weight: 400;
}

.footer-2 .footer-secondary-links ul.footer-social {
    margin: 1em 0 0 0;
}

@media screen and (min-width: 53.75em) {
    .footer-2 .footer-secondary-links ul.footer-social {
        float: right;
        margin-top: 0;
    }
}

.footer-2 .footer-secondary-links ul.footer-social li {
    font-size: 1em;
    float: left;
    line-height: 0;
    margin: 0;
    padding-right: 0.7em;
}

.footer-2 .footer-secondary-links ul.footer-social li:last-child {
    padding-right: 0;
}

.footer-2 .footer-secondary-links ul.footer-social img {
    height: 1.6em;
    opacity: 0.7;
    padding: 1px;
}

.footer-2 .footer-secondary-links ul.footer-social img:focus, .footer-2 .footer-secondary-links ul.footer-social img:hover {
    opacity: 1;
}

.modal label {
    cursor: pointer;
    margin-bottom: 0;
    font-weight: normal;
    font-size: smaller;
}

.modal label img {
    border-radius: 150px;
    display: block;
    max-width: 300px;
}

.modal .modal-state {
    display: none;
}

.modal .modal-trigger {
    background-color: #477dca;
    border-radius: 3px;
    border: 0;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    padding: 0.8em 1em;
}

.modal .modal-trigger:hover:not(:disabled) {
    background-color: #578ad4;
    cursor: pointer;
}

.modal .modal-trigger:active:not(:disabled), .modal .modal-trigger:focus:not(:disabled) {
    background-color: #3c71bb;
    cursor: pointer;
}

.modal .modal-trigger:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.modal .modal-fade-screen {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.85);
    opacity: 0;
    padding-top: 0.6em;
    text-align: left;
    visibility: hidden;
    z-index: 99999999999;
}

@media screen and (min-width: 53.75em) {
    .modal .modal-fade-screen {
        padding-top: 10em;
    }
}

.modal .modal-fade-screen .modal-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    cursor: pointer;
}

.modal .modal-close {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    height: 1.5em;
    width: 1.5em;
    background: #fff;
    cursor: pointer;
}

.modal .modal-close:after, .modal .modal-close:before {
    position: absolute;
    top: 3px;
    right: 3px;
    bottom: 0;
    left: 50%;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    height: 1.5em;
    width: 0.15em;
    background: #ddd;
    content: '';
    display: block;
    margin: -3px 0 0 -1px;
}

.modal .modal-close:hover:after, .modal .modal-close:hover:before {
    background: #c4c4c4;
}

.modal .modal-close:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.modal .modal-inner {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    background: #fff;
    border-radius: 0;
    margin-top: 0;
    margin: auto;
    max-height: 95%;
    overflow: auto;
    padding: 1.5em;
    position: relative;
    width: 95%;
}

@media screen and (min-width: 40em) {
    .modal .modal-inner {
        max-height: 70%;
        padding: 3em;
        width: 60%;
    }
}

@media screen and (min-width: 53.75em) {
    .modal .modal-inner {
        width: 50%;
    }
}

.modal .modal-inner h1 {
    color: #333;
    margin-bottom: 0 0 0.6em 0;
    text-align: left;
    text-transform: capitalize;
}

.modal .modal-inner p {
    color: #333;
    line-height: 1.5;
}

.modal .modal-inner .modal-intro {
    font-weight: 800;
}

.modal .modal-inner .modal-content {
    color: #333;
}

@media screen and (min-width: 40em) {
    .modal .modal-inner .modal-content {
        -webkit-columns: 2 8em;
        -moz-columns: 2 8em;
        columns: 2 8em;
    }
}

.modal .modal-inner a.cta {
    color: white;
    display: inline-block;
    margin-right: 0.5em;
    margin-top: 1em;
}

.modal .modal-inner a.cta:last-child {
    padding: 0 2em;
}

.modal .modal-state:checked + .modal-fade-screen {
    opacity: 1;
    visibility: visible;
}

.modal .modal-state:checked + .modal-fade-screen .modal-inner {
    top: 0.5em;
}

.modal-open {
    overflow: hidden;
}

.search-bar {
    position: relative;
}

.search-bar input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color;
    -moz-transition: border-color;
    transition: border-color;
    background-color: white;
    border-radius: 0;
    border-radius: 0;
    border: 1px solid #ddd;
    display: block;
    font-size: 1em;
    font-style: italic;
    margin: 0;
    padding: 0.625em 0.625em;
    position: relative;
    width: 100%;
}

.search-bar button[type=submit] {
    background-color: #477dca;
    border-radius: 3px;
    border: 0;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    position: absolute;
    top: 0em;
    right: 0em;
    bottom: 0em;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    outline: none;
    padding: 5px 10px;
}

.search-bar button[type=submit]:hover:not(:disabled) {
    background-color: #578ad4;
    cursor: pointer;
}

.search-bar button[type=submit]:active:not(:disabled), .search-bar button[type=submit]:focus:not(:disabled) {
    background-color: #3c71bb;
    cursor: pointer;
}

.search-bar button[type=submit]:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.search-bar button[type=submit] img {
    height: 12px;
    opacity: 0.7;
}

.search-tools {
    background: #f7f7f7;
    border-radius: 0;
    border: 1px solid #ddd;
    padding: 0.809em;
}

.search-tools::after {
    clear: both;
    content: "";
    display: table;
}

.search-tools ol {
    margin: 0;
    padding: 0;
}

.search-tools li {
    font-size: 0.8em;
    line-height: 1.5em;
    list-style: none;
}

.search-tools label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.46875em;
}

.search-tools .filter {
    margin-bottom: 1em;
}

@media screen and (min-width: 53.75em) {
    .search-tools .filter {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 27.49666%;
        margin-bottom: 0;
    }

    .search-tools .filter:last-child {
        margin-right: 0;
    }
}

.search-tools .filter > div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: border-color;
    -moz-transition: border-color;
    transition: border-color;
    background-color: white;
    border-radius: 0;
    border: 1px solid #ddd;
    font-size: 1em;
    margin-bottom: 0.9375em;
    padding: 0.625em 0.625em;
    position: relative;
    width: 100%;
}

.search-tools .filter > div:focus, .search-tools .filter > div:hover {
    border-color: #c4c4c4;
}

.search-tools .filter > div label {
    cursor: pointer;
    font-weight: 400;
    margin-bottom: 0;
}

.search-tools .filter ol {
    margin-top: 1em;
}

.search-tools .filter ol label {
    display: inline;
}

.search-tools .filter button {
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-linear-gradient(white, #e3e3e3);
    background-image: linear-gradient(white, #e3e3e3);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    border: 1px solid #dfd8d8;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 white;
    color: #333333;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    background-color: white;
    background-image: -webkit-linear-gradient(white, #e5e0e0);
    background-image: linear-gradient(white, #e5e0e0);
    padding: 7px 18px;
    text-decoration: none;
    text-shadow: 0 1px 0 white;
    background-clip: padding-box;
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: auto;
    left: auto;
    font-size: 0.7em;
}

.search-tools .filter button:hover:not(:disabled) {
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(#f2f2f2, #dbdbdb);
    background-image: linear-gradient(#f2f2f2, #dbdbdb);
    box-shadow: inset 0 1px 0 0 white;
    cursor: pointer;
}

.search-tools .filter button:active:not(:disabled), .search-tools .filter button:focus:not(:disabled) {
    border: 1px solid #dbdbdb;
    box-shadow: inset 0 0 8px 4px #d4d4d4, inset 0 0 8px 4px #d4d4d4;
}

.search-tools .filter button:hover:not(:disabled) {
    background-color: #f2f2f2;
    background-image: -webkit-linear-gradient(#f2f2f2, #ded8d8);
    background-image: linear-gradient(#f2f2f2, #ded8d8);
    box-shadow: inset 0 1px 0 0 white;
    cursor: pointer;
}

.search-tools .filter button:active:not(:disabled), .search-tools .filter button:focus:not(:disabled) {
    border: 1px solid #dfd8d8;
    box-shadow: inset 0 0 8px 4px #d7d1d1, inset 0 0 8px 4px #d7d1d1;
}

.search-tools .filter button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.search-tools .filter .hide-options {
    margin-bottom: 0;
}

.search-tools .filter .hide-options ol, .search-tools .filter .hide-options button {
    display: none;
}

.search-tools .trigger {
    width: 100%;
}

@media screen and (min-width: 53.75em) {
    .search-tools .trigger {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 10.43705%;
    }

    .search-tools .trigger:last-child {
        margin-right: 0;
    }
}

.search-tools .trigger button {
    background-color: #477dca;
    border-radius: 3px;
    border: 0;
    color: white;
    display: inline-block;
    font-size: inherit;
    font-weight: bold;
    padding: 7px 18px;
    text-decoration: none;
    background-clip: padding-box;
    margin-top: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    width: 100%;
}

.search-tools .trigger button:hover:not(:disabled) {
    background-color: #578ad4;
    cursor: pointer;
}

.search-tools .trigger button:active:not(:disabled), .search-tools .trigger button:focus:not(:disabled) {
    background-color: #3c71bb;
    cursor: pointer;
}

.search-tools .trigger button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

@media screen and (min-width: 53.75em) {
    .search-tools .trigger button {
        margin-top: 1.55em;
    }
}

.label-switch {
    border-radius: 32px;
    cursor: pointer;
    display: inline-block;
    height: 32px;
    position: relative;
    width: 52px;
}

.label-switch input[type="checkbox"] {
    display: none;
}

.label-switch input[type="checkbox"] + .checkbox {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #e8e8e8;
    border-radius: 32px;
    border: none;
    cursor: pointer;
    height: 32px;
    margin: 0;
    padding: 0;
    position: relative;
    width: 52px;
    z-index: 0;
}

.label-switch input[type="checkbox"] + .checkbox:before {
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    left: 2px;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: #fff;
    border-radius: 32px;
    content: "";
    height: 28px;
    width: 48px;
    z-index: 1;
}

.label-switch input[type="checkbox"] + .checkbox:after {
    position: absolute;
    top: 2px;
    right: 0;
    bottom: 0;
    left: 2px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 28px;
    width: 28px;
    background: #fff;
    border-radius: 28px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    content: "";
    z-index: 2;
}

.label-switch input[type="checkbox"]:checked + .checkbox {
    background: #477dca;
}

.label-switch input[type="checkbox"]:checked + .checkbox:before {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.label-switch input[type="checkbox"]:checked + .checkbox:after {
    left: 22px;
}

.accordion-tabs-minimal {
    line-height: 1.5;
    padding: 0;
}

.accordion-tabs-minimal::after {
    clear: both;
    content: "";
    display: table;
}

.accordion-tabs-minimal li.tab-header-and-content {
    list-style: none;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal li.tab-header-and-content {
        display: inline;
    }
}

.accordion-tabs-minimal a.link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    display: block;
    font-weight: 400;
    padding: 0.9375em 1.618em;
    text-decoration: none;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal a.link {
        display: inline-block;
        border-top: 0;
    }
}

.accordion-tabs-minimal a.link:hover {
    color: #477dca;
}

.accordion-tabs-minimal a.tab-link {
    background-color: #fff;
    border-top: 1px solid #ddd;
    color: #333;
    display: block;
    font-weight: 400;
    padding: 0.9375em 1.618em;
    text-decoration: none;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal a.tab-link {
        display: inline-block;
        border-top: 0;
    }
}

.accordion-tabs-minimal a.tab-link:hover {
    color: #477dca;
}

.accordion-tabs-minimal a.tab-link:focus {
    outline: none;
}

.accordion-tabs-minimal a.tab-link.is-active {
    border-bottom: 0;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal a.tab-link.is-active {
        border: 1px solid #ddd;
        border-bottom-color: #fff;
        margin-bottom: -1px;
    }
}

.accordion-tabs-minimal .tab-content {
    display: none;
    padding: 1.875em 1.618em;
    width: 100%;
}

@media screen and (min-width: 40em) {
    .accordion-tabs-minimal .tab-content {
        border-top: 1px solid #ddd;
        float: left;
    }
}

.expander {
    width: 100%;
}

.expander .expander-trigger {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 1px solid #ddd;
    color: #477dca;
    cursor: pointer;
    display: block;
    font-size: 1em;
    margin-bottom: 1em;
    padding-bottom: 0.25em;
    text-decoration: none;
}

.expander .expander-trigger span {
    font-weight: 600;
}

.expander .expander-trigger:before {
    font-size: 0.7em;
    content: "\25BC";
    margin-right: 0.5em;
}

.expander .expander-content p {
    color: #333;
    line-height: 1.5;
}

.expander .expander-hidden {
    background-color: #fff;
}

.expander .expander-hidden span {
    font-weight: 400;
}

.expander .expander-hidden:before {
    font-size: 0.7em;
    content: "\25BA";
}

.expander .expander-hidden + .expander-content {
    display: none;
}

.expander .expander-content {
    padding-left: 30px;
}

.expander .inline label, .expander .inline select {
    display: inline;
    width: auto;
    margin-left: 10px;
}

a:hover {
    cursor: pointer;
}

.messages {
    margin: 0 2.5em 0.25em;
}

section.content {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3.5em;
    padding-bottom: 3.5em;
}

section.content::after {
    clear: both;
    content: "";
    display: table;
}

@media screen and (min-width: 53.75em) {
    section.content {
        margin-bottom: 95px;
    }
}

section.content section.contact-us {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

section.content section.contact-us:last-child {
    margin-right: 0;
}

section.content section.contact-us h2 {
    font-weight: 300;
    text-align: center;
    font-size: 2em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 1em;
}

section.content section.contact-us form {
    margin-left: 17.05961%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 65.88078%;
}

section.content section.contact-us form:last-child {
    margin-right: 0;
}

section.content section.contact-us form div.contact-form-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

section.content section.contact-us form div.contact-form-inner::after {
    clear: both;
    content: "";
    display: table;
}

section.content section.contact-us form div.contact-form-inner div.contact-meta {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

section.content section.contact-us form div.contact-form-inner div.contact-meta:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    section.content section.contact-us form div.contact-form-inner div.contact-meta {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
    }

    section.content section.contact-us form div.contact-form-inner div.contact-meta:last-child {
        margin-right: 0;
    }
}

section.content section.contact-us form div.contact-form-inner div.contact-message {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

section.content section.contact-us form div.contact-form-inner div.contact-message:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    section.content section.contact-us form div.contact-form-inner div.contact-message {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
    }

    section.content section.contact-us form div.contact-form-inner div.contact-message:last-child {
        margin-right: 0;
    }
}

section.content section.contact-us form div.contact-form-inner div.contact-message textarea {
    max-height: 153px;
}

section.content section.contact-us form div.contact-button {
    display: block;
    margin: 1.5em 0 3.5em;
    text-align: center;
}

@media screen and (min-width: 53.75em) {
    section.content section.contact-us form div.contact-button {
        text-align: right;
    }
}

section.content section.contact-us form ul.errorlist {
    color: #96151b;
    font-size: smaller;
}

section.content div.container-narrow {
    margin-left: 8.5298%;
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 82.94039%;
}

section.content div.container-narrow:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    section.content div.container-narrow {
        margin-left: 17.05961%;
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
    }

    section.content div.container-narrow:last-child {
        margin-right: 0;
    }
}

section.mail {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

section.mail::after {
    clear: both;
    content: "";
    display: table;
}

section.mail aside {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

section.mail aside:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    section.mail aside {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
    }

    section.mail aside:last-child {
        margin-right: 0;
    }
}

section.mail article {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

section.mail article:last-child {
    margin-right: 0;
}

@media screen and (min-width: 53.75em) {
    section.mail article {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 65.88078%;
    }

    section.mail article:last-child {
        margin-right: 0;
    }
}

.big-message {
    font-size: 2em;
    text-align: center;
    font-weight: 300;
    margin-top: 1em;
    margin-bottom: 2em;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.smaller {
    font-size: smaller;
}

.give-me-space-top {
    margin-top: 3.5em;
}

.give-me-some-space-top {
    margin-top: 2.5em;
}

.title {
    font-weight: 300;
    text-align: center;
    font-size: 2em;
    padding-right: 1.5em;
    padding-left: 1.5em;
    padding-bottom: 0.75em;
    color: black;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none !important;
}

.panel-map-title {
    margin-top: 1.25em;
}

.panel-map {
    margin: 1.75em -1.875em -1.875em;
    display: block;
    position: relative;
}

.panel-map .button-top-left, .panel-map .button-top-right {
    position: absolute;
    z-index: 99;
}

.panel-map .button-top-left {
    top: 0;
    left: 0;
}

.panel-map .button-top-right {
    top: 0;
    right: 0;
}

button.gray {
    background-color: #444;
}

button.gray:hover, button.gray:focus {
    background-color: #1e1e1e;
}

button.small {
    font-size: 0.8em;
}

.create-panel-button {
    display: none;
}

@media screen and (min-width: 40em) {
    .create-panel-button {
        margin-right: 1em;
        float: right;
        display: block;
    }
}

.create-panel-button-small-screen {
    display: block;
    text-align: center;
    margin-top: -2em;
    margin-bottom: 3em;
}

@media screen and (min-width: 40em) {
    .create-panel-button-small-screen {
        display: none;
    }
}

.advance-search-button-2 {
    margin-top: 1em;
}

.search-panel {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

.search-panel::after {
    clear: both;
    content: "";
    display: table;
}

.search-panel .map {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

.search-panel .map:last-child {
    margin-right: 0;
}

@media screen and (min-width: 40em) {
    .search-panel .map {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 74.41059%;
    }

    .search-panel .map:last-child {
        margin-right: 0;
    }
}

.search-panel .search-results {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    margin-top: 2em;
}

.search-panel .search-results:last-child {
    margin-right: 0;
}

@media screen and (min-width: 40em) {
    .search-panel .search-results {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 23.23176%;
        margin-top: 0;
        overflow-y: scroll;
        height: 500px;
    }

    .search-panel .search-results:last-child {
        margin-right: 0;
    }
}

.search-panel .search-results .search-result-item {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5em;
    margin-bottom: 1em;
    border-bottom: 1px dotted #F5F5F5;
}

.search-panel .search-results .search-result-item::after {
    clear: both;
    content: "";
    display: table;
}

.search-panel .search-results .search-result-item .search-image {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
}

.search-panel .search-results .search-result-item .search-image:last-child {
    margin-right: 0;
}

.search-panel .search-results .search-result-item .search-content {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%;
    padding-top: 0.5em;
}

.search-panel .search-results .search-result-item .search-content:last-child {
    margin-right: 0;
}

.search-panel .search-results .search-result-item .search-content span.name {
    display: block;
    font-weight: bold;
}

.search-panel .search-results .search-result-item .search-content span.description {
    display: block;
    font-size: smaller;
    color: #666;
}

.search-panel .search-results .search-result-item .search-content span.contact {
    font-size: smaller;
}

.multi-check {
    display: inline-block;
    min-width: 90px;
    min-height: 70px;
}

.user_task {
    background-color: #FCFCFC;
}

.user_task .date {
    color: #A9A9A9;
    margin-right: 15px;
}

.user_task .resume {
    margin-left: 10px;
    margin-bottom: 20px;
}

.user_task .resume hr {
    margin: 0;
}

.user_task:hover a span {
    font-weight: 600;
}

.postpone_menu {
    display: none;
}

.postpone_menu input {
    display: inline;
    width: 174px;
}

.person_information {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto;
}

.person_information::after {
    clear: both;
    content: "";
    display: table;
}

.person_information .card {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
}

.person_information .card:last-child {
    margin-right: 0;
}

@media screen and (min-width: 40em) {
    .person_information .card {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 31.76157%;
    }

    .person_information .card:last-child {
        margin-right: 0;
    }
}

.person_information .attendance {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 48.82117%;
}

.person_information .attendance:last-child {
    margin-right: 0;
}

@media screen and (min-width: 40em) {
    .person_information .attendance {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 57.35098%;
    }

    .person_information .attendance:last-child {
        margin-right: 0;
    }
}

.gray {
    background-color: #9b9b9b;
}

.gray:hover, .gray:focus {
    background-color: #757575;
}

/*# sourceMappingURL=style.css.map */
