section.contact-us
  @include span-columns(12)

  h2
    font-weight: 300
    text-align: center
    font-size: 2em
    padding-right: 1.5em
    padding-left: 1.5em
    padding-bottom: 1em

  form
    @include shift(2)
    @include span-columns(8)
    div.contact-form-inner
      @include outer-container

      div.contact-meta
        @include span-columns(12)
        @include media($large-screen-up)
          @include span-columns(4)


      div.contact-message
        @include span-columns(12)
        @include media($large-screen-up)
          @include span-columns(8)

        textarea
          max-height: 153px

    div.contact-button
      display: block
      margin: 1.5em 0 3.5em
      text-align: center

      @include media($large-screen-up)
        text-align: right

    ul.errorlist
      color: $danger
      font-size: smaller
