h1.form-title
  font-weight: 300
  text-align: center
  font-size: 2em
  padding-right: 1.5em
  padding-left: 1.5em
  padding-bottom: 0.75em


form
  fieldset
    legend
      font-weight: 400
      text-transform: uppercase

  .help-block
    font-size: smaller


form.horizontal, form.narrow
  input[type=submit]
    display: block
    margin: 1.75em auto 1.25em


form.horizontal

  div.form-group
    @include outer-container
    border-bottom: 1px solid #ECECEC
    margin-bottom: 9px

    div.form-label
      @include span-columns(12)

      @include media($large-screen-up)
        @include span-columns(4)
        text-align: left
        padding-top: 0.5em

    div.form-field
      @include span-columns(12)
      @include media($large-screen-up)
        @include span-columns(8)

    div.form-field-2
      @include span-columns(12)
      @include media($large-screen-up)
        @include span-columns(2)

    div.form-field-4
      @include span-columns(12)
      @include media($large-screen-up)
        @include span-columns(4)            

    div.form-field-6
      @include span-columns(12)
      @include media($large-screen-up)
        @include span-columns(6)

    span.help-block
      @include media($large-screen-up)
        margin-top: -0.625em
        display: block

form.narrow
  @include span-columns(12)

  @include media($large-screen-up)
    @include shift(3)
    @include span-columns(6)
    padding: auto 15em

form
  div.has-error
    color: $danger

    input
      $border-color: $danger
      border-bottom-color: lighten($border-color, 40%)

      &:hover
        border-color: darken($base-border-color, 10%)

      &:focus
        border-color: $action-color
