.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background-top: #7F99BE;
  $hero-background-bottom: #20392B;
  $hero-color: white;
  $gradient-angle: 10deg;
  $hero-image: 'http://quehacerpara.net/wp-content/uploads/2014/11/57720_gd.jpg';

  &:before {
    opacity: 0.8;
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 1;
    top: 0px;
    background-color: darken($hero-background-top, 90%) !important;
  }

  @include background(url($hero-image), linear-gradient($gradient-angle, $hero-background-bottom, $hero-background-top), no-repeat $hero-background-top scroll);
  background-color: #324766;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 3em;
  height: 100%;

  .hero-logo img {
    height: 4em;
    margin-bottom: 1em;
  }

  .hero-menu {
    color: #fff;
    position: relative;
    z-index: 2;
    float: right;
    right: 30px;
    top: 15px;
    a {
      color: #fff;
      margin-right: 10px;
      margin-left: 10px;
    }
  }

  .hero-inner {
    @include outer-container;
    @include clearfix;
    color: $hero-color;
    margin: auto;
    padding: 4.5em;
    text-align: center;
    position: relative;
    z-index: 2;
    top: 20%;
    @include media($large-screen) {
      top: 25%;
    }

    .hero-copy {
      text-align: center;

      h1 {
        font-size: 2.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          font-size: 2.8em;
        }
      }

      p {
        font-weight: 200;
        line-height: 1.4em;
        margin: 0 auto 3em auto;
        font-size: 1.5em;

        @include media($large-screen) {
          font-size: 1.55em;
          max-width: 40%;
        }
      }
    }

    button {
      @include button(flat, $action-color);
      padding: 0.7em 1em;
    }
  }
}
